<h1>Edit Person</h1>

<%= form_for @person do |f| %>
	<% if @person.errors.any? %>
		<div class="error_messages">
			<h2>Oops, there were a few problems:</h2>
			<ul>
				<% for message in @person.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= render 'person_form', :f => f %>
	<div class="clear"></div>
	<div class="actions form-actions"><%= f.submit "Save", :class => "btn btn-primary" %></div>
<% end %>