<h1>New Person</h1>

<%= form_for @person do |f| %>
	<% if @person.errors.any? %>
		<div class="error_messages">
			<h2>Oops, there were a few problems:</h2>
			<ul>
				<% for message in @person.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= render 'person_form', :f => f %>

<% end %>