<div class="political_poll">
	<h1>2012 Emerson College Political Poll</h1>
	<p>Sponsored by <%= link_to "The Berkeley Beacon", "http://berkeleybeacon.com" %>.</p>

	<% if @confirmed %>
	<p>Thanks for confirming your response. Share this poll with your friends!</p>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Fill out the 2012 @EmersonCollege political poll and see how your peers are voting:" data-via="BeaconUpdate" data-related="BeaconUpdate" data-hashtags="emersonpolitics">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="fb-like" data-href="http://berkeleybeacon.com/political_poll" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>
			<br/><br/>
			<a href="http://berkeleybeacon.com">&larr; Back to the Berkeley Beacon</a>
	<% else %>
	Sorry, that confirmation didn't seem to work. Make sure you copied and pasted the entire link, or email contact@berkeleybeacon.com if you still have trouble.
	<% end %>
</div>