<p>Thanks for participating in the 2012 Emerson College Political Poll!</p>
<p>To ensure your vote is counted, <a href="<%= @link %>">click here</a> to confirm that you're an Emerson student, or copy and paste the link below:</p>
<p><%= @link %></p>
<p>Your email address will not be saved or associated with your poll responses. And check the November 1 issue of The Berkeley Beacon to see this poll's results!</p>