<p>Hi <%= @name %>,</p>

<p>Welcome to the Berkeley Beacon staff. You'll now be able to <a href="http://www.berkeleybeacon.com/login">log in to the website</a> and upload stories and photos.</p>

<p>
	Your login email is: <%= @email %> <br/>
	Your new, temporary password is: <%= @password %>
</p>

<p>You should customize your password by logging in (<a href="http://www.berkeleybeacon.com/login">berkeleybeacon.com/login</a>) and going to your settings page (<a href="http://www.berkeleybeacon.com/settings">berkeleybeacon.com/settings</a>).</p>

<p>If you have any questions or problems logging in, email me (Ryan) at catalani.ryan@gmail.com.</p>

<p>
	Thanks,
	<br/> Ryan
</p>