<p>Hi <%= @name %>,</p>

<p>Your password to log in to the Berkeley Beacon's website has been reset. As you might know, all the editors used to have the same password – while that was convenient, it's quite insecure. Also, if you weren't able to log in before, you will be able to now.</p>

<p>
	Your login email is: <%= @email %> <br/>
	Your new, temporary password is: <%= @password %>
</p>

<p>Please change this password as soon as possible, by logging in (<a href="http://berkeleybeacon.com/login">berkeleybeacon.com/login</a>) and going to your settings page (<a href="http://berkeleybeacon.com/settings">berkeleybeacon.com/settings</a>).</p>

<p>If you have any questions or problems logging in, email me (Ryan) at catalani.ryan@gmail.com.</p>

<p>
	Thanks,
	<br/> Ryan
</p>