<div id="new_person_modal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>New Person</h3>
	</div>
	<%= form_for Person.new, :remote => true do |f| %>

	<div class="modal-body">
		<%= render 'people/person_form', :f => f %>
	</div>
	<div class="modal-footer">
		<img src="<%= asset_path('loading.gif') %>" alt="" class="spinner" style="display:none;float:right">
		<%= f.submit "Save", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
	</div>
	<% end %>

</div>