<div class="popular" style="display:none" id="popular2014">
	<div class="popular_switch">
		Most <a href="#" class="active" data-idref="popular_viewed">Viewed</a> <a href="#" data-idref="popular_shared">Shared</a>
	</div>

	<div id="popular_inner">
		<div class="popular_type" id="popular_viewed">
			<a href="#" class="popular_first"></a>
			<ol start="2"></ol>
		</div>
		<div class="popular_type" id="popular_shared">
			<a href="#" class="popular_first"></a>
			<ol start="2"></ol>
		</div>
	</div>
</div>