<h1>The articles</h1>
<% @articles.each do |article| %>
	Title: <%= article.title %><br/>
	Type: <%= article.articletype %><br/>
	Body: <%= article.body %><br/>
	Link: <%= link_to "link", article.to_url %><br /><br />
<% end %>