<h1>The articles</h1>
<% @articles.each do |article| %>
	Title: <%= article.title %><br/>
	<%= link_to "Link", article.to_url %> | <%= link_to "Edit", edit_article_url(article) %>
	<br /><br />
<% end %>