<h2>Controls</h2>
<p>For EIC delegation.</p>

<hr>

<h3>Edit home page layout</h3>
<%= link_to 'Edit', :new_home_layout, class: 'btn' %>

<hr>

<h3>Upload print issue PDF</h3>
<p>
	Upload issue PDF
	<%= collection_select :issue, :release_date, Issue.order('created_at DESC'), :id, :release_date_f %>
	<a href="#" class="btn" id="issue-upload-select">Go</a>
	<script>
		$("#issue-upload-select").click(function(){
			var url = "/issues/" + $("#issue_release_date").val() + "/edit";
			window.location = url;
		});
	</script>
</p>

<hr>

<h3>Manage scheduled social posts</h3>
<%= link_to "Manage", social_posts_path, class: 'btn' %>

<hr>

<h3>Edit user records</h3>
<%= link_to 'Edit', :people, class: 'btn' %>