<h3>Edit masthead</h3>

<div class="row">
	<div class="span4">
		<strong>Column 1</strong>
		<%= text_area_tag :masthead_col_1, nil, class: 'tinymce' %>
	</div>
	<div class="span4">
		<strong>Column 2</strong>
		<%= text_area_tag :masthead_col_2, nil, class: 'tinymce' %>
	</div>
	<div class="span4">
		<strong>Column 3</strong>
		<%= text_area_tag :masthead_col_3, nil, class: 'tinymce' %>
	</div>
</div>


<%= tinymce %>