<table class="table">
  <thead>
    <tr>
      <% 20.times do |x| %>
        <th>Q<%= x+1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <% 20.times do |x| %>
          <td><%= entry.send("q#{x+1}") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>