<div class="audio_box">
	<span class="title"><%= audio.title %></span><span class="credit"><%= bylineify_linked(audio).html_safe %></span>
	<br/>
	<audio controls>
		<% if audio.mp3 %>
			<source src="<%= audio.mp3 %>" type="audio/mpeg">
		<% end %>
		<% if audio.ogg %>
			<source src="<%= audio.ogg %>" type="audio/ogg">
		<% end %>
	</audio>
</div>