<h4>Popular on the Beacon</h4>
<ol>
	<% popular_articles.each do |story| %>
		<div class="popular-story">
			<!-- media -->
			<li>
				<%= link_to image_tag(story.mediafiles.first.media.thumb_40.url), story.to_url unless story.mediafiles.empty? or story.mediafiles.first.media.nil? %>
				<%= link_to truncate(story.title, :length => 60), story.to_url %>
				<div class="clear"></div>
			</li>
		</div>
	<% end %>
</ol>