<li>
	<%= link_to(image_tag(event_article.first_photo.media.thumb_40), event_article.to_url) if event_article.first_photo %>
	<p class="home_event_article_title"><%= link_to "#{event_article.event_day_str}: #{event_article.title}", event_article.to_url %></p>
	<p class="home_event_title"><%= event_article.first_event.title if event_article.first_event %></p>
</li>