<div class="video_page_video">
	
	<%= render 'shared/video_tag', :video => video, :preload => false %>
	<h3><%= video.title %></h3>
	<p><em><%= link_to "Read the story", video.latest_article.to_url %></em> &raquo; <%= video.latest_article.excerpt %></p>
	
</div>