<div class="container about">
	<div class="row">
		<div class="span3 offset1">
			<%= @col1.html_safe %>
		</div>

		<div class="span3 offset1">
			<%= @col2.html_safe %>
		</div>

		<div class="span3">
			<%= @col3.html_safe %>
		</div>
	</div>

</div>

