<div class="wrap content">

	<h3>Interactive Feature • April 15, 2015</h3>
	<h1>Calculate how much your adjunct professors earn</h1>

	<div class="row">
		<div class="text">
			<p>Adjunct professors are <a href="http://www.berkeleybeacon.com/news/2015/3/5/adjunct-professors-write-to-pelton-for-fair-pay" target="_blank">asking the college for higher pay</a> as their union negotiates a new contract. &#8220;We essentially work full-time, even if we’re not considered full-time employees,&#8221; adjunct professor Andre Puca, who led a letter-writing campaign earlier this year, told the Beacon in March. Some adjuncts have said Emerson doesn&#8217;t pay enough to justify working at the college.</p>

			<p>Part-time professors made up to 57 percent of Emerson&#8217;s faculty in 2014, according to the college’s latest public data. Their latest contract expired in July 2014.</p>

			<p>A landmark <a href="http://www.academicworkforce.org/CAW_portrait_2012.pdf" target="_blank">2010 survey</a> found that the median pay for a 3-credit course at a master&#8217;s level, private, nonprofit college was $2,904, or about $3,872 for a 4-credit course, for adjunct professors. Among master&#8217;s level, private, nonprofit colleges in New England, the median pay for a 3-credit course was $3,750, or $5,000 for 4 credits, according to an <a href="http://www.aaup.org/sites/default/files/files/2013%20Salary%20Survey%20Tables%20and%20Figures/Table%20B.pdf" target="_blank">analysis</a> of that survey by the American Association of University Professors.</p>

			<p>Enter your classes below to see how much your adjunct professors get paid.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col_33 inputs">
			<p>
				<label for="course_name" class="label">Course name</label>
				<select name="course_name" id="course_name" data-placeholder="Type in or choose a course...">
					<option value=""></option>
					<option value="Principles of Business (MB 200)">Principles of Business - MB 200</option>
					<option value="Managing Business Operations (MB 300)">Managing Business Operations - MB 300</option>
					<option value="Finance and Accounting (MB 310)">Finance and Accounting - MB 310</option>
					<option value="Top: Building an Arts-Based Business (MB 371)">Top: Building an Arts-Based Business - MB 371</option>
					<option value="Business Policy and Strategy (MB 400)">Business Policy and Strategy - MB 400</option>
					<option value="Entrepreneurship II (MB 473)">Entrepreneurship II - MB 473</option>
					<option value="Images of the Disabled (CD 153)">Images of the Disabled - CD 153</option>
					<option value="American Sign Language 1 (CD 162)">American Sign Language 1 - CD 162</option>
					<option value="Language Acquisition (CD 201)">Language Acquisition - CD 201</option>
					<option value="American Sign Language 2 (CD 208)">American Sign Language 2 - CD 208</option>
					<option value="Speech and Hearing Anatomy and Physiology (CD 234)">Speech and Hearing Anatomy and Physiology - CD 234</option>
					<option value="Survey of Language Disorders (CD 313)">Survey of Language Disorders - CD 313</option>
					<option value="Clinical Foundations (CD 400)">Clinical Foundations - CD 400</option>
					<option value="Speech Science (CD 403)">Speech Science - CD 403</option>
					<option value="American Sign Language 4 (CD 409)">American Sign Language 4 - CD 409</option>
					<option value="Aural Rehabilitation (CD 468)">Aural Rehabilitation - CD 468</option>
					<option value="Top: Autism (CD 497)">Top: Autism - CD 497</option>
					<option value="Fundamentals of Speech Communication (CC 100)">Fundamentals of Speech Communication - CC 100</option>
					<option value="Radio Programming & Operations (CC 150)">Radio Programming & Operations - CC 150</option>
					<option value="Evolution of Expression (CC 201)">Evolution of Expression - CC 201</option>
					<option value="Intercultural Communication (CC 203)">Intercultural Communication - CC 203</option>
					<option value="Global Political Communication (CC 221)">Global Political Communication - CC 221</option>
					<option value="Argument and Advocacy (CC 263)">Argument and Advocacy - CC 263</option>
					<option value="Oral Presentation of Literature (CC 264)">Oral Presentation of Literature - CC 264</option>
					<option value="Professional Voice and Speech (CC 265)">Professional Voice and Speech - CC 265</option>
					<option value="Conflict and Negotiation (CC 266)">Conflict and Negotiation - CC 266</option>
					<option value="Communication Theory (CC 280)">Communication Theory - CC 280</option>
					<option value="Politics, Advocacy, and Public Opinion (CC 303)">Politics, Advocacy, and Public Opinion - CC 303</option>
					<option value="Communicative Informatics (CC 304)">Communicative Informatics - CC 304</option>
					<option value="Management and Communication (CC 330)">Management and Communication - CC 330</option>
					<option value="Public Affairs Matrix: Media, Politics, and Advocacy (CC 345)">Public Affairs Matrix: Media, Politics, and Advocacy - CC 345</option>
					<option value="Media Broadcast Vocal Presentation (CC 350)">Media Broadcast Vocal Presentation - CC 350</option>
					<option value="Leadership (CC 357)">Leadership - CC 357</option>
					<option value="Public Diplomacy & Grass Roots Activism (CC 361)">Public Diplomacy & Grass Roots Activism - CC 361</option>
					<option value="Top: Stories of Illness and health: Transformative Technologies, Scripts and Performances (">Top: Stories of Illness and health: Transformative Technologies, Scripts and Performances (</option>CC 372)
					<option value="Mediation, Facilitation, and Dialogue (CC 415)">Mediation, Facilitation, and Dialogue - CC 415</option>
					<option value="Top: The Politics of War (CC 471)">Top: The Politics of War - CC 471</option>
					<option value="Professional Sports Communication and Management (CC 472)">Professional Sports Communication and Management - CC 472</option>
					<option value="Capstone in Leadership, Politics, and Social Advocacy (CC 475)">Capstone in Leadership, Politics, and Social Advocacy - CC 475</option>
					<option value="Capstone in Communication Studies (CC 476)">Capstone in Communication Studies - CC 476</option>
					<option value="Perspectives in World Dance (DA 203)">Perspectives in World Dance - DA 203</option>
					<option value="Dance Composition I: Improvisation (DA 231)">Dance Composition I: Improvisation - DA 231</option>
					<option value="Ballet I (DA 233)">Ballet I - DA 233</option>
					<option value="Modern Dance I (DA 234)">Modern Dance I - DA 234</option>
					<option value="Jazz Dance I (DA 237)">Jazz Dance I - DA 237</option>
					<option value="Ballet II (DA 333)">Ballet II - DA 333</option>
					<option value="Tap Dance II (DA 335)">Tap Dance II - DA 335</option>
					<option value="Jazz Dance II (DA 337)">Jazz Dance II - DA 337</option>
					<option value="Principles of Economics (EC 203)">Principles of Economics - EC 203</option>
					<option value="Elementary French 1 (LF 101)">Elementary French 1 - LF 101</option>
					<option value="Elementary French 2 (LF 102)">Elementary French 2 - LF 102</option>
					<option value="Principles and Practices of Health Communication (HC 200)">Principles and Practices of Health Communication - HC 200</option>
					<option value="Health Communication Campaigns (HC 400)">Health Communication Campaigns - HC 400</option>
					<option value="Western Civilization and Culture (HI 102)">Western Civilization and Culture - HI 102</option>
					<option value="Contemporary World History (HI 200)">Contemporary World History - HI 200</option>
					<option value="Non-Western World History (HI 201)">Non-Western World History - HI 201</option>
					<option value="Social Movements in the U.S. (HI 203)">Social Movements in the U.S. - HI 203</option>
					<option value="Islam in the World (HI 204)">Islam in the World - HI 204</option>
					<option value="The World Since 1914 (HI 208)">The World Since 1914 - HI 208</option>
					<option value="African-American History (HI 211)">African-American History - HI 211</option>
					<option value="History of the United States (HI 235)">History of the United States - HI 235</option>
					<option value="First-Year Honors Seminar 2 (HS 102)">First-Year Honors Seminar 2 - HS 102</option>
					<option value="Honors Writing Symposium (HS 103)">Honors Writing Symposium - HS 103</option>
					<option value="Sophomore Honors Seminar 4 (HS 202)">Sophomore Honors Seminar 4 - HS 202</option>
					<option value="Honors Thesis (HS 490)">Honors Thesis - HS 490</option>
					<option value="Forbidden Knowledge (IN 107)">Forbidden Knowledge - IN 107</option>
					<option value="Love and Eroticism in Western Culture (IN 108)">Love and Eroticism in Western Culture - IN 108</option>
					<option value="Top: Ethics & Communication (IN 123)">Top: Ethics & Communication - IN 123</option>
					<option value="Top: American Popular Culture (IN 123)">Top: American Popular Culture - IN 123</option>
					<option value="Top: Behind the Scenes: Media Makers and Media Making (IN 123)">Top: Behind the Scenes: Media Makers and Media Making - IN 123</option>
					<option value="Top: Blood Rites (20479)">Top: Blood Rites (20479)</option>
					<option value="Top: Sci & Psych of Survival (IN 123)">Top: Sci & Psych of Survival - IN 123</option>
					<option value="Top: Communication Revolutions (IN 123)">Top: Communication Revolutions - IN 123</option>
					<option value="Top: Americn Popular Culture (IN 123)">Top: Americn Popular Culture - IN 123</option>
					<option value="Literature of Extreme Situations (IN 126)">Literature of Extreme Situations - IN 126</option>
					<option value="The Politics of the Past: History, Memory, and the Arts (IN 127)">The Politics of the Past: History, Memory, and the Arts - IN 127</option>
					<option value="Exoticism in Literature and Art (IN 130)">Exoticism in Literature and Art - IN 130</option>
					<option value="Ways of Seeing (IN 135)">Ways of Seeing - IN 135</option>
					<option value="Staging American Women: The Culture of Burlesque (IN 138)">Staging American Women: The Culture of Burlesque - IN 138</option>
					<option value="Making Monsters (IN 146)">Making Monsters - IN 146</option>
					<option value="Creativity in Context (IN 150)">Creativity in Context - IN 150</option>
					<option value="Cultural Constructions of Identity (IN 152)">Cultural Constructions of Identity - IN 152</option>
					<option value="Introduction to Women's, Gender and Sexuality Studies (IN 200)">Introduction to Women's, Gender and Sexuality Studies - IN 200</option>
					<option value="Introduction to Digital Media and Culture (IN 206)">Introduction to Digital Media and Culture - IN 206</option>
					<option value="Top: Living (with) Borders and Borderlines (IN 210)">Top: Living (with) Borders and Borderlines - IN 210</option>
					<option value="Top: Intro to Global Studies (IN 210)">Top: Intro to Global Studies - IN 210</option>
					<option value="Top: Emotions & Everyday Life (IN 212)">Top: Emotions & Everyday Life - IN 212</option>
					<option value="Top:Digital Media &Culture Lab (IN 216)">Top:Digital Media &Culture Lab - IN 216</option>
					<option value="Poetry and Song (IN 303)">Poetry and Song - IN 303</option>
					<option value="Feminist Cultural Theory (IN 319)">Feminist Cultural Theory - IN 319</option>
					<option value="The Dammed Shawsheen: Blending Ecology and Economics in the Real World (IN 326)">The Dammed Shawsheen: Blending Ecology and Economics in the Real World - IN 326</option>
					<option value="Key Contempory Thinkers: Marx (IN 331)">Key Contempory Thinkers: Marx - IN 331</option>
					<option value="Civic Media (IN 333)">Civic Media - IN 333</option>
					<option value="Adv Top: Gender, Sexuality and the Middle East (IN 370)">Adv Top: Gender, Sexuality and the Middle East - IN 370</option>
					<option value="Top: Neither Angels Nor Demons (IN 374)">Top: Neither Angels Nor Demons - IN 374</option>
					<option value="Living Art in Real Space: Multidisciplinary Art and the Collaborative Process (IN 402)">Living Art in Real Space: Multidisciplinary Art and the Collaborative Process - IN 402</option>
					<option value="Discovering Journalism (JR 101)">Discovering Journalism - JR 101</option>
					<option value="Foundations of Journalism (JR 102)">Foundations of Journalism - JR 102</option>
					<option value="The Digital Journalist (JR 103)">The Digital Journalist - JR 103</option>
					<option value="Beat Reporting Across Media (JR 202)">Beat Reporting Across Media - JR 202</option>
					<option value="Law for Journalists (JR 211)">Law for Journalists - JR 211</option>
					<option value="Ethics for Journalists (JR 212)">Ethics for Journalists - JR 212</option>
					<option value="Advanced Audio-Video Journalism (JR 216)">Advanced Audio-Video Journalism - JR 216</option>
					<option value="Interactive News (JR 220)">Interactive News - JR 220</option>
					<option value="Sports Reporting (JR 240)">Sports Reporting - JR 240</option>
					<option value="Radio Journalism (JR 241)">Radio Journalism - JR 241</option>
					<option value="Feature Writing (JR 261)">Feature Writing - JR 261</option>
					<option value="Public Affairs Reporting (JR 292)">Public Affairs Reporting - JR 292</option>
					<option value="Professional Development Exper (JR 299)">Professional Development Exper - JR 299</option>
					<option value="TV News Producing (JR 318)">TV News Producing - JR 318</option>
					<option value="Environmental Journalism (JR 320)">Environmental Journalism - JR 320</option>
					<option value="News Editing and Design (JR 354)">News Editing and Design - JR 354</option>
					<option value="Top: Alternative Press (JR 364)">Top: Alternative Press - JR 364</option>
					<option value="Top: Music Journalism (JR 365)">Top: Music Journalism - JR 365</option>
					<option value="Top: Data Visualization (JR 368)">Top: Data Visualization - JR 368</option>
					<option value="ENG/TV News Reporting (JR 419)">ENG/TV News Reporting - JR 419</option>
					<option value="Top: Travel Writing (JR 485)">Top: Travel Writing - JR 485</option>
					<option value="Top: Investigative Consumer Reporting Project (JR 485)">Top: Investigative Consumer Reporting Project - JR 485</option>
					<option value="Online Publishing Capstone (JR 490)">Online Publishing Capstone - JR 490</option>
					<option value="Broadcast Jour Capstone (JR 491)">Broadcast Jour Capstone - JR 491</option>
					<option value="Deep Reporting Capstone (JR 492)">Deep Reporting Capstone - JR 492</option>
					<option value="Reporting Issues of Diversity (JR 555)">Reporting Issues of Diversity - JR 555</option>
					<option value="Multimed Journalism Practicum (JR 595)">Multimed Journalism Practicum - JR 595</option>
					<option value="Introduction to Literary Studies (LI 120)">Introduction to Literary Studies - LI 120</option>
					<option value="Literary Foundations (LI 201)">Literary Foundations - LI 201</option>
					<option value="American Literature (LI 202)">American Literature - LI 202</option>
					<option value="British Literature (LI 203)">British Literature - LI 203</option>
					<option value="Top: Autobiography (LI 204)">Top: Autobiography - LI 204</option>
					<option value="Top: Graphic Literature (LI 204)">Top: Graphic Literature - LI 204</option>
					<option value="Top: Food as Metaphor (LI 204)">Top: Food as Metaphor - LI 204</option>
					<option value="Top: European Literature (LI 204)">Top: European Literature - LI 204</option>
					<option value="Top: Major Minority Voices in Contemporary Literature (LI 204)">Top: Major Minority Voices in Contemporary Literature - LI 204</option>
					<option value="US Multicultural Literatures (LI 208)">US Multicultural Literatures - LI 208</option>
					<option value="Top: Harlem Renaissance (LI 209)">Top: Harlem Renaissance - LI 209</option>
					<option value="American Women Writers (LI 210)">American Women Writers - LI 210</option>
					<option value="Top: Southeastern Europe: Between the Empires (LI 211)">Top: Southeastern Europe: Between the Empires - LI 211</option>
					<option value="Topics in Global Literature: Travel, Transnationalism and Global Citizenship (LI 211)">Topics in Global Literature: Travel, Transnationalism and Global Citizenship - LI 211</option>
					<option value="Black Revolutionary Thought (LI 212)">Black Revolutionary Thought - LI 212</option>
					<option value="The Art of Nonfiction (LI 303)">The Art of Nonfiction - LI 303</option>
					<option value="Top: The Prose Poem (LI 304)">Top: The Prose Poem - LI 304</option>
					<option value="Modern Poetry and After (LI 305)">Modern Poetry and After - LI 305</option>
					<option value="Literatures of Continental Europe (LI 306)">Literatures of Continental Europe - LI 306</option>
					<option value="The Art of Fiction (LI 308)">The Art of Fiction - LI 308</option>
					<option value="Novel into Film (LI 313)">Novel into Film - LI 313</option>
					<option value="The American Short Story (LI 323)">The American Short Story - LI 323</option>
					<option value="British Novel 2 (LI 340)">British Novel 2 - LI 340</option>
					<option value="Native American Literature (LI 361)">Native American Literature - LI 361</option>
					<option value="Shakespearean Comedy (LI 372)">Shakespearean Comedy - LI 372</option>
					<option value="International Women Writers (LI 396)">International Women Writers - LI 396</option>
					<option value="The Forms of Poetry: Theory and Practice (LI 413)">The Forms of Poetry: Theory and Practice - LI 413</option>
					<option value="Travel Literature (LI 415)">Travel Literature - LI 415</option>
					<option value="Top: 20th Century American Women Writers and the American Dream (LI 421)">Top: 20th Century American Women Writers and the American Dream - LI 421</option>
					<option value="Top: Colonization and Diaspora: in the Light of Indian, Caribbean and African Novels (LI ">Top: Colonization and Diaspora: in the Light of Indian, Caribbean and African Novels - LI 423</option>423)
					<option value="Cultural Criticism (LI 436)">Cultural Criticism - LI 436</option>
					<option value="Top: Afrofuturism (LI 481)">Top: Afrofuturism - LI 481</option>
					<option value="Top: The Great Books (LI 482)">Top: The Great Books - LI 482</option>
					<option value="Topics in American Literature: LA Stories (LI 526)">Topics in American Literature: LA Stories - LI 526</option>
					<option value="L.A. Stories (LI 526)">L.A. Stories - LI 526</option>
					<option value="Communication, Media, and Society (MK 120)">Communication, Media, and Society - MK 120</option>
					<option value="Marketing and Marketing Communication (MK 121)">Marketing and Marketing Communication - MK 121</option>
					<option value="Understanding Consumers (MK 220)">Understanding Consumers - MK 220</option>
					<option value="Messages, Media & Channels (MK 221)">Messages, Media & Channels - MK 221</option>
					<option value="Brands, Organizations and Strategies (MK 222)">Brands, Organizations and Strategies - MK 222</option>
					<option value="Marketing, Sales, and Promotion for Radio (MK 230)">Marketing, Sales, and Promotion for Radio - MK 230</option>
					<option value="Professional Development Exper (MK 299)">Professional Development Exper - MK 299</option>
					<option value="Quantitative and Qualitative Research Methods (MK 332)">Quantitative and Qualitative Research Methods - MK 332</option>
					<option value="Ethnographic Methods & Cult An (MK 333)">Ethnographic Methods & Cult An - MK 333</option>
					<option value="Online Behavior & Web Analytics (MK 334)">Online Behavior & Web Analytics - MK 334</option>
					<option value="Breakthrough Thinking and Marketing Communications (MK 342)">Breakthrough Thinking and Marketing Communications - MK 342</option>
					<option value="Global Brand Strategies and Portfolio Management (MK 343)">Global Brand Strategies and Portfolio Management - MK 343</option>
					<option value="Marketing and Sales, Distribution and Service Relationships (MK 344)">Marketing and Sales, Distribution and Service Relationships - MK 344</option>
					<option value="The Corporate Communications Function and Social Responsibility (MK 346)">The Corporate Communications Function and Social Responsibility - MK 346</option>
					<option value="Creative Concepts and Storytelling (MK 352)">Creative Concepts and Storytelling - MK 352</option>
					<option value="Visual Literacy (MK 353)">Visual Literacy - MK 353</option>
					<option value="Writing for PR (MK 354)">Writing for PR - MK 354</option>
					<option value="Sales Promotion and Events Management (MK 355)">Sales Promotion and Events Management - MK 355</option>
					<option value="Media Relations (MK 356)">Media Relations - MK 356</option>
					<option value="Media Planning and the Customer Journey (MK 357)">Media Planning and the Customer Journey - MK 357</option>
					<option value="Social Media: Connectivity, Interactivity, Buzz (MK 358)">Social Media: Connectivity, Interactivity, Buzz - MK 358</option>
					<option value="Sector Application: Entertainment Marketing (MK 443)">Sector Application: Entertainment Marketing - MK 443</option>
					<option value="Top: The Internet Transformation (MK 471)">Top: The Internet Transformation - MK 471</option>
					<option value="Top: Design and Layout (MK 471)">Top: Design and Layout - MK 471</option>
					<option value="Top: Non-Profit Marketing (MK 471)">Top: Non-Profit Marketing - MK 471</option>
					<option value="Topics in Marketing Communication: Entertainment Marketing Cross Promotions (MK 471)">Topics in Marketing Communication: Entertainment Marketing Cross Promotions - MK 471</option>
					<option value="Topics in Marketing Communication: Entertainment Public Relations (MK 471)">Topics in Marketing Communication: Entertainment Public Relations - MK 471</option>
					<option value="Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub (MK ">Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub - MK 471</option>471)
					<option value="Topics in Marketing Communication: Global Marketing Through the Lens of Los Angeles (MK 471">Topics in Marketing Communication: Global Marketing Through the Lens of Los Angeles - MK 471</option>)
					<option value="Cap: Integrtd Mark Camp-AAF (MK 480)">Cap: Integrtd Mark Camp-AAF - MK 480</option>
					<option value="Capstone: The Integrated Marketing Communications Campaign (MK 480)">Capstone: The Integrated Marketing Communications Campaign - MK 480</option>
					<option value="College Mathematics (MT 102)">College Mathematics - MT 102</option>
					<option value="Business Mathematics (MT 106)">Business Mathematics - MT 106</option>
					<option value="Statistics (MT 207)">Statistics - MT 207</option>
					<option value="Listening to Music (MU 137)">Listening to Music - MU 137</option>
					<option value="History of Jazz (MU 139)">History of Jazz - MU 139</option>
					<option value="History of Music: American (MU 202)">History of Music: American - MU 202</option>
					<option value="Perspectives in World Music (MU 203)">Perspectives in World Music - MU 203</option>
					<option value="Music Analysis II (MU 205)">Music Analysis II - MU 205</option>
					<option value="Deconstructing Twentieth-Century Art Music (MU 256)">Deconstructing Twentieth-Century Art Music - MU 256</option>
					<option value="Languages of the Stage (PA 101)">Languages of the Stage - PA 101</option>
					<option value="Introduction to Ethics (PH 105)">Introduction to Ethics - PH 105</option>
					<option value="Ethics and Justice (PH 110)">Ethics and Justice - PH 110</option>
					<option value="Christian Ways of Life (PH 116)">Christian Ways of Life - PH 116</option>
					<option value="Contemporary Ethics (PH 200)">Contemporary Ethics - PH 200</option>
					<option value="Top: Free Will, Responsibility, and Agency (PH 203)">Top: Free Will, Responsibility, and Agency - PH 203</option>
					<option value="Environmental Ethics (PH 204)">Environmental Ethics - PH 204</option>
					<option value="Narrative Ethics (PH 210)">Narrative Ethics - PH 210</option>
					<option value="Top: Genesis (PH 300)">Top: Genesis - PH 300</option>
					<option value="Political Philosophy (PH 304)">Political Philosophy - PH 304</option>
					<option value="International Politics (PL 220)">International Politics - PL 220</option>
					<option value="U.S. Government and Politics (PL 225)">U.S. Government and Politics - PL 225</option>
					<option value="Civil Rights (PL 332)">Civil Rights - PL 332</option>
					<option value="The First Amendment (PL 333)">The First Amendment - PL 333</option>
					<option value="Introductory Psychology (PS 101)">Introductory Psychology - PS 101</option>
					<option value="Social Psychology (PS 200)">Social Psychology - PS 200</option>
					<option value="Abnormal Psychology (PS 201)">Abnormal Psychology - PS 201</option>
					<option value="Developmental Psychology (PS 202)">Developmental Psychology - PS 202</option>
					<option value="Cognitive Psychology (PS 203)">Cognitive Psychology - PS 203</option>
					<option value="Personal Growth and Adjustment (PS 301)">Personal Growth and Adjustment - PS 301</option>
					<option value="Psychology of Prejudice (PS 306)">Psychology of Prejudice - PS 306</option>
					<option value="Top: Psych of Relationships (PS 380)">Top: Psych of Relationships - PS 380</option>
					<option value="Introduction to Magazine Writing (PB 207)">Introduction to Magazine Writing - PB 207</option>
					<option value="Professional Development Exper (PB 299)">Professional Development Exper - PB 299</option>
					<option value="Copyediting (PB 302)">Copyediting - PB 302</option>
					<option value="Intermediate Magazine Writing (PB 307)">Intermediate Magazine Writing - PB 307</option>
					<option value="Magazine Publishing Overview (PB 380)">Magazine Publishing Overview - PB 380</option>
					<option value="Book Publishing Overview (PB 383)">Book Publishing Overview - PB 383</option>
					<option value="Applications for Print Publishing (PB 395)">Applications for Print Publishing - PB 395</option>
					<option value="Book Editing (PB 402)">Book Editing - PB 402</option>
					<option value="Electronic Publishing Overview (PB 403)">Electronic Publishing Overview - PB 403</option>
					<option value="Book Design and Production (PB 481)">Book Design and Production - PB 481</option>
					<option value="Top: Profile Writing (PB 491)">Top: Profile Writing - PB 491</option>
					<option value="Top: Advanced Applications for Print Publishing (PB 491)">Top: Advanced Applications for Print Publishing - PB 491</option>
					<option value="Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub (PB ">Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub - PB 491</option>491)
					<option value="Human Health and Disease (SC 210)">Human Health and Disease - SC 210</option>
					<option value="Food and Nutrition (SC 211)">Food and Nutrition - SC 211</option>
					<option value="Evolution of Human Nature (SC 212)">Evolution of Human Nature - SC 212</option>
					<option value="The Brain and Behavior (SC 213)">The Brain and Behavior - SC 213</option>
					<option value="Personal Genetics & Identity (SC 215)">Personal Genetics & Identity - SC 215</option>
					<option value="DNA and Society (SC 216)">DNA and Society - SC 216</option>
					<option value="Energy and Sustainability (SC 220)">Energy and Sustainability - SC 220</option>
					<option value="Meteorology (SC 221)">Meteorology - SC 221</option>
					<option value="Climate Change (SC 223)">Climate Change - SC 223</option>
					<option value="Top: Physics in Everday Life (SC 290)">Top: Physics in Everday Life - SC 290</option>
					<option value="Science in Translation: Health and Genetics (SC 310)">Science in Translation: Health and Genetics - SC 310</option>
					<option value="Communities and Race Relations (SO 200)">Communities and Race Relations - SO 200</option>
					<option value="Gender in a Global Perspective (SO 206)">Gender in a Global Perspective - SO 206</option>
					<option value="Visual Society (SO 208)">Visual Society - SO 208</option>
					<option value="Humor and Society (SO 222)">Humor and Society - SO 222</option>
					<option value="Deviance and Social Control (SO 360)">Deviance and Social Control - SO 360</option>
					<option value="Elementary Spanish 2 (LS 102)">Elementary Spanish 2 - LS 102</option>
					<option value="Introduction to Acting 1 (TH 121)">Introduction to Acting 1 - TH 121</option>
					<option value="Intro to Acting 1 (TH 121)">Intro to Acting 1 - TH 121</option>
					<option value="Introduction to Acting 2 (TH 122)">Introduction to Acting 2 - TH 122</option>
					<option value="Acting 1: Movement (TH 123)">Acting 1: Movement - TH 123</option>
					<option value="Acting 2: Voice and Text (TH 124)">Acting 2: Voice and Text - TH 124</option>
					<option value="Acting Fundamentals (TH 131)">Acting Fundamentals - TH 131</option>
					<option value="Rendering II (TH 140)">Rendering II - TH 140</option>
					<option value="Stagecraft: Electrics (TH 142)">Stagecraft: Electrics - TH 142</option>
					<option value="Stagecraft: Properties Construction (TH 143)">Stagecraft: Properties Construction - TH 143</option>
					<option value="Stagecraft: Costume Contruction (TH 144)">Stagecraft: Costume Contruction - TH 144</option>
					<option value="Stagecraft:Scenic Construction (TH 145)">Stagecraft:Scenic Construction - TH 145</option>
					<option value="Stagecraft: Scene Painting (TH 146)">Stagecraft: Scene Painting - TH 146</option>
					<option value="Stagecraft: Crafts (TH 147)">Stagecraft: Crafts - TH 147</option>
					<option value="Stagecraft: Masks (TH 148)">Stagecraft: Masks - TH 148</option>
					<option value="Perspectives in World Theatre (TH 203)">Perspectives in World Theatre - TH 203</option>
					<option value="Theatre into Film (TH 204)">Theatre into Film - TH 204</option>
					<option value="Dress Codes: American Clothes in the Twentieth Century (TH 205)">Dress Codes: American Clothes in the Twentieth Century - TH 205</option>
					<option value="World Drama in Its Context 2 (TH 216)">World Drama in Its Context 2 - TH 216</option>
					<option value="Scene Study II-Mus Theatre (TH 222)">Scene Study II-Mus Theatre - TH 222</option>
					<option value="Scene Study II (TH 222)">Scene Study II - TH 222</option>
					<option value="Drafting II (TH 240)">Drafting II - TH 240</option>
					<option value="Lighting Design I (TH 242)">Lighting Design I - TH 242</option>
					<option value="Sound Design (TH 243)">Sound Design - TH 243</option>
					<option value="Make-Up: Theatre (TH 247)">Make-Up: Theatre - TH 247</option>
					<option value="Design Essentials (TH 250)">Design Essentials - TH 250</option>
					<option value="Foundations of Education (TH 265)">Foundations of Education - TH 265</option>
					<option value="Arts Management I (TH 275)">Arts Management I - TH 275</option>
					<option value="Top: Contemp American Theatre (TH 315)">Top: Contemp American Theatre - TH 315</option>
					<option value="Acting for the Camera (TH 322)">Acting for the Camera - TH 322</option>
					<option value="Dialects (TH 324)">Dialects - TH 324</option>
					<option value="BFA Acting Studio 1 (TH 325)">BFA Acting Studio 1 - TH 325</option>
					<option value="BFA Acting Studio 2 (TH 326)">BFA Acting Studio 2 - TH 326</option>
					<option value="Advanced Mus Th Technique II (TH 328)">Advanced Mus Th Technique II - TH 328</option>
					<option value="Musical Theatre Dance Repertoire I (TH 329)">Musical Theatre Dance Repertoire I - TH 329</option>
					<option value="AutoCAD (TH 340)">AutoCAD - TH 340</option>
					<option value="Lighting Design II (TH 342)">Lighting Design II - TH 342</option>
					<option value="Scene Design 2 (TH 345)">Scene Design 2 - TH 345</option>
					<option value="Make-Up Effects for Film and Television (TH 347)">Make-Up Effects for Film and Television - TH 347</option>
					<option value="Costume Design 2 (TH 348)">Costume Design 2 - TH 348</option>
					<option value="Arts Management II (TH 375)">Arts Management II - TH 375</option>
					<option value="Stage Management II (TH 377)">Stage Management II - TH 377</option>
					<option value="Directing I: Fundamentals of Directing (TH 381)">Directing I: Fundamentals of Directing - TH 381</option>
					<option value="Playwriting I (TH 388)">Playwriting I - TH 388</option>
					<option value="Living Art in Real Space: Multidisciplinary Art and the Collaborative Process (TH 402)">Living Art in Real Space: Multidisciplinary Art and the Collaborative Process - TH 402</option>
					<option value="Top: Dramaturgy of the Multiimedia Theatre and Performance (TH 411)">Top: Dramaturgy of the Multiimedia Theatre and Performance - TH 411</option>
					<option value="Stage Combat: Historical Weaponry (TH 420)">Stage Combat: Historical Weaponry - TH 420</option>
					<option value="AdvAct: Adv Improvisation (TH 421)">AdvAct: Adv Improvisation - TH 421</option>
					<option value="Advanced Acting: Film and Television Acting (TH 421)">Advanced Acting: Film and Television Acting - TH 421</option>
					<option value="Action Theater (TH 423)">Action Theater - TH 423</option>
					<option value="BFA Acting Studio 3 (TH 425)">BFA Acting Studio 3 - TH 425</option>
					<option value="BFA Acting Studio 4: Showcase (TH 426)">BFA Acting Studio 4: Showcase - TH 426</option>
					<option value="Musical Theatre Styles II (TH 428)">Musical Theatre Styles II - TH 428</option>
					<option value="Musical Theatre Dance Repertoire II (TH 429)">Musical Theatre Dance Repertoire II - TH 429</option>
					<option value="Shakespeare Performance (TH 431)">Shakespeare Performance - TH 431</option>
					<option value="Drama as Education 2 (TH 461)">Drama as Education 2 - TH 461</option>
					<option value="Student Teaching Seminar (TH 463)">Student Teaching Seminar - TH 463</option>
					<option value="Student Teaching Practicum (TH 465)">Student Teaching Practicum - TH 465</option>
					<option value="Topics in Arts Management (TH 475)">Topics in Arts Management - TH 475</option>
					<option value="Stage Management III (TH 477)">Stage Management III - TH 477</option>
					<option value="Top:Business of Theatre:Acting (TH 479)">Top:Business of Theatre:Acting - TH 479</option>
					<option value="Topics in Theatre: The Business of Acting (TH 479)">Topics in Theatre: The Business of Acting - TH 479</option>
					<option value="Directing 2: Theory & Practice (TH 482)">Directing 2: Theory & Practice - TH 482</option>
					<option value="Playwriting II (TH 488)">Playwriting II - TH 488</option>
					<option value="Sem: Human Rights (TH 514)">Sem: Human Rights - TH 514</option>
					<option value="Sem: Voices of the Theatre (TH 514)">Sem: Voices of the Theatre - TH 514</option>
					<option value="History of Media Arts I (VM 100)">History of Media Arts I - VM 100</option>
					<option value="History of Media Arts II (VM 101)">History of Media Arts II - VM 101</option>
					<option value="Introduction to Visual Arts (VM 105)">Introduction to Visual Arts - VM 105</option>
					<option value="Foundations in Visual and Media Arts Production (VM 120)">Foundations in Visual and Media Arts Production - VM 120</option>
					<option value="Media Criticism and Theory (VM 200)">Media Criticism and Theory - VM 200</option>
					<option value="Critical Listening (VM 202)">Critical Listening - VM 202</option>
					<option value="History of Photography: 19th Century to the 1970's (VM 203)">History of Photography: 19th Century to the 1970's - VM 203</option>
					<option value="Top: Intro to Narrative Fict (VM 204)">Top: Intro to Narrative Fict - VM 204</option>
					<option value="Top: Introduction to Gaming (VM 204)">Top: Introduction to Gaming - VM 204</option>
					<option value="Top: Intro to Documentary Prod (VM 204)">Top: Intro to Documentary Prod - VM 204</option>
					<option value="Top: Intro to Video Production for Non-VMA Majors only (VM 204)">Top: Intro to Video Production for Non-VMA Majors only - VM 204</option>
					<option value="History Of Photography: 1970's to the Present (VM 205)">History Of Photography: 1970's to the Present - VM 205</option>
					<option value="History of Western Art I: Renaissance and Baroque (VM 210)">History of Western Art I: Renaissance and Baroque - VM 210</option>
					<option value="History of Western Art III: Modern (VM 212)">History of Western Art III: Modern - VM 212</option>
					<option value="Writing the Short Subject (VM 220)">Writing the Short Subject - VM 220</option>
					<option value="Writing for Television (VM 222)">Writing for Television - VM 222</option>
					<option value="Introduction to Film Production (VM 230)">Introduction to Film Production - VM 230</option>
					<option value="Intermediate Film Production (VM 231)">Intermediate Film Production - VM 231</option>
					<option value="Introduction to Video Field Production (VM 240)">Introduction to Video Field Production - VM 240</option>
					<option value="Introduction to Studio Television Production (VM 241)">Introduction to Studio Television Production - VM 241</option>
					<option value="Introduction to Studio TV Production (VM 241)">Introduction to Studio TV Production - VM 241</option>
					<option value="Introduction to Sound Principles and Audio Production (VM 250)">Introduction to Sound Principles and Audio Production - VM 250</option>
					<option value="Location Sound Recording (VM 251)">Location Sound Recording - VM 251</option>
					<option value="Introduction to Interactive Media (VM 260)">Introduction to Interactive Media - VM 260</option>
					<option value="Computer Animation (VM 261)">Computer Animation - VM 261</option>
					<option value="Drawing (VM 262)">Drawing - VM 262</option>
					<option value="Introduction to Photography (VM 265)">Introduction to Photography - VM 265</option>
					<option value="Professional Development Exper (VM 299)">Professional Development Exper - VM 299</option>
					<option value="Top: Latin American Cinema (VM 300)">Top: Latin American Cinema - VM 300</option>
					<option value="Post Colonial Cinema (VM 301)">Post Colonial Cinema - VM 301</option>
					<option value="Studies in Digital Media and Culture (VM 303)">Studies in Digital Media and Culture - VM 303</option>
					<option value="History of Experimental/Avant-garde (VM 305)">History of Experimental/Avant-garde - VM 305</option>
					<option value="Cinema and Social Change (VM 308)">Cinema and Social Change - VM 308</option>
					<option value="Top: Christo and Jeanne-Claude: Projects and Films (VM 315)">Top: Christo and Jeanne-Claude: Projects and Films - VM 315</option>
					<option value="Top: Modern Chinese Art (VM 315)">Top: Modern Chinese Art - VM 315</option>
					<option value="Writing the Feature Film (VM 320)">Writing the Feature Film - VM 320</option>
					<option value="Writing Primetime Drama (VM 323)">Writing Primetime Drama - VM 323</option>
					<option value="Top: Writiing the Comedy Feature Film (VM 324)">Top: Writiing the Comedy Feature Film - VM 324</option>
					<option value="Top: Writing the Biopic (VM 324)">Top: Writing the Biopic - VM 324</option>
					<option value="Topics in Screenplay Genres: Writing the Biopic (VM 324)">Topics in Screenplay Genres: Writing the Biopic - VM 324</option>
					<option value="Writing the Adaptation (VM 325)">Writing the Adaptation - VM 325</option>
					<option value="Top: Writing the Webisode (VM 329)">Top: Writing the Webisode - VM 329</option>
					<option value="Top: Life on Display (VM 329)">Top: Life on Display - VM 329</option>
					<option value="Top:Comedy Writ for Late Night (VM 329)">Top:Comedy Writ for Late Night - VM 329</option>
					<option value="Top: Production Design (VM 331)">Top: Production Design - VM 331</option>
					<option value="Top: WGBH Partnership Prod (VM 331)">Top: WGBH Partnership Prod - VM 331</option>
					<option value="Production Management (VM 332)">Production Management - VM 332</option>
					<option value="Alternative Production Techniques for Filmmaking (VM 335)">Alternative Production Techniques for Filmmaking - VM 335</option>
					<option value="Sound Design (VM 350)">Sound Design - VM 350</option>
					<option value="Studio Recording (VM 352)">Studio Recording - VM 352</option>
					<option value="Film Animation (VM 360)">Film Animation - VM 360</option>
					<option value="Motion Graphics (VM 362)">Motion Graphics - VM 362</option>
					<option value="Advanced Computer Animation (VM 363)">Advanced Computer Animation - VM 363</option>
					<option value="3D Computer Gaming (VM 364)">3D Computer Gaming - VM 364</option>
					<option value="Darkroom Photography (VM 365)">Darkroom Photography - VM 365</option>
					<option value="Digital Photography (VM 366)">Digital Photography - VM 366</option>
					<option value="Business Concepts for Modern Media (VM 370)">Business Concepts for Modern Media - VM 370</option>
					<option value="Alternative Media Production: Out of the Box (VM 371)">Alternative Media Production: Out of the Box - VM 371</option>
					<option value="Directing Image and Sound (VM 372)">Directing Image and Sound - VM 372</option>
					<option value="Directing Actors for the Screen (VM 373)">Directing Actors for the Screen - VM 373</option>
					<option value="Advanced Interactive Media (VM 375)">Advanced Interactive Media - VM 375</option>
					<option value="Editing for Film and Video (VM 376)">Editing for Film and Video - VM 376</option>
					<option value="Documentary Production Workshop (VM 377)">Documentary Production Workshop - VM 377</option>
					<option value="Basic Cinematography and Videography (VM 378)">Basic Cinematography and Videography - VM 378</option>
					<option value="Media Copyright and Content (VM 380)">Media Copyright and Content - VM 380</option>
					<option value="Topics in Visual and Media Arts: Los Angeles on Film (VM 400)">Topics in Visual and Media Arts: Los Angeles on Film - VM 400</option>
					<option value="Top: Surveillance in a Digial Age (VM 400)">Top: Surveillance in a Digial Age - VM 400</option>
					<option value="Topics in Media Arts: Sports, Media and Spectacle (VM 400)">Topics in Media Arts: Sports, Media and Spectacle - VM 400</option>
					<option value="Sem: The Western in Film & TV (VM 402)">Sem: The Western in Film & TV - VM 402</option>
					<option value="Sem: Queer Film & Video (VM 402)">Sem: Queer Film & Video - VM 402</option>
					<option value="Sem: Media Ethics and Cultural Diversity (VM 402)">Sem: Media Ethics and Cultural Diversity - VM 402</option>
					<option value="Sem: Sound as Fine Art (VM 402)">Sem: Sound as Fine Art - VM 402</option>
					<option value="Sem: Animation Histories: From Concept to Screen (VM 402)">Sem: Animation Histories: From Concept to Screen - VM 402</option>
					<option value="Sem: Sex on Screen (VM 402)">Sem: Sex on Screen - VM 402</option>
					<option value="Sem: Silent Hollywood (VM 402)">Sem: Silent Hollywood - VM 402</option>
					<option value="Sem: Hitchcock (VM 402)">Sem: Hitchcock - VM 402</option>
					<option value="Seminar in Media Arts Topics: Film and Television in the Age of Anxiety (VM 402)">Seminar in Media Arts Topics: Film and Television in the Age of Anxiety - VM 402</option>
					<option value="Seminar in Media Arts Topics: Romantic and Screwball Comedy (VM 402)">Seminar in Media Arts Topics: Romantic and Screwball Comedy - VM 402</option>
					<option value="Seminar in Media Arts Topics: Television Genres (VM 402)">Seminar in Media Arts Topics: Television Genres - VM 402</option>
					<option value="Sem: Media of Consumption: From Totally Cool to Totally Wired (VM 402)">Sem: Media of Consumption: From Totally Cool to Totally Wired - VM 402</option>
					<option value="Sem: American Film of the 70's (VM 402)">Sem: American Film of the 70's - VM 402</option>
					<option value="Sem Top: Media Industry Studies (VM 402)">Sem Top: Media Industry Studies - VM 402</option>
					<option value="Sem: Parody, Satire, and Irony: The Affect of Ambivalence and the Politics of Reference (">Sem: Parody, Satire, and Irony: The Affect of Ambivalence and the Politics of Reference (VM </option>VM 402)
					<option value="Seminar in Media Arts Topics: The Films and Television of David Lynch (VM 402)">Seminar in Media Arts Topics: The Films and Television of David Lynch - VM 402</option>
					<option value="Sem Top: Women in Film (VM 402)">Sem Top: Women in Film - VM 402</option>
					<option value="Sem: Media Industry Studies (VM 402)">Sem: Media Industry Studies - VM 402</option>
					<option value="Sem: Postwar Art & Technology to Contemporary New Media and Digital Art (VM 409)">Sem: Postwar Art & Technology to Contemporary New Media and Digital Art - VM 409</option>
					<option value="Sem: Latin American Art (VM 410)">Sem: Latin American Art - VM 410</option>
					<option value="American Film Comedy (VM 412)">American Film Comedy - VM 412</option>
					<option value="Top: WGBH Partnership Prod (VM 420)">Top: WGBH Partnership Prod - VM 420</option>
					<option value="Top: Technical Craft of the Narrative Motion Picture (VM 420)">Top: Technical Craft of the Narrative Motion Picture - VM 420</option>
					<option value="Top: Directing and Producing the Narrative Motion Picture (VM 420)">Top: Directing and Producing the Narrative Motion Picture - VM 420</option>
					<option value="Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub (VM ">Top: Ed Tech Times: Content Development and Web Design for an Online Information Hub - VM 420</option>420)
					<option value="Topics in Visual and Media Arts: Practice: Production Management (VM 420)">Topics in Visual and Media Arts: Practice: Production Management - VM 420</option>
					<option value="Topics in Visual and Media Arts Practice: Writing and Producing Games (VM 420)">Topics in Visual and Media Arts Practice: Writing and Producing Games - VM 420</option>
					<option value="Topics VMA Pracitice: Research and Creative Production in Virtual and Augmented Reality ">Topics VMA Pracitice: Research and Creative Production in Virtual and Augmented Reality </option>Public Art (VM 420)
					<option value="Topics in Visual and Media Arts Practice: Aesthetics of Film Editing: Storytelling Through ">Topics in Visual and Media Arts Practice: Aesthetics of Film Editing: Storytelling Through </option>Images (VM 420)
					<option value="Topics in Visual and Media Arts Practice: Feature Film Development (VM 420)">Topics in Visual and Media Arts Practice: Feature Film Development - VM 420</option>
					<option value="Top: Production Design:Craft and Practice in the Art Department (VM 420)">Top: Production Design:Craft and Practice in the Art Department - VM 420</option>
					<option value="Topics in Visual and Media Arts: Practice: The Business of Directing (VM 420)">Topics in Visual and Media Arts: Practice: The Business of Directing - VM 420</option>
					<option value="Top: Research and Creative Production in Virtual and Agumented Reality Public Art (VM 420)">Top: Research and Creative Production in Virtual and Agumented Reality Public Art - VM 420</option>
					<option value="Writing Television Pilots (VM 423)">Writing Television Pilots - VM 423</option>
					<option value="Feature Writing Workshop (VM 428)">Feature Writing Workshop - VM 428</option>
					<option value="Comedy Writer's Room (VM 429)">Comedy Writer's Room - VM 429</option>
					<option value="Advanced Studio Production: Nonfiction (VM 441)">Advanced Studio Production: Nonfiction - VM 441</option>
					<option value="Advanced Sound Design (VM 450)">Advanced Sound Design - VM 450</option>
					<option value="Recording Industry As A Business (VM 457)">Recording Industry As A Business - VM 457</option>
					<option value="Top: Documentary for Social Action (VM 471)">Top: Documentary for Social Action - VM 471</option>
					<option value="Creative Producing for Film (VM 475)">Creative Producing for Film - VM 475</option>
					<option value="Editing for Advanced Film and Video (VM 476)">Editing for Advanced Film and Video - VM 476</option>
					<option value="Advanced Cinematography and Videography (VM 478)">Advanced Cinematography and Videography - VM 478</option>
					<option value="BFA Production Workshop (VM 490)">BFA Production Workshop - VM 490</option>
					<option value="BA Capstone Project (VM 491)">BA Capstone Project - VM 491</option>
					<option value="Photo Practicum (VM 492)">Photo Practicum - VM 492</option>
					<option value="Intro to College Writing (WR 101)">Intro to College Writing - WR 101</option>
					<option value="Research Writing (WR 121)">Research Writing - WR 121</option>
					<option value="Research Writing-Application (WR 121)">Research Writing-Application - WR 121</option>
					<option value="Research Writing:International (WR 121)">Research Writing:International - WR 121</option>
					<option value="Research Writing: Bilingual (WR 121)">Research Writing: Bilingual - WR 121</option>
					<option value="Research Writing-YR (WR 121)">Research Writing-YR - WR 121</option>
					<option value="Introduction to Creative Writing: Fiction (WR 211)">Introduction to Creative Writing: Fiction - WR 211</option>
					<option value="Introduction to Creative Writing: Poetry (WR 212)">Introduction to Creative Writing: Poetry - WR 212</option>
					<option value="Introduction to Creative Writing: Nonfiction (WR 216)">Introduction to Creative Writing: Nonfiction - WR 216</option>
					<option value="Intermediate Creative Writing: Fiction (WR 311)">Intermediate Creative Writing: Fiction - WR 311</option>
					<option value="Intermediate Creative Writing: Poetry (WR 312)">Intermediate Creative Writing: Poetry - WR 312</option>
					<option value="Intermediate Creative Writing: Drama (WR 313)">Intermediate Creative Writing: Drama - WR 313</option>
					<option value="Intermediate Comedy Writing; Sketch Troup Writing (WR 315)">Intermediate Comedy Writing; Sketch Troup Writing - WR 315</option>
					<option value="Inter CW: Stand-Up Comedy (WR 315)">Inter CW: Stand-Up Comedy - WR 315</option>
					<option value="Intermediate Creative Writing: Nonfiction (WR 316)">Intermediate Creative Writing: Nonfiction - WR 316</option>
					<option value="Intermediate Creative Writing: Non Fiction: Travel Writing (WR 316)">Intermediate Creative Writing: Non Fiction: Travel Writing - WR 316</option>
					<option value="Travel Writing (WR 320)">Travel Writing - WR 320</option>
					<option value="Advanced Seminar Workshop in Poetry (WR 405)">Advanced Seminar Workshop in Poetry - WR 405</option>
					<option value="Advanced Seminar Workshop in Fiction (WR 407)">Advanced Seminar Workshop in Fiction - WR 407</option>
					<option value="Advanced Seminar Workshop in Nonfiction (WR 415)">Advanced Seminar Workshop in Nonfiction - WR 415</option>
					<option value="Advanced Topics in Writing: Feature Film Development (WR 416)">Advanced Topics in Writing: Feature Film Development - WR 416</option>
					<option value="Advanced Topics in Writing: Writing Primetime Drama (WR 416)">Advanced Topics in Writing: Writing Primetime Drama - WR 416</option>
					<option value="Advanced Seminar Workshop in Screenwriting (WR 440)">Advanced Seminar Workshop in Screenwriting - WR 440</option>
					<option value="Senior Creat Thesis:All Genres (WR 490)">Senior Creat Thesis:All Genres - WR 490</option>
					<option value="Sr Thesis:Fiction/Nonfiction (WR 490)">Sr Thesis:Fiction/Nonfiction - WR 490</option>
				</select>
			</p>

			<p>
				<label for="prof_name" class="label">Professor's name</label>
				<select name="prof_name" id="prof_name" data-placeholder="Type in or choose a professor...">
					<option value=""></option>
					
				</select>
			</p>
		</div>

		<div class="col_66 results" style="display:none">
			<p>
				<span class="adjunct_result" style="display:none">
					For <span class="class_name_result"></span>, <span class="prof_name_result"></span> earns between
				</span>
				<span class="not_adjunct_result" style="display:none">
					<span class="prof_name_result"></span> is not an adjunct professor, but an adjunct professor teaching <span class="class_name_result"></span> would make between
				</span>
				<span id="course_min" class="num_result"></span> and <span id="course_max" class="num_result"></span> per semester.
			</p>
			<p class="share">
				<a href="https://twitter.com/intent/tweet?&text=Calculate%20how%20much%20your%20adjunct%20professors%20at%20%40EmersonCollege%20earn.%20http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fadjunct_calculator%20via%20%40BeaconUpdate" class="twitter_link" target="_blank">Tweet</a> your results or <a href="https://www.facebook.com/dialog/feed?app_id=128499383927655&display=popup&name=How%20much%20are%20your%20canceled%20classes%20worth%3F&caption=See%20how%20much%20your%20canceled%20classes%20at%20Emerson%20are%20worth.&description=An%20interactive%20feature%20by%20The%20Berkeley%20Beacon.&link=http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fsnow_calculator&picture=https%3A%2F%2Fs3.amazonaws.com%2FBerkeleyBeacon%2Fbeacon_uploads%2Fuploads%2F1423126348-Snowstorm_Bushell_01272015_0021.jpg.jpg&redirect_uri=http://www.berkeleybeacon.com/projects/snow_calculator" class="facebook_link" target="_blank">share them on Facebook</a>.
			</p>
			<p>
				If <span class="adjunct_result"><span class="prof_lastname_result"></span></span><span class="not_adjunct_result">a part-time professor</span> taught as many sections of <span class="class_name_result"></span> as the adjunct contract allows—usually <span id="max_sections_result">four or five</span>, depending on seniority—<span class="adjunct_result"><span class="prof_lastname_result"></span></span><span class="not_adjunct_result">the professor</span> could make between <span id="yearmax_min" class="num_result"></span> and <span id="yearmax_max" class="num_result"></span> annually. (The median household income in Boston is $53,601.)
			</p>
			<p>
				If <span class="adjunct_result"><span class="prof_lastname_result"></span></span><span class="not_adjunct_result">the adjunct professor</span> then works 40 hours per week—spending, each week, an average of <span id="avg_hours_result">eight to 10</span> hours per section—<span class="adjunct_result"><span class="prof_lastname_result"></span></span><span class="not_adjunct_result">the adjunct</span> would earn about the equivalent of <span id="hour_min" class="num_result"></span> to <span id="hour_max" class="num_result"></span> per hour.
			</p>
		</div>
	</div>

	<p class="explanation">
		Research by Dina Kleiner and Ryan Catalani, Beacon Staff. Class data includes courses offered to undergraduates in the Spring 2015 semester, and is from Emerson's <a href="https://ssb.emerson.edu/PURPLE/bwckschd.p_disp_dyn_sched">official course listings</a>. Professor data is from Emerson's <a href="http://www.emerson.edu/academics/departments">departmental websites</a>. <a href="http://www.emersonafec.com/PT_Faculty_Salaries_2013-14.pdf">Salary data</a> and <a href="http://www.emersonafec.com/contract.htm">contract information</a> is from the Affiliated Faculty of Emerson College union website. The Boston income statistic from the <a href="http://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml">U.S. Census</a>.
	</p>
</div>

<script src="https://theberkeleybeacon.s3.amazonaws.com/static/adjunct_calculator.js"></script>

<script type="text/javascript" src="https://use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>