<div id="full_photo">
	<div id="ourvoice_text" class="right">
		<p>What's your Beat?
			<br>Find it with the Beacon.
		</p>
		<p>
			<video controls poster="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/vlcsnap-2013-04-13-12h26m34s16.png" class="" data-setup="{}">
				<source src="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/findyourbeat540.mp4" type="video/mp4">
				<source src="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/findyourbeat540.ogv" type="video/ogg">
			</video>

		</p>
		<p class="apply_small">Applications for <a href="/about">any staff position</a> are due on Friday, April 19 at 6 p.m.</p>
		<p class="apply_small">Print your application and drop it off in our mailbox at the lower level campus center of Piano Row.</p>
		<p class="apply_small"><a href="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/BeaconStaffApplicationSpring2013.doc">Click here to download the application.</a></p>
	</div>
</div>

<script type="text/javascript">
	$('#full_photo').anystretch("/assets/apply_big.jpg");
	$("#ourvoice_text").addClass( num % 2 == 0 ? 'left' : 'right' );
</script>