<div id="full_photo">
	<div id="ourvoice_text" class="right">
		<p>What's your Beat?
			<br>Find it with the Beacon.
		</p>
	<% if @applications_open %>
		<p class="apply_small">Applications for <a href="/about">any staff position</a> in the fall 2015 semester are due on Sunday, April 5. Interviews will be held on Monday, April 6.</p>
		<p class="apply_small">Print your application and drop it off in our mailbox at the lower level campus center of Piano Row, or email it to <a href="mailto:editor@berkeleybeacon.com">editor@berkeleybeacon.com</a>.</p>
		<p class="apply_small"><a href="http://theberkeleybeacon.s3.amazonaws.com/BeaconStaffApplication1415.doc">Click here to download the application.</a></p>
	<% else %>
		<p class="apply_small">Applications are now closed. But if you're interested in joining the Beacon, email <a href="mailto:contact@berkeleybeacon.com">contact@berkeleybeacon.com</a>.</p>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	$('#full_photo').anystretch("/assets/apply_big.jpg");
	$("#ourvoice_text").addClass( num % 2 == 0 ? 'left' : 'right' );
</script>