<nav>
	<a href="/">The Berkeley Beacon</a>	
</nav>



<div class="climate_survey_content">

	<header>
		<div class="wrap">
			<h4>Special Section</h4>
			<h1>Surveying
				<br>Emerson’s
				<br>Climate</h1>
		</div>
	</header>

<div class="wrap">
	
	<div class="col_25 survey_articles">
		<h2>Read in-depth</h2>

		<h3><a href="http://www.berkeleybeacon.com/news/2015/4/23/college-to-release-results-of-first-climate-survey">College releases results of first climate survey</a></h3>
		<p>
			<em>By Joshua Warrener / Beacon Correspondent</em><br>
			The survey, developed by Emerson’s Office of Diversity and Inclusion and the survey firm ModernThink, polled students chiefly on sexual assault awareness and prevention at the college, but also included questions about diversity, faculty and administration participation, and general well-being.</p>

		<h3><a href="http://www.berkeleybeacon.com/opinion/2015/4/23/climate-survey-underscores-need-for-diversity-education-69">Editorial: Climate survey underscores need for diversity education</a></h3>
		<p>
			<em>By The Editorial Board</em><br>
			The onus is clear: Emerson must spend significantly more resources on cultural competency training for students, professors, and staff alike.
		</p>
		
		<h3><a href="http://www.berkeleybeacon.com/news/2015/4/23/sexual-assault-prevention-programs-improving-but-sense-of">Sexual assault prevention programs improving, but sense of belonging mixed</a></h3>
		<p>
			<em>By Laura King / Beacon Staff</em><br>
			The student component shows that greatest sources of dissatisfaction are the college’s sexual assault and harassment education programs and a sense of belonging among students of various races.
		</p>

		<h3><a href="http://www.berkeleybeacon.com/news/2015/4/23/faculty-and-staff-criticize-salaries-say-staffing-is">Faculty and staff criticize salaries, say staffing is often inadequate</a></h3>
		<p>
			<em>By David A. Bumpus / Beacon Staff</em><br>
			Faculty and staff reported notable dissatisfaction on questions about fair pay and adequate personnel.
		</p>
	</div>

	<div class="col_75 survey_results">
		<h2>Survey demographics</h2>
		<p>Overall, students who took the survey are fairly representative of the college overall, in terms of class year and race.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s1.jpg" alt="">

		<h2>Diversity important to students</h2>
		<p>Students nearly unanimously said diversity and inclusion were important values, but faulted the college for having an insufficiently diverse staff.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s2.jpg" alt="">

		<h2>Students feel sexual assault prevention training is lacking</h2>
		<p>Among undergraduates, each older class felt less satisfied with the sexual harrassment and assault prevention training that Emerson provided.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s3.jpg" alt="">

		<p>More than any other undergraduate class, freshmen were satisfied with their understanding of Emerson’s policies dealing with sexual assault, and believed their training would actually be effective.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s4.jpg" alt="">

		<p>Across the college, 50 percent or fewer of students believed that Emerson would support their peers who file sexual assault reports, take corrective action against offenders, and administer policies fairly.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s5.jpg" alt="">

		<h2>Among students, racial divides in sense of belonging</h2>
		<p>Students identifying as black or African-American consistently reported having less of a sense of belonging than students of other racial and ethnic groups.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s6.jpg" alt="">

		<h2>High marks for academic support</h2>
		<p>Students said they felt their professors were fair, and that Emerson provided adequate support to succeed academically.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_s7.jpg" alt="">

		<h2>Diversity important to faculty and staff</h2>
		<p>Like students, faculty and staff consistently said diversity and inclusion were important personal values. However, they were more satisfied than students about the diversity of Emerson’s employees.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_e1.jpg" alt="">

		<h2>Faculty and staff say they aren’t paid fairly</h2>
		<p>Fewer than half of employees said they felt they were paid fairly for their work. Professors gave notably lower responses about the college’s benefits compared to staff and administrators.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_e2.jpg" alt="">

		<h2>Professors fault resources</h2>
		<p>Few employees were satisifed with staffing levels, but professors were particularly unhappy with their facilities.</p>
		<img src="http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climate-survey-web_e3.jpg" alt="">

	</div>


</div>

</div>

<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
