<iframe width="1000" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213641523240098728256.0004cd68610f8a2e31af5&amp;ie=UTF8&amp;t=p&amp;ll=42.353724,-71.099396&amp;spn=0.063429,0.17149&amp;z=13&amp;output=embed"></iframe><br />

<div class="clear"></div>
<br/>
<div class="col_50">
<h2>Voting Locations</h2>

<br/>
<p>These are a few election precincts around Boston &mdash; voters should have received a letter with information about the voting locations they have been assigned to. If you do not know where you should vote, <a href="http://www.wheredoivotema.com/bal/myelectioninfo.aspx">click here</a> to check the official Massachussetts voting website.</p>

<p>First-time voters must provide some sort of identification, under federal law. Some permitted forms of identification, <%= link_to "according to Massachusetts' website", "http://www.sec.state.ma.us/ele/elestudents/studentsidx.htm" %>, include:</p>
<ul>
	<li>A Massachusetts driver’s license or state ID card</li>
	<li>A proof of residency letter from Emerson's Office of Housing and Residence Life (you must go in person to the office, located in the Little Building lobby)</li>
	<li>A utility bill</li>
	<li>A government-issued check</li>
	<li>A paycheck or paystub</li>
</ul>
<p>The following are not accepted:</p>
<ul>
	<li>Student IDs without addresses</li>
	<li>Passports</li>
	<li>Birth certificates</li>
</ul>

<br/>	
<p>
<a href="/election_guide_2012">&larr; Back to the election guide.</a>
</p>
</div>

<div class="col_50">
	<h3>For Little Building, Colonial, or Piano Row residents</h3>
	<p>
		Your voting location:
		<br/>The Franklin Institute of Boston <em>(Vote in the auditorium)</em>
		<br/>41 Berkeley St.
		<br/>&raquo; <%= link_to "Click for walking directions", "https://maps.google.com/maps?saddr=100+Boylston+St,+Boston,+MA+02116&daddr=The+Franklin+Institute+of+Boston,+41+Berkeley+St.&hl=en&sll=42.349475,-71.0664&sspn=0.012813,0.027874&geocode=FQxEhgIdzqzD-ylr73VQnXDjiTHEZepRb-uyNg%3BFQomhgIdiI3D-yGsRGBQORPIVCk5RgRkcnrjiTGsRGBQORPIVA&t=v&dirflg=w&mra=ltm&z=16" %>
	</p>
	<p><a href="http://www.wheredoivotema.com/bal/BallotOut.aspx?btcode=ST&ctcode=35&wno=5&prno=1">Click here</a> to see what will be on your ballot. You are in Ward 5, Precinct 1.</p>
	<br/>
	<h3>For Paramount residents</h3>
	<p>
		Your voting location:
		<br/>The Metropolitan Community Room
		<br/>38 Oak St.
		<br/>&raquo; <%= link_to "Click for walking directions", "https://maps.google.com/maps?saddr=555+Washington+Street,+Boston,+MA&daddr=The+Metropolitan+Community+Room,+38+Oak+St.&hl=en&sll=42.34982,-71.066465&sspn=0.012813,0.027874&geocode=Fcg-hgIdUKHD-ylTxCBIdnrjiTE8pI_eoE9b9A%3BFcwuhgId_6rD-ymVYvG0cHrjiTGuApJSKHY2GA&t=v&dirflg=w&mra=ls&z=17" %>
	</p>
	<p><a href="http://www.wheredoivotema.com/bal/BallotOut.aspx?btcode=ST&ctcode=35&wno=3&prno=8">Click here</a> to see what will be on your ballot. You are in Ward 3, Precinct 8.</p>

</div>
<div class="clear"></div>