<header>
	<div class="wrap">
		<a href="/" class="brand">the berkeley beacon</a>
		<h1>Emerson Los Angeles</h1>
		<span class="special">Special Coverage</span>
	</div>
</header>

<div class="main">

</div>

<div class="sidebar">

</div>