<header>
	<div class="wrap">
		<a href="/" class="brand">the berkeley beacon</a>
		<h1>Emerson Los Angeles</h1>
		<span class="special">Special Coverage</span>
	</div>
</header>

<div class="wrap">
	<div class="main">

		<div class="separator"></div>
		<h2>Previous Reports</h2>
		<% @topic_articles.each do |article| %>
		<article>
			<h3><%= link_to article.title, article.to_url %></h3>
			<p><%= article.excerpt %></p>
			<%= link_to(image_tag(article.thumb), article.to_url) if article.thumb %>
		</article>
		<% end %>


	</div>

	<div class="sidebar">

	</div>

</div>