<div class="video_cont" id="cover">
	<div class="wrap">
		<div class="brand">
			<a href="/"><strong>The Berkeley Beacon</strong></a>
			<br><a href="/emersonla">Special Coverage • Emerson Los Angeles</a>
		</div>

		<h1>Stories from Sunset & Gordon</h1>
		<div class="byline">
			Produced by Ryan Catalani / Beacon Staff
			<br>With reporting by Laura Gomez and Evan Sporer, Beacon Staff
		</div>

		<div id="thumbs">
			<a class="thumb" id="ela_thumb" href="#ela">
				<div class="title">A New Campus</div>
			</a>
			<a class="thumb" id="cristina_thumb" href="#cristina">
				<div class="title">Across the Street</div>
			</a>
			<a class="thumb" id="food_thumb" href="#kitchen">
				<div class="title">Emerson Kitchen</div>
			</a>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="video_cont" id="ela">
	<a name="ela"></a>
	<div class="video_box">
		<h2>A New Campus</h2>
		<video src="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-campus-v1.mp4" poster="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-campus-thumb.jpg" controls preload class="video-js vjs-default-skin" data-setup id="ela_video"></video>
		<!-- class="video-js vjs-default-skin" data-setup id="ela_video" -->
		<p>Kevin Bright, founding director of Emerson Los Angeles, and Aaron Ragan, an architect at Morphosis, the firm that designed the building, talk about the college's new presence in Hollywood.</p>
	</div>
</div>
<div class="video_cont" id="cristina">
	<a name="cristina"></a>
	<div class="video_box">
		<h2>Across the Street</h2>
		<video src="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-cristina-v1.mp4" poster="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-cristina-thumb.jpg" controls preload class="video-js vjs-default-skin" data-setup id="cristina_video"></video>
		<p>Cristina Escobar, owner of a small grocery store across from the campus, says she hopes an infusion of Emerson students will buoy her business.</p>
	</div>
</div>
<div class="video_cont" id="food">
	<a name="kitchen"></a>
	<div class="video_box" id="video_box_food">
		<h2>Emerson Kitchen</h2>
		<video src="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-food-v1.mp4" poster="http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-food-thumb.jpg" controls preload class="video-js vjs-default-skin" data-setup id="food_video"></video>
		<p>Richard Dietz, operations manager of Emerson Kitchen, the new downstairs cafe and restaurant, discusses the new, healthy food options.</p>
	</div>
	<div class="clear"></div>
</div>