<h1>The home page!</h1>

<% if @current_user %>
	Hello, <%= @current_user.name %>! Would you like to <%= link_to "log out", logout_path %>?
<% else %>	
	Why haven't you <%= link_to "signed up", new_person_path %> or <%= link_to "logged in", login_path %> yet?
<% end %>