<script type="text/javascript"
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChAXWy7hWRpqrC_Plc3qzDVi32mkSqAjQ&libraries=geometry">
   </script>
<script src="https://theberkeleybeacon.s3.amazonaws.com/static/neighborhoods2015.js"></script>

<div class="content">
     <h3>Special Series • March–April 2015</h3>
     <h1>Housing in Boston</h1>

     <p class="desc">
          As students begin the annual housing search, the Beacon will feature a different Boston-area neighborhood each week—complete with pros and cons, nightlife prospects, and advice from current residents.
     </p>
</div>

</div> <!-- .wrap -->

<div class="content">
<div id="map-canvas" style="height:500px"></div>
</div>

<div class="wrap">


<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>