<div class="row intro_row">
	
	<div class="title_col">
		<h1>The Beacon’s Oscar Picks</h1>
		<p>By Beacon staff members Ryan Catalani, Cathleen Cusachs, Mark Gartsbeyn, Hunter Harris, and Jason Madanjian</p>
		<p>Illustrations by Holly Kirkman, Beacon Staff</p>
	</div>

	<img src="http://theberkeleybeacon.s3.amazonaws.com/oscars2015/main_stat.jpg" alt="" class="main_stat">

	<div class="text">
		<p>I had finally rented <em>Boyhood</em>, Richard Linklater’s Oscar-nominated film about a boy growing up, to watch during my overnight flight back to school last month. It was in that darkened cabin, five miles above the middle of nowhere, USA, that I realized with a start: I was watching my brother. That surly, mopey adolescent on screen midway through the film was exactly whom I had said goodbye to just hours before. As I watched Mason, <em>Boyhood</em>’s protagonist, go through the tribulations and transformations of high school, I thought, is this who my brother will become?</p>
		<p>This, to me, is what movies should be about. Sure, it’s true that this feverish awards season is exciting. There is an undeniable frisson of accomplishment from being the first to post some red carpet trivia or awards ceremony witticism in the eternal hunt for retweets. But the Oscars represent just one perspective on how film should be judged—it’s no secret that the judging body has long been dominated by an insular community of old, white men. It’s fun to verbosely agree and disagree with their assessments, but the ultimate gatekeepers to our media consumption—the ultimate evaluators of cinema’s substance—should be ourselves. (Our Oscar picks below came from a staff vote on the nominated movies we thought should win, not necessarily those we thought would win.)</p>
		<p>What matters in storytelling this year is what has mattered for the past millenium. It’s measured not by the word count of positive reviews or the total weight of accumulated statuettes, but by the number of tissues grabbed and the volume of gasps inhaled. The stories that move us, that reflect our own lives, that help us see the world a little differently, will always be the real winners.</p>
		<p class="credit">— Ryan Catalani </p>
	</div>

</div>

<div class="row boyhood">
	
	<div class="col_25">
		<div class="award">Best Picture, Director, Screenplay</div>	
		<div class="primary_name">Boyhood</div>
		<div class="secondary_name">Richard Linklater</div>
		<p>One hundred forty-three scenes, 164 minutes, 12 scripts—and 12 years of a boy’s life. This is the makeup of Richard Linklater’s Oscar-nominated film, <em>Boyhood</em>. The film, also nominated for best original screenplay, follows Mason Evan Jr.’s adolescence, using the same actors throughout the course of a 12-year filming period. Though the story is fictional, the film feels like a documentary about time itself—its passing, and the inevitable change it brings with it.</p>
		 
		<p>Linklater is also up for best director, most likely due to his ingenious idea and this revolutionary technique. Of the film’s impetus and life of its own, Linklater said in an interview with <em>The Dissolve</em>, “It was a very incremental adjustment every year with the actors. It’s a methodology that’s so unnatural, so different, but there was a real upside within that.” As Linklater intended, the film plays out nearly like a memory with the passing of the years gone primarily unnoticed save for the signposts of birthdays and graduations. </p>

		<p class="credit">— Anna Buckley  </p>

	</div>

	<div class="col_50">
		<div class="boyhood_photo" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/oscars2015/boyhood1.jpg)"></div>
		<div class="boyhood_photo" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/oscars2015/boyhood2.jpg)"></div>
		<div class="boyhood_photo" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/oscars2015/boyhood3.jpg)"></div>
		<div class="boyhood_photo" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/oscars2015/boyhood4.jpg)"></div>
	</div>

	<div class="col_25">
		<div class="award">Supporting Actress</div>	
		<div class="primary_name">Patricia Arquette</div>
		<div class="secondary_name">Boyhood</div>
		<p>Regardless of fantastic turns in films like <em>Ed Wood</em> and <em>True Romance</em>, Patricia Arquette (like fellow nominee Laura Dern) somehow got lost in the shuffle as just another blonde actress from the ’90s. Now, thankfully, both women are getting the recognition they’ve always deserved. And this year, Arquette truly stands out among her peers for her effortless, vanity-shedding role in <em>Boyhood</em>.</p>
		<p>Arquette plays Olivia Evans, the mother to the film’s protagonist, Mason. The unique production schedule, which allowed the film to be shot over the span of 12 years, lets Arquette go from single, in-over-her-head mother to the graceful middle-aged woman who tearfully says goodbye to her college-bound son—all in the span of one movie. It’s a remarkable transformation and Arquette warmly embodies the role of a hard-working, ordinarily extraordinary woman who's trying to do right by both herself and her family. </p>
		<p class="credit">— Jason Madanjian  </p>
	</div>
</div>

<div class="row acting">
	
	<div class="col_50 small_divisble">
		
		<div class="col_50 stat_cont">
			<img src="http://theberkeleybeacon.s3.amazonaws.com/oscars2015/actor_stat.jpg" alt="" class="main_acting">
		</div>
		<div class="col_50">
			<div class="award">Actor</div>	
			<div class="primary_name">Eddie Redmayne</div>
			<div class="secondary_name">The Theory Of Everything</div>
			<p>With his first Oscar nomination, Eddie Redmayne has a lot of competition. But Redmayne, 33, is coming off of a Golden Globe and a Screen Actor’s Guild award for best actor for his role in <em>The Theory of Everything</em>. In the widely praised biopic, Redmayne plays Stephen Hawking, the renowned cosmologist living with a variant of ALS. His successful, emotional performance does not rely heavily on body language, as most performances do, because his character does not have complete control of his body. Pair that with a minimal script, and most actors would struggle. But Redmayne uses these physical limitations to his advantage and successfully embodies Hawking in mind and spirit.</p>
			<p class="credit">— Cathleen Cusachs </p>
		</div>

	</div>

	<div class="col_50 small_divisble">
		<div class="col_50">
			<div class="award">Actress</div>	
			<div class="primary_name">Julianne Moore</div>
			<div class="secondary_name">Still Alice</div>
			<p>In her long, diverse body of work, Julianne Moore has racked up 5 acting nominations by way of the Academy Awards. This year, Moore may finally take home the gold. In <em>Still Alice</em>, Moore plays a Columbia University linguistics professor diagnosed with early-onset Alzheimer’s disease. Moore, now 54, has never been better and it’s encouraging to see Hollywood screenwriters still have fantastic, meaty roles for talented women over 30. The film itself isn’t the strongest of the year (which explains its lack of other nominations) but Moore carries it with her bracingly honest, heartbreaking performance. </p>
			<p class="credit">— Jason Madanjian </p>
		</div>
		<div class="col_50 stat_cont">
			<img src="http://theberkeleybeacon.s3.amazonaws.com/oscars2015/actress_stat.jpg" alt="" class="main_acting">
		</div>
	</div>

</div>

<div class="row whiplash">
	<div class="col_50 whiplash_lead">&nbsp;</div>
	<div class="col_25">
		<div class="award">Adapted Screenplay</div>	
		<div class="primary_name">Damien Chazelle</div>
		<div class="secondary_name">Whiplash</div>
		<p>Damien Chazelle doesn’t have many big-name writing credits to his name, but <em>Whiplash</em> is enough to trumpet this Providence-native’s arrival. The story’s back and forth between mentor and protege lets the script’s pacing pummel in ways reminiscent of the best lonely man narratives of the 70s. Deeply driven and pitifully insecure men populate Chazelle’s script, albeit ones ready to sling insults just stinging enough to be completely believable and totally wounding. Chazelle’s writing falsely promises his characters both success and redemption if they get their tempo just right, but no matter—it’s Chazelle’s words that deserve both in the end.</p>
		<p class="credit">— Hunter Harris </p>
	</div>
	<div class="col_25">
		<div class="award">Supporting Actor</div>	
		<div class="primary_name">J.K. Simmons</div>
		<div class="secondary_name">Whiplash</div>
		<p>In <em>Whiplash</em>, J.K. Simmons’ deep, throaty voice didn’t just reverberate throughout the movie theater. It echoed, in and out of the deepest recesses of our own insecurities. Sixty-year-old Simmons—recognizable as the dad from Juno (or as Peter Parker’s ineffable newspaper editor from Spider-Man, if that’s your thing)—is the antagonist in this drama about a promising young drummer, but it’s always up for discussion what exactly it is he’s antagonizing: the hero’s talent or the audience’s confidence. Simmons’ turn as the impossible-to-please, emotionally abusive mentor makes Whiplash a movie that hurts so good. </p>
		<p class="credit">— Hunter Harris </p>
	</div>
</div>

<div class="row">
	
	<div class="col_66 small_divisble">
		
		<div class="col_66">
			<div class="award">Animated Feature Film (Tie)</div>	
			<div class="primary_name">Big Hero 6</div>
			<div class="primary_name" style="margin-bottom: 10px;">How To Train Your Dragon 2 </div>
			<p>2014 proved to be a remarkable year for animation. And while smaller studio efforts like Laika’s <em>The Boxtrolls</em> and Studio Ghibli’s <em>The Tale of the Princess Kaguya</em> earned their place among the nominees, it’s the two giants—Disney and Dreamworks—that proved themselves worthy of the title for all-around best this past year.</p> 
			<p>Both <em>Big Hero 6</em> and <em>How To Train Your Dragon 2</em> deftly combine the genres of comedy and action while giving audiences (and animation nerds) stunning visuals that rank among the most accomplished in the genre. </p>
			<p>Neither story is truly unique but they both successfully manage to take well-established ingredients and cook up something special. </p>
			<p class="credit">— Jason Madanjian  </p>
		</div>
		<div class="col_33 stat_cont">
			<img src="http://theberkeleybeacon.s3.amazonaws.com/oscars2015/bighero.jpg" alt="" class="main_acting">
		</div>

	</div>

	<div class="col_33">
		<div class="award">Snub</div>	
		<div class="primary_name">The Lego Movie</div>
		<div class="secondary_name">Animated Feature Film</div>
		<p>With its vivid 3D animation, madcap humor, and a Rotten Tomatoes approval rating of 96 percent , <em>The Lego Movie</em> seemed like a shoo-in for Best Animated Feature. The animation, suggestive of stop motion, is impressive both technically and creatively, and the ending nearly reaches Toy Story 3-levels of heartfelt nostalgia. So, why was it snubbed? It wasn’t because of its (spoiler alert!) live action scene at the climax of the movie; the Academy Award for Best Animated Feature can go to any feature film with animation in 75 percent of its running time, and The Lego Movie far exceeds that percentage. Is it because of its association with a large corporate brand? Its unconventional, wacky storytelling? Still—Oscar or no—“everything is awesome” in <em>The Lego Movie</em>.</p> 
		<p class="credit">— Mark Gartsbeyn </p>
	</div>

</div>

<div class="row">
	<hr>
	<p><em>Boyhood</em> photos courtesy of Matt Lankes / IFC.</p>
	<p><em>Whiplash</em> photo courtesy of Daniel McFadden / Sony Pictures Classics.</p>
</div>

<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

