<div class="container oscars oscars2013">
	<div class="row">
		<div class="span2">
			<h2>The Beacon's 2013 Academy Award Picks</h2>
			<div id="desc">
				Beacon staff members selected the films they thought should win, not necessarily those they thought were more likely to win.
			</div>
		</div>
		<div class="span5 best_picture balance_height">
			<div class="oscar_img" style="background-image:url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/zero_web.jpg);background-position:center">
			</div>
		</div>
		<div class="span5 best_picture balance_height">
			<h3>Best Picture</h3>
			<div class="nominee">
				<h3>Zero Dark Thirty</h3>
			</div>
			<p><em>Zero Dark Thirty</em> won’t win Best Picture. The film, which chronicles the consummate tenacity of a female FBI rookie intent on capturing Osama bin Laden, remains mired in controversy, despite its box office success. Directed by Kathryn Bigelow and written by Mark Boal — both Academy Award winners of <em>Hurt Locker</em> fame — not a moment of the film’s 160-minute running time is absent of a palpable sense of resolve, firmness in its protagonist’s conviction. The version of the hunt for bin Laden presented in the film is full of shifting allegiances and moral enigmas that culminate in an absorbing dramatic arc. This isn’t a movie about torture or even a movie about women; Zero Dark Thirty challenges the deepest qualms with hyper- patriotism, forcing each viewer to re-evaluate the United States’ changing global status and beleaguered ethical compass. Everything about Zero Dark Thirty makes it a compelling experience visually and emotionally, so- lidifying its place among the list of films that should — but won’t — win the top prize.</p>
			<p><em>—Hunter Harris</em></p>

		</div>
	</div>

	<div class="row">
		<div class="span4 balance_height">
			<div class="oscar_img" style="background-image:url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/lincoln_web.jpg)">
			</div>
		</div>
		<div class="span4 nominee_box balance_height">
			<h3>Actor in a Leading Role</h3>
			<div class="nominee">
				<h3>Daniel Day-Lewis</h3>
				Lincoln
			</div>
			<p>On Sunday night, Daniel Day-Lewis will most likely receive his third Best Actor Oscar, a record for the Academy, for his brilliantly inhabited portrayal of Abraham Lincoln. Nothing about his acting says “History Channel reenactment.” It’s genuine, it’s fluid, and it’s perfection. It’s been said that he and co-star Sally Field, who plays Lincoln’s wife Mary Todd, texted each other in character while making the movie. It’s also been said that Day-Lewis himself spent a year living in a log cabin and read over 100 books about the man himself. This kind of commitment has led the actor to be so recognized amongst his peers and won him so many fans in the audience at home. We can only hope that Day-Lewis will be able to grace the screens with his absorbing performances for years to come.</p>
			<p><em>—Jason Madanjian</em></p>
			<br>
		</div>
		<div class="span4 nominee_box balance_height">
			<h3>Actress in a Leading Role</h3>
			<div class="nominee">
				<h3>Jessica Chastain</h3>
				Zero Dark Thirty
			</div>
			<p><em>Zero Dark Thirty</em> was a brave film, and one of its bravest choices was to make its protagonist unexceptional, so average in a larger-than-life story. But that averageness is what struck us most about Jessica Chastain’s Maya. The CIA agent was neither a musclebound Seal Team Six shooter nor a CIA mastermind. The most outstanding quality of Maya was her persistence, her enduring belief in the mission that convinced her superiors to raid Abottabad on that fateful May day. That depiction was the perfect foil for the American populace at a whole, who did not have the means or measures to bring bin Laden to justice, only the faith that it would occur.</p>
			<p><em>—Eric Twardzik</em></p>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box balance_height">
			<h3>Directing</h3>
			<div class="nominee">
				<h3>Ang Lee</h3>
				Life of Pi
			</div>
			<p>Ang Lee, the Taiwanese-born director, has been building his portfolio since the 1990s. He has traveled the world through the eye of his lens from medieval China (<em>Crouching Tiger, Hidden Dragon</em>) to the sloping hills of <em>Brokeback Mountain</em>. <em>Life of Pi</em>, his new film, is a breathtakingly beautiful version of Yann Martel’s Booker Prize-winning novel <em>Life of Pi</em>, adapted by an American writer, David Magee. Lee’s directorial decisions led to a visual confection that reflected both the beauty of the mythological and the fragility of reality. Lee’s frame-by-frame storytelling does not get put on the backburner behind 3-D animation and reflecting pools, but rather becomes the predominant engineering tool.</p>
			<p><em>—Sofya Levina</em></p>
		</div>
		<div class="span4 balance_height">
			<div class="oscar_img" style="background-image:url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/pi_web.jpg);background-position:center">
			</div>
		</div>
		<div class="span4 nominee_box balance_height">
			<h3>Cinematography</h3>
			<div class="nominee">
				<h3>Life of Pi</h3>
				Claudio Miranda
			</div>
			<p>Claudio Miranda’s ocean is splattered with neon constellations. His islands are swarming with meerkats, and his realism is both gruesome and hopeful. <em>Life of Pi</em> is a visual masterpiece, swirling in Dali orange and glacial blues. Everything from the candlelit ceremony that the narrator Pi attends with his mother as a child, to the predatory archipelago that he finds himself on, is creatively overwhelming. Life of Pi transfers its mysticism to the audience not only through the religious subtext, but also through water and sky; everything about the film feels immense.</p>
			<p><em>—Sofya Levina</em></p>
		</div>
	</div>
	<div class="row">
		<div class="span4 nominee_box">
			<h3>Actor in a Supporting Role</h3>
			<div class="nominee">
				<h3>Christoph Waltz</h3>
				Django Unchained
			</div>
			<p>When America was first introduced to Christoph Waltz, it was in the form of a swastika-coated, Hitler-saluting, certified Nazi. The weird part was, we loved him. Only Waltz could stuff enough oddball charisma and charm into an officer of the Waffen SS to make us love him as much as we loathed him. Perhaps the greatest part of <em>Django Unchained</em> was that it finally gave the audiences Waltz as a good guy. His German dentist-turned-bounty-hunter, Dr. King Schultz, is every bit as Teutonic, sly, and eccentric as Colonel Hans Landa, his dialogue just as delicious. The difference was that we could leave the multiplex without the guilty feeling that we’d fallen for the bad guy.</p>
			<p><em>—Eric Twardzik</em></p>
		</div>

		<div class="span4 nominee_box">
			<h3>Actress in a Supporting Role</h3>
			<div class="nominee">
				<h3>Anne Hathaway</h3>
				Les Mis&eacute;rables
			</div>
			<p>Although Anne Hathaway is up for Best Supporting Actress, that woman didn’t just support <em>Les Mis&eacute;rables</em> — she carried it. In about 20 minutes of an 158-minute-long picture, Hathaway’s performance as Fantine makes the movie. With a voice strong enough to carry the emotional weight of the beautiful “I Dreamed a Dream” and a performance authentic enough to convey the gravity of the atrocious injustice Fantine faced, Hathaway has clearly come a long way from her seat on the throne of Genovia. Fantine is a minor character in the grander scheme of <em>Les Mis</em>, but Hathaway’s dedication to the role — from cutting off all her hair on-screen to losing 25 pounds off-screen — shines through in her performance.</p>
			<p>—Anna Buckley</p>
		</div>
		<div class="span4 nominee_box">
			<h3>Foreign Film</h3>
			<div class="nominee">
				<h3>Amour</h3>
				Austria
			</div>
			<p>Before seeing Amour, it’s easy to dismiss the film’s title as lazy. Couldn’t anyone come up with something more specific or imaginative than simply “love”? But once you have taken in Michael Haneke’s picture of an elderly man (Jean-Louis Trintignant) caring for his wife (Emmanuelle Riva) who suffers a debilitating stroke, the title seems perfect in its obviousness. Decades of love inspire every action in the film, from the simple compliments they give each other to the maddening decisions they must make. Haneke presents love as a whole, at once completely impossible and absolutely necessary, constantly beautiful and inevitably tragic.</p>
			<p><em>—Andrew Doerfler</em></p>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Original Screenplay</h3>
			<div class="nominee">
				<h3>Django Unchained</h3>
				Quentin Tarantino
			</div>
			<p>Director Quentin Tarantino uses the screenplay he wrote for <em>Django Unchained</em> to wedge open public perception of slavery in the old South. Tarantino said his biggest influence was not American films about slavery, but rather the spaghetti Westerns of Italian director Sergio Corbucci. Its combination of grisly violence and heroic bounty hunters make the film more than just a simple Western. Tarantino’s refusal to sugarcoat the topic makes for a shocking script. Not to mention, <em>Django</em> has some of the greatest dialogue in recent cinema. The film will have you cheering for Jamie Foxx and Christoph Waltz (as the titular former slave and his German bounty-hunting mentor, respectively) all the way to the explosive end.</p>
			<p><em>—Brittany Gervais</em></p>
		</div>
		<div class="span4 nominee_box the_rest">

			<h3>Animated Feature</h3>
			<div class="nominee">
				<h3>Brave</h3>
				Mark Andrews & Brenda Chapman
			</div>

			<h3>Adapted Screenplay</h3>
			<div class="nominee">
				<h3>Argo</h3>
				Chris Terrio
			</div>

			<h3>Production Design</h3>
			<div class="nominee">
				<h3>Les Mis&eacute;rables</h3>
				Eve Stewart & Anna Lynch-Robinson
			</div>

			<h3>Costume Design</h3>
			<div class="nominee">
				<h3>Anna Karenina</h3>
				Jacqueline Durran
			</div>

			<h3>Documentary Feature</h3>
			<div class="nominee">
				<h3>The Invisible War</h3>
				Kirby Dick & Amy Ziering
			</div>

			<h3>Documentary Short Subject</h3>
			<div class="nominee">
				<h3>Open Heart</h3>
				Kief Davidson & Cori Shepherd Stern
			</div>

			<h3>Film Editing</h3>
			<div class="nominee">
				<h3>Silver Linings Playbook</h3>
				Jay Cassidy & Crispin Struthers
			</div>

			<h3>Makeup</h3>
			<div class="nominee">
				<h3>The Hobbit</h3>
				Peter Swords King, Rick Findlater & Tami Lane
			</div>
		</div>
		<div class="span4 nominee_box the_rest">

			<h3>Original Score</h3>
			<div class="nominee">
				<h3>Skyfall</h3>
				Thomas Newman
			</div>

			<h3>Original Song</h3>
			<div class="nominee">
				<h3>"Skyfall" from <em>Skyfall</em></h3>
				Adele Atkins and Paul Epworth
			</div>

			<h3>Short Film, Animated</h3>
			<div class="nominee">
				<h3>Paperman</h3>
				John Kahrs
			</div>

			<h3>Short Film, Live Action</h3>
			<div class="nominee">
				<h3>Buzkashi Boys</h3>
				Sam French & Ariel Nasr
			</div>

			<h3>Sound Editing</h3>
			<div class="nominee">
				<h3>Django Unchained</h3>
				Wylie Stateman
			</div>

			<h3>Sound Mixing</h3>
			<div class="nominee">
				<h3>Les Mis&eacute;rables</h3>
				Andy Nelson, Mark Paterson & Simon Hayes
			</div>

			<h3>Visual Effects</h3>
			<div class="nominee">
				<h3>Life of Pi</h3>
				Bill Westenhofer, Guillaume Rocheron, Erik-Jan De Boer & Donald R. Elliott
			</div>
		</div>
	</div>

	<em>Photos courtesy of: Sony Pictures (Zero Dark Thirty), Dreamworks (Lincoln), and 20th Century Fox (Life of Pi).</em>

</div>