<div class="container oscars oscars2014">
	<div class="row">
		<h2>The Beacon's Oscar Picks</h2>
		<p><em>By Andrew Doerfler, Hunter Harris, Jason Madanjian, Kavita Shah, Evan Sporer, and Trelawny Vermont-Davis</em>
			<br><em>Illustrations by Holly Kirkman.</em>
		<p>
	</div>

	<div class="row">
		<div class="nominee_box nominee_box_full best_picture">
			<div class="award_double">
				<div class="award_double_item">
					<h3 class="award">Best Picture</h3>
					<div class="nominee">
						<h3>12 Years a Slave</h3>
					</div>
				</div>
				<div class="award_double_item">
					<h3 class="award">Best Director</h3>
					<div class="nominee">
						<h3>Steven McQueen</h3>
					</div>
				</div>
			</div>
			<p>Though many films have been created tackling the horrific and discomforting American past that is slavery, <em>12 Years a Slave</em> is perhaps the only one that truly undertakes the genuine horror of what it was like for slaves at that time. Solomon Northup’s story is one that deserves to be told in all of its uncomfortable and ruthless glory, and Steve McQueen did just that. The painfully long takes and the gore upset many audience members by making them feel uncomfortable—as they should. <em>12 Years a Slave</em> is not the typical “white’s helping blacks” story but rather, an honest recollection of one man’s narrative. Northup’s story is one of many, and though some are certainly worse than his, this film has finally provided a candid lens into our all too often sugar-coated history. And while the story itself is inspiring and brilliant, the production, direction, costumes, and performances are unparalleled—nothing short of Oscar worthy.</p>
			<p><em>—Trelawny Vermont-Davis</em></p>

		</div>
	</div>

	<div class="row">
		<div class="nominee_box nominee_box_gold nominee_box_half">
			<div class="portrait" style="background-image:url(/assets/oscars-ejiofor.jpg)"></div>
			<h3 class="award">Actor in a Leading Role</h3>
			<div class="nominee">
				<h3>Chiwetel Ejiofor</h3>
				12 Years a Slave
			</div>
			<p>A question lingers over <em>12 Years a Slave</em>, in which a free black musician in the 1840s is kidnapped and unlawfully sold as chattel: What makes Solomon Northup’s tale more worthy than the stories of the millions enslaved legally? The question is not just for viewers — Chiwetel Ejiofor, who portrays Northup, makes sure it haunts the character as well. Ejiofor gives us a protagonist who is neither martyr nor superman. Northup is instead a man trying to reconcile an intense desire for his legal right to freedom with the itching awareness that his fellows deserve it no less. When Northup finally leaves the plantation, Ejiofor lets flow concurrent streams of shame and joy — Northup has at once embraced solidarity as absolute truth and acknowledged its limitations. How can he go on living as his peers still suffer? Refusing to would be the greater betrayal.</p>
			<p><em>—Andrew Doerfler</em></p>
		</div>
		<div class="nominee_box nominee_box_gold nominee_box_half">
			<div class="portrait" style="background-image:url(/assets/oscars-blanchett.jpg)"></div>
			<h3 class="award">Actress in a Leading Role</h3>
			<div class="nominee">
				<h3>Cate Blanchett</h3>
				Blue Jasmine
			</div>
			<p>Cate Blanchett, delivering a career culminating performance, is just the latest in a series of perfect marriages between on-screen talent and director Woody Allen’s wonderfully neurotic characters. Blanchett plays Jasmine, the wife of a Bernie Madoff-type who learns she can no longer buy happiness. Stuck living with her blue-collar sister (fellow nominee Sally Hawkins), Jasmine becomes a fish out of water. Credit Blanchett for making the character more than just a rich white woman who’s lost all her privileges. With an insecure, stubborn, and OCD-like portrayal of the once glamorous Jasmine, Blanchett convinces the audience that this is not a woman on the edge of a breakdown but rather a woman in the midst of one.</p>
			<p><em>—Jason Madanjian</em></p>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box nominee_box_gold nominee_box_half">
			<div class="portrait" style="background-image:url(/assets/oscars-hill.jpg)"></div>
			<h3 class="award">Actor in a Supporting Role</h3>
			<div class="nominee">
				<h3>Jonah Hill</h3>
				The Wolf of Wall Street
			</div>
			<p>After breaking into the ranks in comedy, Hill has recently taken on a number of more serious roles. In <em>The Wolf of Wall Street</em>, Hill plays Leonardo DiCaprio’s right-hand-man, and gives a convincing performance of an everyman turned gangster. While Hill’s character is still funny in this role, the part also allows him to portray someone with a darker and more contemplative side when dealing with the logistics of a major ponzi scheme. But through drug and alcohol addiction, over-the-top shenanigans, and misogyny, Hill gives a convincing, occasionally cringe-worthy performance that’s emblematic of a car crash you just can’t turn away from.</p>
			<p><em>—Evan Sporer</em></p>
		</div>

		<div class="span4 nominee_box nominee_box_gold nominee_box_half">
			<div class="portrait" style="background-image:url(/assets/oscars-nyongo.jpg)"></div>
			<h3 class="award">Actress in a Supporting Role</h3>
			<div class="nominee">
				<h3>Lupita Nyong’o</h3>
				12 Years a Slave
			</div>
			<p>It’s no secret that Lupita Nyong’o is the veritable frontrunner among the trove of qualified talent nominated for Best Supporting Actress. Faced with seasoned challengers like Julia Roberts and recent fancies like Jennifer Lawrence, there’s a reason why Nyong’o’s performance has continued to garner awards for this newcomer throughout the Oscar season: Tasked with a character that will ostensibly see no evolution—a woman that was born a slave and will likely die one—the breadth and depth of Nyong’o’s performance is captivating. Nyong’o is as powerful an actress as her character Patsey is powerless, and her sunken eyes begging for the solace of suicide cannot easily be snubbed.</p>
			<p><em>—Hunter Harris</em></p>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box nominee_box_gold nominee_box_full">
			<div class="portrait" style="background-image:url(/assets/oscars-jonze.jpg)"></div>
			<h3 class="award">Original Screenplay</h3>
			<div class="nominee">
				<h3>Spike Jonze</h3>
				Her
			</div>
			<p>In the sherbet-colored world of <em>Her</em>, director Spike Jonze crafts a stinging, iconoclastic romance between a man and his operating system. The film effectively illustrates where present-day society rests in the scheme of technology and critiques the point where these technological advances threaten to overtake humanity. Its exploration of the purely emotional yet non-human love between the protagonist and his OS posed beside the physical, human relationship between him and his best friend Amy, speaks to the way in which technology mediates our lives, yet can’t interfere with basic emotional drives. Jonze perfectly balances daunting elements of dystopian science fiction with the drama of romance to show a relationship that defies social conventions. <em>Her</em> is a testament to social progress today by depicting the legitimacy of love in all forms.</p>
			<p><em>—Kavita Shah</em></p>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box nominee_box_half">
			<h3 class="award">Animated Film</h3>
			<div class="nominee">
				<h3>Frozen</h3>
			</div>
			<p>No film has quite captured the conversation of college students like Disney’s latest, <em>Frozen</em>. And it’s obvious why. <em>Frozen</em> embodies the best components of a Disney film — Broadway-ready tunes, beautiful animation — but subverts the more outdated aspects. In fact, <em>Frozen</em> features two well-written female leads. And instead of hating each other or fighting over boys, Elsa and Anna are put on a journey where they rediscover their sisterhood and embrace their own identities. That’s not only a powerful message to send to a new generation of kids, but an important revision of the previous Disney destiny, in which girls were expected to wait for Prince Charming.</p>
			<p><em>—Jason Madanjian</em></p>
		</div>
		<div class="nominee_box nominee_box_half">
			<h3 class="award">Documentary</h3>
			<div class="nominee">
				<h3>20 Feet from Stardom</h3>
			</div>
			<p>While there are more serious and “important” films in this category, none are more entertaining than <em>20 Feet From Stardom</em>, a documentary that chronicles the careers of backup singers in popular music. It’s in this documentary, stuffed with vintage performance footage of Bowie, Springsteen, and Jagger alongside contemporary interviews with the backup singers themselves, that the audience is exposed to who really made the songs of the second half of the 20th century click. A perfect film for fans of an underdog story, Stardom provides a powerful and illuminating voice to a bevy of divas that gave powerful and illuminating performances to some of the best hooks in rock ‘n’ roll history. You’ll never hear the oldies the same way.</p>
			<p><em>—Jason Madanjian</em></p>
		</div>
	</div>


</div>