<div id="elect_poll_img">
	<%= image_tag "poll-01-web.jpg" %>
</div>

<div id="elect_poll_text">
	<h2>The Emerson College Political Poll 2012</h2>
	<h3>Emerson students share their stances on election issues</h3>

	<div class="byline">Ryan Catalani / Beacon Staff</div>
	<br/>

	<p>Political polls have played a major part in the media coverage of this campaign season, perhaps more so than ever before. Surveys by major firms like Rasmussen and Gallup come out daily, and statisticians like the New York Times’ Nate Silver and The Huffington Post’s Mark Blumenthal digest and analyze those results nearly as fast.</p>

	<p>The president of the American Association for Public Opinion Research estimated that research organizations have increased their output by 30 percent over what they produced during the 2008 election, and headlines about who’s ahead in the latest national poll remain prevalent. They have even become stories themselves; both Republicans and Democrats have accused what they see as partisan polling firms of political skulduggery, trying to shape the press discourse through deliberately biased conclusions.</p>

	<p>The Beacon conducted its own political straw poll over the past week. Many students have a sense that Emerson’s populace skews liberal — and that Republicans are a rare breed on campus — but the survey tried to quantify that. The Beacon also attempted to measure how often undergraduates read the news, and what kind of news they read.</p>

	<p>The poll garnered 227 responses, with about three in five coming from underclassmen. While the Beacon strived to make its poll comprehensive and reliable, it is not scientific, and its results may not perfectly represent Emerson students’ opinions.</p>

	<p>Indeed, major media organizations, like the New York Times and ABC News, often won’t report on surveys conducted over the Internet, because they are prone to certain methodological problems. It is hard, for example, to guarantee that the poll’s respondents represent a random portion of its target population, whereas those conducted over the phone can be more targeted. Also, it is nearly — if not completely — impossible to determine if certain answers were provided jokingly or accidentally.</p>

	<p>The Beacon tried to diminish these effects through a couple proactive measures: requiring students to verify their responses through their Emerson email accounts (the emails, though, were not saved) and tracking if a participant answered more than once.</p>

	<p>With those caveats, the poll reached some interesting conclusions. Although 86 percent of participants supported Obama for president, only 55 percent identified as a Democrat — over one in four said they had no party affiliation. (Most of the students who chose “other” as their party affiliation indicated they were independent or members of the Libertarian party.) Almost a third said they never read Emerson-based publications. And nearly 94 percent of respondents said they are registered to vote.</p>

	<p>The political horse race is not yet over — but at least most students will have a say in its outcome.</p>


</div>