<nav>
	<div class="wrap">
		<a href="/">The Berkeley Beacon</a>	
	</div>
</nav>

<div class="header_text">
	<h2>Special Section</h2>
	<h1>A half-century of race relations at Emerson</h1>	
</div>

<header style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/race_intro.jpg)">
	
</header>

<div class="wrap">

	<div class="row">
		<p>
			By Beacon Staff members David A. Bumpus, Ryan Catalani, Laura King, and Dina Kleiner
			<br>Special contributions by Willie Burnley and Taylor Carlington
		</p>
		<br>

		<p class="intro">
			The year was 1968. The civil rights movement was galvanizing the country. Martin Luther King, Jr. was murdered. Emerson’s Black Organization with Natural Interests—EBONI—was founded. A year later, EBONI demanded changes to bring more black students to Emerson and improve the campus climate for them. Eight years later, a black professor was denied tenure and sued to gain it; he won. In the next few decades, three more black professors were denied tenure; they, too, sued and won.
		</p>

		<p class="intro">
			Today, Emerson has reformed its tenure policies. A new generation of administrators, who have made it their life’s work to increase diversity and inclusion, have come to the college. But some students still say Emerson falls short. The spirit of EBONI’s proposals and the conditions that inspired them still echo in the halls. In 1969, EBONI wanted 30 black students to be admitted each year. In 2012, there were just 26.
		</p>

		<p>
			<em>Above: EBONI members in 1969. Courtesy of The Emersonian.</em>
		</p>
		<br>
	</div>
	
	<div class="row">
		<div class="col_50">
			<h3><a href="http://www.berkeleybeacon.com/news/2015/1/22/tenure-for-few-nonwhite-professors-historically-hard-to">Tenure for few nonwhite professors historically hard to gain</a></h3>
			<p>
				In Emerson’s 135-year history, four black professors said they were denied tenure due to discrimination, each voicing similar allegations of institutional racism.
				<br><a href="http://www.berkeleybeacon.com/news/2015/1/22/tenure-for-few-nonwhite-professors-historically-hard-to" class="read_all">Continue reading</a>
			</p>
		</div>
		<div class="col_50">
			<h3>
				<a href="http://www.berkeleybeacon.com/news/2015/1/22/students-of-color-still-say-campus-climate-has">Students of color still say campus climate can improve</a>
			</h3>
			<p>Some students today say the campus climate for students of color is still lacking, 46 years after controversial student proposals meant to change that.
				<br><a href="http://www.berkeleybeacon.com/news/2015/1/22/students-of-color-still-say-campus-climate-has" class="read_all">Continue reading</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col_50">
			<h3><a href="http://www.berkeleybeacon.com/news/2015/1/22/for-top-administrators-increasing-diversity-a-lifelong-aspiration">For top administrators, increasing diversity a lifelong aspiration</a></h3>
			<p>President M. Lee Pelton and Vice President for Diversity and Inclusion Sylvia Spears speak about race relations from their own personal perspectives.
				<br><a href="http://www.berkeleybeacon.com/news/2015/1/22/for-top-administrators-increasing-diversity-a-lifelong-aspiration" class="read_all">Continue reading</a>
			</p>
		</div>
		<div class="col_50">
			<h3><a href="http://www.berkeleybeacon.com/news/2015/1/22/makeup-of-student-body-still-falls-short-of">Makeup of student body still falls short of advocates’ 1969 goal</a></h3>
			<p>
				Multiple factors affect the admissions office’s efforts to increase diversity, including financial aid practices and socioeconomic status of minorities.
				<br><a href="http://www.berkeleybeacon.com/news/2015/1/22/makeup-of-student-body-still-falls-short-of" class="read_all">Continue reading</a>
			</p>
		</div>
		
	</div>

	<div class="row">
		<div class="col_50">
			<h3><a href="http://www.berkeleybeacon.com/opinion/2015/1/22/white-allies-must-find-courage-to-listen-more">White allies must find courage to listen more</a></h3>
			<p>
				Op-ed: White allies can help to further current dialogue on race.
				<br><a href="http://www.berkeleybeacon.com/opinion/2015/1/22/white-allies-must-find-courage-to-listen-more" class="read_all">Continue reading</a>
			</p>
		</div>
		<div class="col_50">
			<h3><a href="http://www.berkeleybeacon.com/opinion/2015/1/22/the-promised-land-is-still-in-our-dreams">The promised land is still in our dreams</a></h3>
			<p>Op-ed: A student from the South illustrates her disenchantment with a supposedly progressive New England.
				<br><a href="http://www.berkeleybeacon.com/opinion/2015/1/22/the-promised-land-is-still-in-our-dreams" class="read_all">Continue reading</a>
			</p>
		</div>
	</div>

	
	
</div>


<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5f2p');</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5f2p&p_id=Twitter" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5f2p&p_id=Twitter" /></noscript>