<div class="review_content">
	<nav>
		<a href="/" target="_blank">The Berkeley Beacon</a>	
	</nav>

	<header class="main_header">
		<div class="main_header_text">
			<h2>2014–2015</h2>
			<h1>A school year in review</h1>
		</div>
		<ul class="rslides">
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview0.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview1.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview2.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview3.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview5.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview6.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview7.jpg)"></li>
			<li style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/yearinreview/yearinreview8.jpg)"></li>
		</ul>
	</header>

	<div class="review_pieces">
		<div class="wrap">
			<div class="sections_left">
				<div class="section">
					<div class="section_name">News</div>
					<h4><a href="http://www.berkeleybeacon.com/news/2015/4/30/wheres-the-money-a-year-in-review" target="_blank">Where's the money?</a></h4>
					<p>Between new construction, facility upgrades, and increased employee salaries, Emerson—which has historically been heavily reliant on tuition for revenue—must find ways to finance its expensive initiatives. The college intends to increase revenues through issuing bonds, create a plan for annual tuition increases, and lay the foundations for future fundraising.</p>
				</div>
				<div class="section">
					<div class="section_name">Arts</div>
					<h4><a href="http://www.berkeleybeacon.com/arts/2015/4/30/year-in-review-art-as-social-change-88" target="_blank">Art as social change</a></h4>
					<p>Emerson’s motto, “Expression necessary for evolution,” reminds us of the value that art plays in promoting social justice and distributing diverse perspectives on campus. From feminist plays and drag shows to coming out memoirs and spoken word poetry on race, this year has seen a profusion of creative and socially just declarations and celebrations.</p>
				</div>
				<div class="section">
					<div class="section_name">Lifestyle</div>
					<h4><a href="http://www.berkeleybeacon.com/lifestyle/2015/4/30/trends-and-triumphs-a-years-worth-of-culture-88" target="_blank">Trends and triumphs</a></h4>
					<p>In this past year, Emerson students staged protests on topics from racial inequality to Saturday makeup classes and haggled for items on the Facebook group Free and For Sale. Also, always keeping style in mind, the man bun appears to be gracing fewer noggins on campus as the trend fades out into the summer.</p>
				</div>
				<div class="section">
					<div class="section_name">Sports</div>
					<h4><a href="http://www.berkeleybeacon.com/sports/2015/4/30/lions-not-quite-at-home-in-the-newmac-88" target="_blank">Not quite at home in the NEWMAC</a></h4>
					<p>
						Emerson entered its second season in its more competitive conference this year, bearing a new department logo on uniforms and the floor. Though most teams struggled to make names for themselves again, men’s basketball made its second straight postseason appearance, and women’s basketball made its first.
					</p>
				</div>	
			</div>
			<div class="sections_right">
				<div class="section">
					<div class="section_name">Opinion</div>
					<h4><a href="http://www.berkeleybeacon.com/opinion/2015/4/30/after-100-issues-an-editor-says-farewell" target="_blank">After 100 issues, an editor says farewell</a></h4>
					<div id="opinion_photo"></div>
					<p>
						<em>by Ryan Catalani, editor-in-chief</em><br>
						Articles are more than archives: They transport stories, the triumphs and tears of real people affected in real ways.
					</p>

					<h4><a href="http://www.berkeleybeacon.com/opinion/2015/4/16/meeting-an-early-graduation-with-a-sense-of-49" target="_blank">Meeting an early graduation with a sense of calm</a></h4>
					<p>
						<em>by Victoria Hulbert, lifestyle editor</em><br>
						With graduation looming, there’s always the fear that we’ll miss something, that one day we’ll wish we could go back or do things differently.</p>
				</div>
			</div>	
		</div>
	</div>

	<div class="special_features">
		<div class="wrap"><h3>Special sections</h3></div>
		<div class="special_feature special_section_race">
			<div class="special_feature_content">
				<h4><a href="http://www.berkeleybeacon.com/projects/race_at_emerson" target="_blank">A half-century of race relations at Emerson</a></h4>
				<p>
					An in-depth look at the historical protests, tenure controversies, administrators, and admissions policies that continue to shape Emerson’s turbulent history of race relations. <em>Published Jan. 22</em>
				</p>
			</div>
		</div>
		<div class="special_feature special_section_climate">
			<div class="special_feature_content">
				<h4><a href="http://www.berkeleybeacon.com/projects/climate_survey" target="_blank">Surveying Emerson's climate</a></h4>
				<p>
					Explore the results from Emerson's first comprehensive climate survey, which revealed sharp racial divides among students’ sense of belonging and uncertainty about the college’s sexual assault response policies. <em>Published April 23</em>
				</p>
			</div>
		</div>
	</div>

	<div class="special_features">
		<div class="wrap"><h3>Special features</h3></div>
		<div class="special_feature special_feature_calc">
			<div class="special_feature_content">
				<h4><a href="http://www.berkeleybeacon.com/projects/snow_calculator" target="_blank">Snow day calculator</a></h4>
				<p>How much were your canceled classes worth?</p>
			</div>
		</div>
		<div class="special_feature special_feature_beats">
			<div class="special_feature_content">
				<h4><a href="http://www.berkeleybeacon.com/series/beacon_beats" target="_blank">Beacon Beats</a></h4>
				<p>Student musicians perform in the Beacon office</p>
			</div>
		</div>
	</div>

	<div class="topics">
		<div class="wrap">
			<h3>Continuing coverage</h3>
			<div class="topic topic_full">
				<h4><a href="http://www.berkeleybeacon.com/topics/title_ix_at_emerson_disputes_and_reform" target="_blank">Title IX at Emerson: Disputes and reform</a></h4>
				<div class="topic_img topic_img_right" style="background-image:url(https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/1429179362-rc-20150410-32221.jpg.jpg);background-position: top center"></div>
				<div class="topic_text">
					<p>
						Two former students are suing Emerson for allegedly mishandling their sexual assault cases and violating Title IX, the federal gender equity law. The college is seeking to dismiss both cases—defense lawyers said that even if the allegations were true, they don't show that Emerson broke any laws—sparking outcries online and protests during events for prospective students. On campus, the school restructured its sexual assault prevention and response program—creating, for the first time, one comprehensive misconduct policy—hired a new survivor advocate, and appointed an interim full-time Title IX coordinator. <em>(Photo: Jillian Doherty, one of the lawsuit plaintiffs.)</em>
					</p>
				</div>
			</div>
			<div class="topic topic_full">
				<h4><a href="http://www.berkeleybeacon.com/topics/boston_campus_construction_and_renovation" target="_blank">Boston campus: Construction and renovation</a></h4>
				<div class="topic_img topic_img_left" style="background-image:url(https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/1430007356-boylston_place_dorm_north_rendering_web.jpg.jpg)"></div>
				<div class="topic_text">
					<p>
						Emerson formally announced two major construction projects at its Boston campus, which administrators estimate will be finished by 2019 and cost over $170 million. The first, a new 18-story dorm in the Boylston Place alley that forced Sweetwater Tavern to close, is scheduled to start with demolition this summer and finish by August 2017. The second, a long-anticipated and extensive renovation to Little Building, calls for adding a 13th floor to the aging building, securing the underlying structure, and revamping the common rooms and dining hall. When both projects are finished, about 70 percent of students will be able to live on campus, administrators said, compared to about 53 percent now. <em>(Photo: An architect's rendering of the Boylston Place dorm.)</em>
					</p>
				</div>
			</div>
			<div class="topic topic_half">
				<h4><a href="http://www.berkeleybeacon.com/topics/rebranding-initiative" target="_blank">Rebranding initiative</a></h4>
				<p>
					The college embarked on a multiyear initiative to research perceptions of its identity and develop a new graphic brand—the first such evaluation in a decade, before Emerson Los Angeles opened and President M. Lee Pelton was hired. With an outside consulting firm it hired, Emerson completed the first step: conducting focus groups and interviews to compile narrative descriptions of the college's strengths and weaknesses. Administrators said they plan to use that research to develop quantitative surveys to be released in the fall.
				</p>
			</div>
			<div class="topic topic_half">
				<h4><a href="http://www.berkeleybeacon.com/topics/changes-at-wers" target="_blank">Changes at WERS</a></h4>
				<p>
					WERS, the campus radio station, stopped paying student managers and significantly reduced resources for news coverage—moves that its general manager said were necessary to become more financially self-sustaining and prompted complaints from undergraduates, alumni, and faculty. These changes followed a series of similarly controversial announcements in previous years, including hiring a professional full-time host and cutting two popular urban music shows. In response, journalism professors spoke with station management to discuss giving students more reporting opportunities.
				</p>
			</div>
			<div class="topic topic_half">
				<h4><a href="http://www.berkeleybeacon.com/topics/athletics-logo" target="_blank">Athletics logo</a></h4>
				<p>
					The athletic department's first official logo, unveiled over the summer, was met with such strong criticism that it was forced to retract the mark within a week, and eventually decided to hold a design competition. The ballot, released in October, had two student finalists—out of about 30 total, according to the contest committee—alongside a revised design from the external firm that made the original logo. The vote was open to the Emerson community, which in the end, chose the external firm's redesign. It was officially revealed on the floor of the Bobbi Brown and Steven Plofker Gym in a January ceremony.
				</p>
			</div>
			<div class="topic topic_half">
				<h4><a href="http://www.berkeleybeacon.com/topics/blizzards-of-2015" target="_blank">Blizzards of 2015</a></h4>
				<p>
					As historic storms this winter inundated the city with a record-breaking nine feet of snow and the public transit system struggled to cope with the inclement weather, Emerson was forced to cancel five full days, and an additional night, of classes. Performances were nixed, events were rescheduled, and additional school days extended the school year. A student's petition opposing makeup classes on weekends received over 500 signatures; administrators said they were sympathetic, but needed those makeup days to stay accredited. The college did, however, announce it may reimburse students who had to pay to change their travel plans due to the longer school year.
				</p>
			</div>
		</div>
	</div>

	<div class="topics">
		<div class="wrap">
			<h3>Series & columns</h3>
			<div class="topics_series">
				<div class="topic topic_third topic_feature">
					<h4><a href="http://www.berkeleybeacon.com/feature" target="_blank">The Feature</a></h4>
					<p>A weekly, thorough report on an intriguing Emerson community member or campus phenomenon.</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/mapping_boston" target="_blank">Mapping Boston</a></h4>
					<p>
						Explore the city's highlights with these interactive maps.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/housing_in_boston" target="_blank">Housing in Boston</a></h4>
					<p>
						An in-depth look at the neighborhoods where Emerson students live.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/successful_alumni" target="_blank">Successful Alumni</a></h4>
					<p>
						Profiles of Emerson graduates who have found success in their respective fields.
					</p>
				</div>	
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/staff/blake-campbell" target="_blank">Contemplating Literature</a></h4>
					<p>Blake Campbell reveals the pleasures of great works of literature and poetry.</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/dix_pix" target="_blank">Dix Pix</a></h4>
					<p>
						Peyton Dix considers the social and cultural aspects of modern fashion.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/modern_cinema" target="_blank">Modern Cinema</a></h4>
					<p>Jason Madanjian illuminates the unexpected in his film column.</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/world_of_difference" target="_blank">World of Difference</a></h4>
					<p>
						Christina Bartson reflects what she learned during her travels in Europe.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/hilton_and_the_heart" target="_blank">Hilton and the Heart</a></h4>
					<p>
						Hilton Dresden chronicles the trials and tribulations of 21st-century love.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/castle_kids" target="_blank">Castle Kids</a></h4>
					<p>Correspondents from Kasteel Well paint a picture of life across the pond.</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/times_in_los_angeles" target="_blank">Times in Los Angeles</a></h4>
					<p>
						Steph Kiser meditates on surprises and lessons learned in the city of angels.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/music_musings">Music Musings</a></h4>
					<p>Dillon Riley takes on the contentious issues in contemporary music criticism.</p>
				</div>			
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/carr_on_culture" target="_blank">Carr on Culture</a></h4>
					<p>
						Mary Kate Carr considers perspectives on feminism in this modern age.
					</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/the_real_deal" target="_blank">The Real Deal</a></h4>
					<p>Olivia Harvey offers advice for all-too-familiar college situations.</p>
				</div>
				<div class="topic topic_third">
					<h4><a href="http://www.berkeleybeacon.com/series/fashionista_gal" target="_blank">Fashionista Gal</a></h4>
					<p>Jennifer Ortakales reviews the trends that are shaping haute couture.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="credits">
		<div class="wrap">
			<strong>Photo credits:</strong> Opening slideshow: Jack Adams, Ryan Catalani, Nydia Hartono, Evan Walsh. After 100 issues, an editor says farewell: Jack Adams. A half-century of race relations at Emerson: Courtesy of The Emersonian. Surveying Emerson's climate: Jack Adams. Snow day calculator: Jack Bushell. Beacon Beats: Jack Adams. Title IX at Emerson: Ryan Catalani. Construction and renovation: Via the Boston Redevelopment Authority.

		</div>
	</div>
</div>

<div class="wrap">
	<div class="clear"></div>
	<div id="footer">
		Copyright &copy; The Berkeley Beacon 2017. All rights reserved. Thank you for reading!
		<div class="footer_right">
			<%= link_to "Search", "/search" %> | <%= link_to "About", "/about" %> | <%= link_to "Contact", "mailto:contact@berkeleybeacon.com"%>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	$(function(){
		$('.main_header').css('height', $(window).height());
		$('.rslides li').css('height', $(window).height());
		if ($(window).width() > 900) {
			$('.special_feature').css('height', $(window).height());	
		};
		$('.main_header .rslides').responsiveSlides();
	});
</script>