<div id="calculator">
	<h3>Interactive Feature • Feb. 10, 2015</h3>

	<h1>How much are your canceled classes worth?</h1>

	<p class="conditions">Storms have dropped historic levels of snow on Boston, forcing Emerson to cancel five full days of class. See how much those days are worth for you.</p>

	<div class="row">
		<div class="col_50_snow">
			<p class="focus">
				Hours of class you have each...
			</p>
			<p class="focus input">Monday before 4 p.m.: <input type="text" id="monday" placeholder="0"></p>
			<p class="focus input">Monday after 4 p.m.: <input type="text" id="monday_after" placeholder="0"></p>
			<p class="focus input">Tuesday: <input type="text" id="tuesday" placeholder="0"></p>
			<p class="focus input">Wednesday: <input type="text" id="wednesday" placeholder="0"></p>
		</div>

		<div class="col_50_snow snow_large_display">
			<p class="results_large">$<span class="updatable_cost">0</span></p>
			<p class="focus">Value of your canceled classes</p>
			<p class="share">
				<a href="https://twitter.com/intent/tweet?&text=Calculate%20how%20much%20your%20canceled%20classes%20at%20%40EmersonCollege%20are%20worth.%20http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fsnow_calculator%20via%20%40BeaconUpdate" class="twitter_link" target="_blank">Tweet</a> your results or <a href="https://www.facebook.com/dialog/feed?app_id=128499383927655&display=popup&name=How%20much%20are%20your%20canceled%20classes%20worth%3F&caption=See%20how%20much%20your%20canceled%20classes%20at%20Emerson%20are%20worth.&description=An%20interactive%20feature%20by%20The%20Berkeley%20Beacon.&link=http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fsnow_calculator&picture=https%3A%2F%2Fs3.amazonaws.com%2FBerkeleyBeacon%2Fbeacon_uploads%2Fuploads%2F1423126348-Snowstorm_Bushell_01272015_0021.jpg.jpg&redirect_uri=http://www.berkeleybeacon.com/projects/snow_calculator" target="_blank">share them on Facebook</a>.
			</p>	

		</div>
	
		<div class="snow_small_display">
			<p class="focus results">Your canceled classes are worth: <strong>$<span class="updatable_cost">0</span></strong></p>
			<p class="focus share">
				<a href="https://twitter.com/intent/tweet?&text=Calculate%20how%20much%20your%20canceled%20classes%20at%20%40EmersonCollege%20are%20worth.%20http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fsnow_calculator%20via%20%40BeaconUpdate" class="twitter_link" target="_blank">Tweet</a> your results or <a href="https://www.facebook.com/dialog/feed?app_id=128499383927655&display=popup&name=How%20much%20are%20your%20canceled%20classes%20worth%3F&caption=See%20how%20much%20your%20canceled%20classes%20at%20Emerson%20are%20worth.&description=An%20interactive%20feature%20by%20The%20Berkeley%20Beacon.&link=http%3A%2F%2Fwww.berkeleybeacon.com%2Fprojects%2Fsnow_calculator&picture=https%3A%2F%2Fs3.amazonaws.com%2FBerkeleyBeacon%2Fbeacon_uploads%2Fuploads%2F1423126348-Snowstorm_Bushell_01272015_0021.jpg.jpg&redirect_uri=http://www.berkeleybeacon.com/projects/snow_calculator" target="_blank">share them on Facebook</a>.
			</p>	

		</div>

	</div>

	<p class="explanation">
		At Emerson, one credit <a href="http://www.emerson.edu/admission/graduate-admission/tuition-expenses/tuition-cost" target="_blank">costs</a> $1,145, and one credit is <a href="http://www.emerson.edu/policy/credit-hour-definition" target="_blank">worth</a> approximately 15 hours of classroom instruction per semester (or one hour of classroom instruction for 15 weeks). This means each hour of classroom instruction is worth approximately $76.33. To calculate the total value of Emerson's snow days, the number of class hours per day entered is multiplied by the number of days canceled (currently <span class="updatable_mondays"></span> Mondays, <span class="updatable_mondays_after"></span> Monday after 4 p.m., <span class="updatable_tuesdays"></span> Tuesdays, and <span class="updatable_wednesdays"></span> Wednesday). This calculation does not account for potential makeup days. Photo by Jack Bushell / Beacon Correspondent.
	</p>
</div>


<script src="/big.min.js"></script>
<script>
	$(function(){
		var monday_snow_days = 2;
		var monday_after_snow_days = 1;
		var tuesday_snow_days = 2;
		var wednesday_snow_days = 1;

		var credit_cost = 1145.0; // http://www.emerson.edu/admission/graduate-admission/tuition-expenses/tuition-cost
		var credit_hours = 15.0; // 1 credit hour per semester is 15 weeks of classroom instruction; http://www.emerson.edu/policy/credit-hour-definition
		var credit_cost_per_hour = credit_cost / credit_hours;
		var credit_cost_per_hour_big = new Big(credit_cost_per_hour);

		var total_cost = 0;

		var total_hours = function() {

			var hour_inputs = [
				$('#monday'),
				$('#monday_after'),
				$('#tuesday'),
				$('#wednesday')
			];
			var hour_inputs_counts = [
				monday_snow_days,
				monday_after_snow_days,
				tuesday_snow_days,
				wednesday_snow_days
			];
			var sum = 0;

			$.each(hour_inputs, function(index, el) {
				if (el.val().length == 0) {
					sum += 0;
				} else if (el.val().indexOf(":") != -1) {
					var arr = el.val().split(":");
					var hh = parseInt(arr[0]);
					var mm = parseInt(arr[1]);
					var mm_dec = mm / 60.0;
					sum += (hh + mm_dec) * hour_inputs_counts[index];
				} else {
					sum += parseFloat(el.val()) * hour_inputs_counts[index];
				}
			});

			return sum;
		};

		var calculate_cost = function(hours) {			
			var hours_big = new Big(hours);
			var rounded = hours_big.times(credit_cost_per_hour_big).round(2, 1).toFixed(2);

			update_total_text(rounded);
			total_cost = rounded;
			update_share_links();

			return rounded;
		};

		var update_total_text = function(total) {
			$('.updatable_cost').each(function(){
				$(this).text(total);
			});
		};

		var update_day_count = function() {
			var numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
			$('.updatable_mondays').each(function() {
				if (monday_snow_days < 10) {
					$(this).text(numbers[monday_snow_days]);	
				} else {
					$(this).text(monday_snow_days);
				}
			});
			$('.updatable_mondays_after').each(function() {
				if (monday_after_snow_days < 10) {
					$(this).text(numbers[monday_after_snow_days]);	
				} else {
					$(this).text(monday_after_snow_days);
				}
			});
			$('.updatable_tuesdays').each(function() {
				if (tuesday_snow_days < 10) {
					$(this).text(numbers[tuesday_snow_days]);
				} else {
					$(this).text(tuesday_snow_days);
				}
			});
			$('.updatable_wednesdays').each(function() {
				if (wednesday_snow_days < 10) {
					$(this).text(numbers[wednesday_snow_days]);
				} else {
					$(this).text(wednesday_snow_days);
				}
			});
		}

		var update_share_links = function() {
			var twt_text = "My canceled classes at @EmersonCollege are worth $" + Math.ceil(total_cost) + ". " + window.location.toString() + " via @BeaconUpdate";
			var encoded_twt_text = encodeURIComponent(twt_text);
			var twt_link = "https://twitter.com/intent/tweet?&text=" + encoded_twt_text;
			$(".twitter_link").each(function(){
				$(this).attr('href', twt_link);
			});
		}

		$('input').on('keyup', function(){
			calculate_cost(total_hours());
		});

		update_day_count();

	});
</script>

<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>