<div class="title_ix_wrap">
	<h2>
		Title IX at Emerson: Disputes and reform
	</h2>

	<h3>
		What is Title IX?
	</h3>
	<div class="text">
		<p>
			Title IX a federal law that prohibits discrimination based on gender at colleges and universities that receive federal funds, like Emerson. It was passed in 1972 as part of the United States Education Amendments.
		</p>
		<p>
			The law itself doesn't specifically mention sexual violence. But in 2011, the Department of Education's Office for Civil Rights—responsible for implementing the law—declared that sexual harrassment, including sexual violence, constitutes discrimination. Colleges were then required to "take immediate and effective steps to end sexual harassment and sexual violence," or face sanctions from the Department of Education, including losing federal funds. This 2011 letter also required colleges to create a position dedicated to overseeing the law's implementation: the Title IX Coordinator.
		</p>
		<p>
			Today, students who feel colleges mishandled their sexual harrassment or sexual violence cases can file a complaint with the Department of Education—effectively saying colleges have discriminated against them on the basis of gender—file private lawsuits citing the Title IX, or both.
		</p>	
	</div>

	<h3>
		People involved
	</h3>
	<div class="people">
		<div class="row">
			<div class="col_25">Current and former students</div>	
			<div class="col_75">
				<div class="row">
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1407873248-1389855802-DOE_SATedescoDoherty_Walsh_forweb.jpg.jpg.jpg" alt="">
						<strong>Jillian Doherty</strong>
						<p>Doherty </p>
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1383195354-sarita_walsh.jpg.jpg" alt="">
						Sarita Nadkarni
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1381381617-SarahTedesco_EvanWalsh1.jpg.jpg" alt="">
						Sarah Tedesco
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col_25">Current and former administrators</div>	
			<div class="col_75">
				<div class="row">
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1409693416-Pelton_Spears_Ansin_090214._16_copy.jpg.jpg" alt="">
						<strong>M. Lee Pelton</strong>
						<br><em>President</em>
						<p>Pelton has</p>
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1391064946-SylviaSpears_Walsh.jpg.jpg" alt="">
						<strong>Sylvia Spears</strong>
						<br><em>VP for Diversity and Inclusion</em>
						<p>Spears has</p>
					</div>
					<div class="col_33">
						<strong>Alexa Jackson</strong>
						<br><em>Associate VP for Human Resources</em>
						<p>In addition to her human resources position, Jackson was also the college's first Title IX coordinator</p>
					</div>
				</div>
				<div class="row">
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1424941526-unnamed-2.jpg.jpg" alt="">
						<strong>Betsy Facher Rauch</strong>
						<br><em>Interim Title IX Coordinator</em>
						<p>Facher Rauch was</p>
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1413427359-STANDS_DarrenSamuels_10092014_0001.jpg.jpg" alt="">
						<strong>Melanie Matson</strong>
						<br><em>Director of Violence Prevention & Response</em>
						<p>Matson, also a sexual assault survivor advocate, </p>
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1413427586-GretaSpoering_Adams_101514._0001.jpg.jpg" alt="">
						<strong>Greta Spoering</strong>
						<br><em>Sexual Assault Survivor Advocate</em>
					</div>
				</div>
				<div class="row">
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1381991143-Ludman_Harwood.jpg.jpg" alt="">
						<strong>Ronald Ludman</strong>
						<br><em>Dean of Students</em>
					</div>
					<div class="col_33">
						<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1412831360-1395901267-DavidHaden_PaolaCamargo.jpg.jpg" alt="">
						<strong>David Haden</strong>
						<br><em>Former associate dean and director of housing and residence life</em>

					</div>
					<div class="col_33">
						Michael Arno
					</div>
				</div>
				<div class="row">
					<div class="col_33">Danielle Mastronaridi</div>
					<div class="col_33">Kimberly Marcella</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col_25">Lawyers</div>	
			<div class="col_75">
				<div class="row">
					<div class="col_33">
						<strong>David Angueira</strong>
						<br><em>Lawyer representing both plaintiffs suing Emerson</em>
						<p>
							Angueira
						</p>
					</div>
					<div class="col_33">
						<strong>Holland & Knight</strong>
						<br><em>Law firm representing Emerson in both civil cases</em>
						<p>
							Emerson is represented by two lawyers, TK and TK, from this multinational firm.
						</p>
					</div>
					<div class="col_33">
						<strong>Christine Hughes</strong>
						<br><em>Emerson VP and General Counsel</em>
						<p>
							
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<h3>
		Timeline of events
	</h3>

	<table class="timeline">
	  <tr id="timeline_header">
	    <th>&nbsp;</th>
	    <th>Federal complaint</th>
	    <th>Doherty lawsuit</th>
	    <th>Doe lawsuit</th>
	    <th>At Emerson</th>
	  </tr>
	  <tr>
	    <td>Oct. 2013</td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1389855802-DOE_SATedescoDoherty_Walsh_forweb.jpg.jpg" alt="">
	    	Sophomore Sarah Tedesco and junior Jillian Doherty <a href="http://www.berkeleybeacon.com/news/2014/1/16/feds-look-into-title-ix-complaints">file a complaint</a> with the Department of Education's Office for Civil Rights, or OCR.
	    	<br><br>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_220_1383195354-sarita_walsh.jpg.jpg" alt="">
	    	Later that month, <a href="http://www.berkeleybeacon.com/news/2013/10/31/student-comes-forward-as-part-of-complaint">junior Sarita Nadkarni</a> said she was another complainant.
	    </td>
	    <td></td>
	    <td></td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_140_1382589217-PeltonTownHall_Harwood.jpg.jpg" alt="">
	    	Administrators hold a <a href="http://www.berkeleybeacon.com/news/2013/10/24/at-town-hall-meeting-community-discusses-sexual-assault">town hall-style meeting</a> in response to the federal complaint.
	    	<br><br>Professors, in a joint statement, <a href="http://www.berkeleybeacon.com/news/2013/10/31/faculty-assembly-letter">urge the college</a> to investigate the alleged failures.</td>
	  </tr>
	  <tr>
	    <td>Nov. 2013</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_140_1395296164-MargolisHealy_Paolo.jpg.jpg" alt="">
	    	Emerson announced an outside firm, Margolis Healy &amp; Associates, would <a href="http://www.berkeleybeacon.com/news/2013/11/14/external-review">review</a> the college's Title IX compliance.
	    </td>
	  </tr>
	  <tr>
	    <td>Dec. 2013</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>Emerson <a href="http://www.berkeleybeacon.com/news/2013/12/5/assault-advocate-to-be-hired-by-january">announces its plan</a> to hire a sexual assault prevention and response advocate by January 2014.</td>
	  </tr>
	  <tr>
	    <td>Jan. 2014</td>
	    <td>The OCR <a href="http://www.berkeleybeacon.com/news/2014/1/16/feds-look-into-title-ix-complaints">confirms</a> it has begun investigating Emerson.</td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Feb. 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>March 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>The college <a href="http://www.berkeleybeacon.com/news/2014/3/17/emerson-announces-melanie-matson-as-new-assault-response">hires Melanie Matson</a> as its new sexual assault response advocate and director of violence prevention and response.</td>
	  </tr>
	  <tr>
	    <td>April 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>Emerson <a href="http://www.berkeleybeacon.com/news/2014/4/3/college-will-seek-new-title-ix-coordinator-pelton">announces</a> it plans to hire a full-time Title IX coordinator.</td>
	  </tr>
	  <tr>
	    <td>May 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>June 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>July 2014</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Aug. 2014</td>
	    <td></td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_140_1407873248-1389855802-DOE_SATedescoDoherty_Walsh_forweb.jpg.jpg.jpg" alt="">
	    	Doherty <a href="http://www.berkeleybeacon.com/news/2014/8/12/student-sues-emerson-for-mishandling-sexual-assault-case">files a lawsuit</a> against Emerson and four administrators.</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Sept. 2014</td>
	    <td></td>
	    <td>Emerson announced it would dispute Doherty's allegations.<br><br>Later that month, the college's lawyers filed a motion seeking to dismiss Doherty's lawsuit.</td>
	    <td></td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_140_1409693416-Pelton_Spears_Ansin_090214._16_copy.jpg.jpg" alt="">
	    	President M. Lee Pelton <a href="http://www.berkeleybeacon.com/news/2014/9/2/pelton-unveils-restructured-sexual-assault-prevention-response-program">unveils</a> a restructured sexual assault prevention and response program at Emerson.
	    </td>
	  </tr>
	  <tr>
	    <td>Oct. 2014</td>
	    <td></td>
	    <td>The move to dismiss sparked widespread criticism, particularly after a Huffington Post article.<br><br>Later that month, Doherty's lawyer filed a motion opposing Emerson's motion to dismiss.</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Nov. 2014</td>
	    <td></td>
	    <td>Emerson's lawyers filed a response further arguing for the case's dismissal.</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Dec. 2014</td>
	    <td></td>
	    <td>A final response from Doherty's lawyer...</td>
	    <td>A second student, who is anonymous but identified as Jane Doe, filed a lawsuit against Emerson and six administrators.</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Jan. 2015</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Feb. 2015</td>
	    <td></td>
	    <td></td>
	    <td>Emerson requested more time to respond to this new lawsuit.</td>
	    <td>
	    	<img src="https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_140_1424941526-unnamed-2.jpg.jpg" alt="">
	    	Emerson announced it would appoint Betsy Facher Rauch would be its interim Title IX coordinator while still searching for someone to hold the position full-time.</td>
	  </tr>
	</table>
	
</div>

<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script src="/jquery-scrolltofixed-min.js"></script>
<script>
	$(function(){
		$("#timeline_header").scrollToFixed();
	});
</script>