<div class="text">
	<h3>Interactive Feature • Feb. 26, 2015</h3>
	<h1>#tbt to Netscape</h1>

	<p>This was the Beacon's website in 1997—as saved by the <a href="https://web.archive.org/web/19970626100125/http://www.emerson.edu/BerkeleyBeacon/home.html">Internet Archive</a>—a time when “online” was still hyphenated and zany Photoshop effects were prized.</p>

	<p>The issue may be 17 years old, but many stories feel quite familiar. The cost of college services keeps increasing: Students then were outraged at having to pay for gym access, and students today debate ever-rising <a href="http://www.berkeleybeacon.com/news/2013/4/25/tuition-aid-leave-some-with-doubt">tuition</a> and <a href="http://www.berkeleybeacon.com/news/2014/2/27/sga-requests-to-raise-activities-fee-by-20">fees</a>. And the campus is constantly in flux: In 1997, Emerson was in the midst of its relocation from Back Bay to Boston Common; now, the college is embarking on <a href="http://www.berkeleybeacon.com/news/2014/11/20/college-construction-to-renovate-little-building-expand-into">two multimillion-dollar construction projects</a>.</p>

	<p>We wrote about the on-campus radio station's WERS Live Music Week, a “unique Emerson tradition” that does, indeed, still <a href="http://www.berkeleybeacon.com/arts/2014/10/22/with-live-music-week-wers-embraces-the-locals">continue</a>. Seniors still “search for their place in the ‘real’ world” (“many seniors admit they will miss the students and professors at Emerson, while others hold no such emotion”). And editors faced the perennial challenge of covering sports at a largely unathletic school: “I think that there are some pretty talented athletes attending Emerson,” a columnist wrote, “and that they are not given justice when compared to previous years where a team was barely possible and uniforms were dispersed to whomever would show up.”</p>

	<p>Yet in some cases, this issue's pre-millennium artifacts are inescapable. Yahoo—that is, Yahoo!—was referred to the default search engine. An article directed readers to audio clips that required the now-defunct RealAudio. “We have students who enter our ranks who will never know a Charlesgate or a <a href="http://www.berkeleybeacon.com/feature/2013/10/3/roads-is-where-the-heart-is-neighborhood-pub">Crossroads</a>,” one guest columnist wrote. “Tell the incoming Class of 2001 I said hello.”</p>

	<p><em>— Ryan Catalani / Beacon Staff</em></p>
</div>



<iframe id="site_iframe" src="http://theberkeleybeacon.s3.amazonaws.com/website1997/index.html" width="100%" height="500px"></iframe>

<script>
	$(function(){
		var iframe_height = Math.floor($(window).height() * 0.8) + "px";
		$("#site_iframe").attr("height", iframe_height);
	});
</script>
<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>