<nav>
	<div class="wrap">
		<a href="/">The Berkeley Beacon</a>	
	</div>
</nav>
<header style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/year_in_review_8.jpg)">
	<div class="wrap">
		<h1>2014: A Look Back</h1><br>
		<h2>The stories that shaped Emerson this year</h2>
	</div>
</header>

<div class="wrap">

	<div class="row">
		<div class="col_25">
			<h3><a href="#">The eight top stories of 2014</a></h3>
			<a href="#" class="read_all">Read all the stories</a>
		</div>
		<div class="col_75">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies.</p>
		</div>	
	</div>
	
	<div class="row">
		<div class="col_25">
			<h3><a href="#">The year in opinion</a></h3>
			<a href="#" class="read_all">Read all the stories</a>
		</div>
		<div class="col_75">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies.</p>
		</div>
	</div>

	<div class="row">
		<div class="col_25">
			<h3><a href="#">A look at the Emerson community</a></h3>
			<a href="#" class="read_all">Read all the stories</a>
		</div>
		<div class="col_75">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies.</p>
		</div>
	</div>

	<div class="row">
		<div class="col_25">
			<h3><a href="#">Notable photography of the year</a></h3>
			<a href="#" class="read_all">See all the photos</a>
		</div>
		<div class="col_75">
			<div class="row">
				<div class="col_25 photo_thumb" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/year_in_review_1.jpg)"></div>
				<div class="col_25 photo_thumb" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/year_in_review_2.jpg)"></div>
				<div class="col_25 photo_thumb" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/year_in_review_3.jpg)"></div>
				<div class="col_25 photo_thumb" style="background-image:url(http://theberkeleybeacon.s3.amazonaws.com/year_in_review_4.jpg)"></div>
			</div>
			<p>This last year, the Beacon published 459 photographs, and our photographers took thousands more to get just the right shot. These 11 pictures are the most compelling images of those thousands, and each one deserves a second look as 2014 transitions into 2015, to remember the events that have impacted the Emerson community.</p>
		</div>	
	</div>
	
</div>