// Fonts

$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

// Colors

$news: #8e7eb0;
$opinion: #7e97af;
$arts: #b07e7e;
$lifestyle: #67b67b;
$sports: #b8aa73;
$feature: #7eb8ba;
$multimedia: #444;
$events: #E4B041;
$beyond: #CF743B;

$light_border: #dbdbdb;

@mixin outer_wrap {
	@include main_width;
	@include main_left_margin('margin-left');
	padding: 1em 0;
}

@mixin clearfix {
	  content: ".";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden;
}

@mixin list_li {
	border-bottom: 1px solid $light_border;
	padding: 0.5em 0;
	&:last-child {
		border-bottom: none;
	}
	&:after {
		@include clearfix;
	}
	img {
		float: left;
		margin-right: 7px;
	}
}

@mixin section_bkgd_hover {
	&.news:hover {
		background-color: lighten($news, 5%);
	}
	&.opinion:hover {
		background-color: lighten($opinion, 5%);
	}
	&.arts:hover {
		background-color: lighten($arts, 5%);
	}
	&.lifestyle:hover {
		background-color: lighten($lifestyle, 5%);
	}
	&.sports:hover {
		background-color: lighten($sports, 5%);
	}
	&.feature:hover {
		background-color: lighten($feature, 5%);
	}
	&.multimedia:hover {
		background-color: lighten($multimedia, 5%);
	}
	&.events:hover {
		background-color: lighten($events, 5%);
	}
	&.beyond:hover {
		background-color: lighten($beyond, 5%); 
	}
}

@mixin small_caps {
	font-size: 0.8em;
	text-transform: uppercase;
}

// Responsive
$breakpoint_1: 1024px;
$breakpoint_2: 768px;
$breakpoint_3: 320px;
@mixin main_left_margin($attribute) {
	#{$attribute}: 200px;
	@media(max-width: $breakpoint_1) {
		#{$attribute}: 100px;
	}
	@media(max-width: $breakpoint_2) {
		#{$attribute}: 70px;
	}
	@media(max-width: $breakpoint_3) {
		#{$attribute}: 0px;
	}
}
@mixin sm_left_margin($attribute) {
	#{$attribute}: 125px;
	@media(max-width: $breakpoint_1) {
		#{$attribute}: 50px;
	}
	@media(max-width: $breakpoint_2) {
		#{$attribute}: 20px;
	}
	@media(max-width: $breakpoint_3) {
		#{$attribute}: 0px;
	}
}
@mixin main_width {
	width: 560px;
	@media(max-width: $breakpoint_3) {
		width: 100%;
	}
}

body.a14 {
	font: 17px/1.4em $serif_font_stack;
	// background: #f4f4f4;
	position: relative;

	p {
		margin-bottom: 0.75em;
	}

	// Colors

	.news {
		background-color: $news;
	}

	.opinion {
		background-color: $opinion;
	}

	.arts {
		background-color: $arts;
	}

	.lifestyle {
		background-color: $lifestyle;
	}

	.sports {
		background-color: $sports;
	}

	.feature {
		background-color: $feature;
	}

	.multimedia {
		background-color: $multimedia;
	}

	.events {
		background-color: $events;
	}

	.beyond {
		background-color: $beyond;
	}

	// Layout

	.topnav {
		background: #fff;
		height: 54px;
		-webkit-box-shadow: inset 0px -1px 0px 0px rgba(219,219,219,1);
		-moz-box-shadow: inset 0px -1px 0px 0px rgba(219,219,219,1);
		box-shadow: inset 0px -1px 0px 0px rgba(219,219,219,1);
		@media(max-width: $breakpoint_3) {
			&.news {
				background: $news;
			}
			&.opinion {
				background: $opinion;
			}
			&.arts {
				background: $arts;
			}
			&.lifestyle {
				background: $lifestyle;
			}
			&.sports {
				background: $sports;
			}
			&.feature {
				background: $feature;
			}
			&.multimedia {
				background: $multimedia;
			}
			&.events {
				background: $events;
			}
			&.beyond {
				background: $beyond;
			}
		}
		&:after {
			@include clearfix;
		}
		.topnav_left {
			@include main_left_margin('width');
			float: left;
			@media(max-width: $breakpoint_3) {
				width: auto;
			}
		}
		.topnav_b {
			display: block;
			width: 36px;
			height: 36px;
			margin-top: 9px;
			margin-left: 9px;
			background-image: url("/assets/b_square.png");
			background-size: cover;
			background-repeat: no-repeat;
			@include section_bkgd_hover;
			@media(max-width: $breakpoint_3) {
				width: 20px;
				height: 20px;
				margin-top: 17px;
			}
		}
		.topnav_section {
			@include main_width;
			display: block;
			float: left;
			position: relative;
			@media(max-width: $breakpoint_3) {
				width: auto;
				border-bottom: none;
				margin-left: 9px;
				border-left: 1px solid $light_border;
				padding-left: 9px;
			}
			a {
				font: 1.5em $sans_font_stack;
				font-weight: 700;
				color: #fff;
				display: block;
				width: 100%;
				padding: 0.4em 0;
				border-bottom: 1px solid #fff;
				@include section_bkgd_hover;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.section_select {
			@include main_width;
			position: absolute;
			z-index: 2;
			display: none;
			-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.25);
			-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.25);
			box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.25);
			li:last-child a {
				border-bottom: none;
			}
		}
	}

	.main_wrap {
		width: 500px;
		margin: 0 auto;
		@media(max-width: $breakpoint_3) {
			width: 90%;
		}
	}

	.header_outer_wrap {
		@include outer_wrap;
		color: #fff;
		h1 {
			font: 2.5em/1.2em $serif_hed_font_stack;
		}
		h3 {
			font: 1em $sans_font_stack;
			font-weight: 300;
			padding-right: 1em;
			a {
				&:link, &:visited {
					color: #fff;
					font-weight: 500;
				}
			}
		}
	}

	.main_photo {
		position: relative;
		&.main_photo_vertical {
			@include outer_wrap;
			height: 560px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@media(max-width: $breakpoint_3) {
				height: 320px;
			}
			.main_photo_caption {
				left: 580px;
				bottom: 0;
				position: absolute;
				@media(max-width: $breakpoint_2) {
					left: 570px;
				}
			}
			.gallery_open {
				left: 10px;
				bottom: 10px;
			}
		}
		&.main_photo_horizontal {
			margin-bottom: -10px;
			img {
				// height: 560px;
				// width: auto;
				min-width: 560px;
				max-width: 850px;
				height: auto;
				@include sm_left_margin('margin-left');
				@media(max-width: $breakpoint_2) {
					width: 100%;
					height: auto;
					margin-left: 0;
				}
			}
			.main_photo_caption {
				position: absolute;
				left: 800px;
				@media(max-width: $breakpoint_1) {
					left: 670px;
				}
				@media(max-width: $breakpoint_2) {
					left: 640px;
				}
			}
			.gallery_open {
				left: 135px;
				bottom: 20px;
				@media(max-width: $breakpoint_1) {
					left: 60px;
				}
				@media(max-width: $breakpoint_2) {
					left: 10px;
				}
			}
		}
		.main_photo_caption {
			width: 200px;
			font: 0.8em/1.2em $sans_font_stack;
			color: #666;
			padding-top: 24px;
			@media(max-width: $breakpoint_2) {
				width: 120px;
			}
			@media(max-width: $breakpoint_3) {
				display: none;
			}
			a {
				color: #666;
			}
			.credit {
				@include small_caps;
			}
		}
		.gallery_open {
			background: rgba(0,0,0,0.7);
			color: #fff;
			display: inline-block;
			font: 1.25em $sans_font_stack;
			font-weight: 300;
			padding: 0.4em;
			position: absolute;
			cursor: pointer;
			&:hover {
				background: rgba(0,0,0,0.5);
			}
		}
	}

	.main_photo_caption_inline {
		display: none;
		@media(max-width: $breakpoint_3) {
			display: block;
			font: 0.8em/1.2em $sans_font_stack;
			color: #666;
			text-align: right;
			margin-bottom: 1.5em;
		}
	}

	.body_outer_wrap {
		@include outer_wrap;
		padding-top: 30px;
		// background: #fff;
		// border-left: 1px solid $light_border;
		// border-right: 1px solid $light_border;
		// border-bottom: 1px solid $light_border;
		.body_inner_wrap {
			width: 100%;
			@media(max-width: $breakpoint_2) {
				width: 90%;
				margin: 0 auto;
			}
		}
	}

	.body_text {
		a {
			&:link, &:visited {
				color: #667EA9;
				text-decoration: underline;
			}
			&:hover, &:active {
				color: #7E9BD0;
			}
		}
	}

	.inline_img_wrap {
		.inline_img_caption {
			font: 0.75em $sans_font_stack;
			color: #666;
			text-align: right;
		}
	}

	.gallery_full {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.95);
		z-index: 5;
		.gallery_inner {
			width: 80%;
			height: 80%;
			margin: 5% auto;
			@media(max-width: $breakpoint_2) {
				height: 90%;
			}
		}
		.gallery_close {
			color: rgba(0,0,0,0.4);
			float: left;
			&:hover {
				cursor: pointer;
				color: rgba(0,0,0,0.35);
			}
		}
		.rslides_nav {
			color: rgba(0,0,0,0.4);
			display: block;
			float: left;
			&:hover {
				color: rgba(0,0,0,0.35);
			}
			&.prev {
				margin-right: 15px;
			}
		}
		.gallery_nav_container {
			float: right;
			&:after {
				@include clearfix;
			}
		}
		ul {
			width: 100%;
			height: 100%;
			li {
				width: 100%;
				height: 100%;
				.gallery_image {
					width: 100%;
					height: 90%;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					@media(max-width: $breakpoint_2) {
						height: 70%;
					}
				}
				.gallery_image_caption {
					margin-top: 1em;
					width: 75%;
					@media(max-width: $breakpoint_2) {
						width: 100%;
					}
					.credit {
						@include small_caps;
						font-family: $sans_font_stack;
					}
				}
			}
		}
	}

	.sidebar {
		float: right;
		width: 250px;
		.sidebar_head {
			color: #fff;
			padding: 0.5em;
			font: 1em $sans_font_stack;
			font-weight: 300;
		}
		.sidebar_body {
			background: #fff;
			padding: 0.5em;
			border-left: 1px solid $light_border;
			border-right: 1px solid $light_border;
			border-bottom: 1px solid $light_border;
		}
		li {
			@include list_li;
		}
	}

	.more_from_section {
		margin-top: 250px;
		position: absolute;
		left: 800px;
		@media(max-width: $breakpoint_1) {
			left: 700px;
		}
		@media(max-width: $breakpoint_2) {
			display: none;
		}
	}

	.article_share {
		float: left;
		@include sm_left_margin('margin-left');
		margin-top: 30px;
		@media(max-width: $breakpoint_3) {
			margin-right: 1em;
			margin-bottom: 1em;
		}
		li {
			position: relative;
			a {
				display: block;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				margin-bottom: 5px;
				line-height: 2.5em;
				@include section_bkgd_hover;
			}
			.fb_slide {
				position: absolute;
				top: 0px;
				background: #fff;
				height: 100%;
				padding: 6px 10px 0 10px;
				border: 1px solid $light_border;
				border-left: none;
				z-index: 1;
				left: 40px;
				overflow: hidden;
			}
		}
	}

	.popular {
		width: 100%;
		margin-top: 50px;
		border-top: 3px double $light_border;
		padding-top: 25px;
		.popular_switch {
			font: 1em $sans_font_stack;
			margin-bottom: 1em;
			font-weight: 500;
			a {
				font-weight: 300;
				color: #000;
				&:hover {
					text-decoration: none;
				}
				&:first-child {
					margin: 0 0.3em;
				}
			}
			a.active {
				font-weight: 500;
				border-bottom: 2px solid #000;
			}
		}
		#popular_inner:after {
			@include clearfix;
		}
		.popular_type {
			&:after {
				@include clearfix;
			}
			.popular_first {
				display: block;
				float: left;
				width: 48%;
				margin-right: 4%;
				@media(max-width: $breakpoint_3) {
					width: 100%;
					margin-right: 0;
					padding-bottom: 0.5em;
					border-bottom: 1px solid $light_border;
				}
				img {
					width: 100%;
				}
			}
			ol {
				float: left;
				width: 48%;
				@media(max-width: $breakpoint_3) {
					width: 100%;
				}
				list-style-type: decimal;
				list-style-position: inside;
			}
			li {
				@include list_li;
				img {
					float: right;
					margin: 0 0 0 7px;
				}
			}
			.share_count {
				font: 1em/2.5em $sans_font_stack;
				display: block;
				float: right;
				background: #efefef;
				width: 40px;
				height: 40px;
				text-align: center;
				margin: 0 0 0 7px;
			}
		}
	}

	.comments {
		margin-top: 50px;
		border-top: 3px double $light_border;
		padding-top: 25px;
	}

	.a14_prototype_banner {
		background: #F3F2F4;
		width: 100%;
		padding: 1em 1em 0.7em 1em;
		&:after {
			@include clearfix;
		}
		i {
			float: left;
			margin-top: -6px;
			margin-right: 10px;
		}
		a {
			&:first-child {
				text-decoration: none;
			}
			&:link, &:visited {
				color: #59595A;
				text-decoration: underline;
			}
			&:hover {
				color: #777;
			}
		}
	}

	.wide_wrap {
		@include main_left_margin('padding-left');
		@include main_left_margin('padding-right');
	}

	.btn {
		border: 1px solid #000;
		padding: 5px 7px;
		border-radius: 7px;
	}
}

.prevent_scroll {
	height: 100%;
	overflow: hidden;
}