// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link_blue: #4c6d92;
$link_hover_blue: #8aadd3;
$oscars_gold: #F5CA6E;

$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

@mixin upcase {
	text-transform: uppercase;
	font-size: 0.8em;
}

@mixin arvo {
	font-family: "Arvo", Rockwell, serif;
}

@mixin col($percent) {
	width: $percent - 2;
	margin: 0 1%;
	float: left;
	&:last-child {
		margin-right: 0;
	}
	&:first-child {
		margin-left: 0;
	}
}

@mixin col_tight($percent) {
	width: $percent;
	margin: 0;
	float: left;
}

@mixin normal_text_styles {
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	p {
		margin-bottom: 10px;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
	}

	a:link, a:visited {
		color: $link_blue;
		border-bottom: 1px dotted #b4bfcd;
	}

	a:hover {
		color: $link_hover_blue;
		text-decoration: none;
	}
}

@mixin bottom-white-triangle {
	position: relative;
	height: 9px;
	overflow: hidden;
	margin-top: -1px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #aaa;
		top: -1px;
	}
	&:after {
		top: -1px;
		margin-left: 1px;
		content: '';
		display: block;
		position: absolute;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 9px solid #fff;
	}
}

.no-mobile {
	@media(max-width: 1000px) {
		display: none;
	}
	@media(min-width: 1000px) {
		display: block;
	}
}

.yes-mobile {
	@media(max-width: 1000px) {
		display: block;
	}
	@media(min-width: 1000px) {
		display: none;
	}
}

// #main {
// 	font: 15px/1.2em $serif_font_stack;

// 	h2, h3, h4 {
// 		font-family: $serif_hed_font_stack;
// 	}

// 	h2 {
// 		font-size: 32px;
// 	}

// 	h3 {
// 		font-size: 24px;
// 	}

// 	h4 {
// 		font-size: 20px;
// 	}

// 	#center .story .section_title {
// 		font-size: 15px;
// 	}
// }

#left, #center, #right {
	float: left;
}

#left {
	width: 46%;
	margin-right: 2%;
	border-right: 1px solid #ddd;
	padding-right: 2%;
}

#center {
	width: 25%;
	margin-right: 2%;
	border-right: 1px solid #ddd;
	padding-right: 2%;
}

#right {
	width: 25%;

}

.separator {
	margin: 1.5em 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 3px;
	clear: both;
	float: none;
}

#latest_tweets {
	li {
		margin-bottom: 0.5em;
		border-bottom: 1px dotted #ccc;
		padding-bottom: 0.5em;
	}
	li:last-child {
		border-bottom: none;
	}
	h4 {
		display: inline;
	}
}

.featured-story-img-wrap {
	height: 220px;
	width: 220px;
	overflow: hidden;
	margin-bottom: 10px;
	float: left;
	margin-right: 1em;
}


.featured-story {
	border-top: 1px solid #ccc;
	margin-top: 1em;
	padding-top: 1em;
	&.new-main {
		border-top: 3px double #ccc;
		h2 {
			margin-bottom: 10px;
		}
	}
}

.byline {
	font-style: italic;
}

#main-story {
	.main-story-img-wrap {
		height: 344px;
		width: 100%;
		overflow: hidden;
		img {
			margin-top: 0px;
		}
		float: left;
		margin-bottom: 1em;
	}
	margin-bottom: 20px;
}

#center {
	.story {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px dotted #ccc;
		.section_title {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			color: #666;
		}
		.topic_title {
			color: #aaa;
			font-weight: normal;
		}
		h3 {
			font-size: 15px;
			line-height: 18px;
			font-weight: bold;
			a {
				color: #454545;
			}
		}
		img {
			float: right;
			width: 31%;
			margin-left: 4%;
			&.emoji {
				float: none;
				width: inherit;
				margin-left: 0;
			}
		}
	}
	.story:last-child {
		border-bottom: none;
	}
}

#middle {
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	margin: 20px 0;
	padding: 10px 0;
}

.group-a, .group-b, .group-c {
	float: left;
	width: 31%;
}
.group-a, .group-b {
	margin-right: 2%;
	padding-right: 2%;
	border-right: 1px solid #ccc;
}

.section-box, .sidebar-box, #popular {
	float: left;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
		a {
			color: #666;
		}
	}
	margin-bottom: 1em;
	.mediawrap {
		width: 100%;
		max-height: 200px;
		overflow: hidden;
		img {
			width: 100%;
			margin-top: -10px;
		}
		margin-bottom: 10px;
	}
	ul li {
		border-top: 1px solid #cbcbcb;
		margin: 5px 0;
		padding: 5px 0;
	}
}

.sidebar-box {
	margin-bottom: 40px;
}

#popular.home_popular {
	#popular_most_viewed_h, #popular_most_shared_h {
		font-size: 1em;
	}
}

#popular {
	width: 100%;

	#popular_most_viewed_h, #popular_most_shared_h {
		@include arvo;
		font-weight: bold;
		display: block;
		font-size: 0.85em;
		width: 50%;
		text-align: center;
		text-transform: uppercase;
		color: #666;
		float: left;
		padding: 10px 0;
		&:hover {
			text-decoration: none;
		}
		&.inactive {
			color: #999;
		}
	}

	#popular_most_viewed_h.active {
		box-shadow: 1px 0 3px #aaa;
		-moz-box-shadow: 1px 0 3px #aaa;
		-webkit-box-shadow: 1px 0 3px #aaa;
	}

	#popular_most_shared_h.active {
		box-shadow: -1px 0 3px #aaa;
		-moz-box-shadow: -1px 0 3px #aaa;
		-webkit-box-shadow: -1px 0 3px #aaa;
	}



	ol {
		list-style: decimal;
		list-style-position: inside;

		li {
			margin-bottom: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
			border-bottom: 1px solid #cbcbcb;
			min-height: 60px;
		}
	}
	.popular_img_wrap {
		float: left;
		// margin-top: 5px;
		margin-right: 10px;
		width: 40px;
		height: 40px;
	}
	#popular_most_shared {
		display: none;
	}
	#popular_selected {
		@include bottom-white-triangle;
		margin-left: 45%;
	}
	#popular_separator, #popular_inactive_separator {
		width: 50%;
		height: 10px;
		margin-bottom: 5px;
		float: left;
	}
	#popular_separator {
		border-top: 1px solid #ccc;
	}
	#popular_inactive_separator {
		border-top: 1px solid #e7e7e7;
	}
	.popular_shares_wrap {
		@include arvo;
		font-size: 15px;
		line-height: 15px;
		float: left;
		background: #666;
		color: #fff;
		text-align: center;
		width: 50px;
		padding: 7px 0 5px;
		margin-right: 10px;
	}
	.popular_shares_t {
		@include upcase;
		font-size: 10px;
	}
}

.clear {
	float: none;
	clear: both;
}

h2 {
	font: 25px/28px "Arvo", Rockwell, serif;
}

h3 {
	font: 18px/20px "Arvo", Rockwell, serif;
	margin-bottom: 5px;
}

h5 {
	font-weight: bold;
}


a {
	color: #323232;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#intercept {
	width: 400px;
	margin: 30px auto;
	h1 {
		font: 30px/40px "Arvo", Rockwell, serif;
	}
	h2 {
		margin-top: 10px;
		font: 20px/30px "Arvo", Rockwell, serif;
	}
	a:link, a:visited {
		text-decoration: underline;
	}
}

@media screen and (max-width: 959px) {
	.wrap {
		width: 98%;
		margin: 0 1%;
	}

}

@media screen and (max-width: 640px) {
	.wrap {
		width: 98%;
		margin: 0 1%;
	}
	#left, #center, #right {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
		border: none;
	}
	#main-story {
		.story-text {
			float: none;
			width: 100%;
		}
		.main-story-img-wrap {
			float: none;
			height: auto;
			margin-top: .5em;
			margin-left: 0;
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	#main-story, #featured-stories, #top-sidebar {
		width: 100%;
		float: none;
		margin: 5% 0;
		padding: 0;
		border: none;
	}
	#featured-stories {
		border-bottom: 3px double #cbcbcb;
		padding-bottom: 5%;
	}
	.featured-story {
		width: 100%;
		float: none;
		margin: 0 0 1em;
		border-top: 1px dotted #bbb;
		padding-top: 1em;
		.featured-story-img-wrap {
			width: 48%;
			height: auto;
			margin-right: 2%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.group-a, .group-b, .group-c {
		width: 100%;
		margin: 0;
		border: none;
		float: none;
		.separator {
			display: none;
		}
	}
	.section-box {
		border: none;
		height: auto;
	}
	#latest_tweets {
		display: none;
	}
	#news-section-box, #ae-section-box, #sports-section-box, #lifestyle-section-box, #opinion-section-box {
		width: 100%;
		border: none;
		margin: 0;
		padding-bottom: 1em;
		padding-top: 1em;

		border-bottom: 1px solid #cbcbcb;
		li {
			list-style-type: none;
			border-top: 1px dotted #ccc;
			padding-top: 1em;
			margin-top: 1em;
		}
		min-height: 0;
		.mediawrap {
			float: none;
			width: 100%;
			img {
				width: 100%;
				margin-top: -110px;
			}
		}
	}
	#popular {
		width: 100%;
		margin: 0;
		padding: 1em 0;
		border: none;
	}


}

.about {
	strong {
		display: block;
	}
}

.footer_right {
	float: right;
}

.oscars * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.nominee_box {
	border: 1px solid #ddd;
	padding: 15px;

}

.oscars .nominee {
	margin-bottom: 15px;
	font-style: italic;

	h3 {
		font-size: 14px;
		margin: 0;
		padding: 0;
		border: none;
		font-weight: normal;
		font-style: normal;
	}
}

.oscars2013 .nominee {
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.8em;
	h3 {
		text-transform: none;
		font-size: 1.7em;
	}

}

.oscars2013 .the_rest {
	h3 {
		font-size: 1em;
		border-bottom: none;
		border-top: 1px solid #ddd;
		padding-top: 1em;
		margin-bottom: 0;
		&:first-child {
			padding-top: 0;
			border-top: none;
		}
	}
	.nominee {
		h3 {
			font-size: 1.2em;
		}
	}
}

.oscars .row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.oscars h3 {
	padding: 0 15px 12px;
	border-bottom: 1px solid #ddd;
	margin: 0 -15px 15px;
	font-weight: bold;
	font-size: 16px;
}

.pick_label {
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	background-color: #eeba4c;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 186, 76)), to(rgb(226, 176, 71)));
background-image: -webkit-linear-gradient(top, rgb(238, 186, 76), rgb(226, 176, 71));
background-image: -moz-linear-gradient(top, rgb(238, 186, 76), rgb(226, 176, 71));
background-image: -o-linear-gradient(top, rgb(238, 186, 76), rgb(226, 176, 71));
background-image: -ms-linear-gradient(top, rgb(238, 186, 76), rgb(226, 176, 71));
background-image: linear-gradient(top, rgb(238, 186, 76), rgb(226, 176, 71));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eeba4c', EndColorStr='#e2b047');
	padding: 2px 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 0px -1px rgba(0,0,0,0.3);
	border: 1px solid #c4983d;
	font-style: normal;
	margin-left: 2px;
}

.oscars2013 .best_picture {
	h3 {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
		padding-bottom: 15px;
	}
	.nominee h3 {
		padding: 0;
		margin: 0;
	}
	.img_wrap {
		height: 100%;
		overflow: hidden;
		img {
			height: 100%;
			width: auto;
		}
	}
}

.oscar_img {
	height: 100%;
	background-size: cover;
}

.beacon_pick {
	background-color: #eee;
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 15px;
}

.oscars h2 {
	font-size: 25px;
}

.oscars a {
	border-bottom: 1px dotted #999;
}

.oscars a:hover {
	text-decoration: none;
}

.oscars #desc {
	margin-top: 10px;
	font-size: 18px;
	line-height: 22px;
}

.oscars2014 {
	width: 750px;
	margin: 0 auto;
	font-size: 1.1em;
	line-height: 1.4em;
	@media screen and (max-width: 760px) {
		width: 90%;
		margin: 0 auto;
	}
	h2 {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	h3 {
		font-weight: normal;
		font-size: 0.9em;
		&.award {
			margin: 0 -20px 10px;
			padding: 0 20px 10px;
		}
	}
	.nominee h3 {
		font-weight: bold;
		font-size: 1.25em;
	}
	p:last-child {
		margin-top: 1em;
		text-align: right;
	}
	.best_picture {
		background: #53789B;
		color: #fff;
		border: 1px solid #466483;
	}
	.nominee_box {
		padding: 20px;
	}
	.nominee_box_gold {
		background-color: $oscars_gold;
		border: 1px solid #D7AB53;
		h3.award {
			border-bottom: 1px solid #D7AB53;
		}
	}
	.portrait {
		padding: 10px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 1em;
		@media screen and (max-width: 550px) {
			width: 50%;
			float: right;
		}
	}
	.nominee_box_half {
		width: 48%;
		float: left;
		&:first-child {
			margin-right: 2%;
		}
		@media screen and (max-width: 550px) {
			width: 100%;
			margin-bottom: 1em;
			&:first-child {
				margin-right: 0;
			}
		}
	}
	.nominee_box_full {
		width: 100%;
		.portrait {
			width: 50%;
			float: right;
		}
	}
	.row {
		padding-bottom: 40px;
		margin-bottom: 40px;
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	.award_double {
		.award_double_item {
			width: 50%;
			float: left;
		}
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
}

#ecla_header {
	margin-bottom: 20px;
	font-size: 16px;
	font-style: italic;
	h2 {
		font-weight: bold;
		color: #333;
	}
}

.ecla_article {
	&#first {
		h3 {
			font-size: 20px;
			margin-top: 5px;
		}
		img {
			float: none;
		}
	}
	h3 {
		font-size: 16px;
	}
	&.with_thumb {
		.text {
			margin-right: 110px;
		}
	}
	img {
		float: right;
	}
	margin-bottom: 15px;
}

.ecla_wdgt {
	border-top: 2px solid #3d3d3d;
	padding-top: 7px;
	margin-bottom: 20px;
	h3 {
		margin-bottom: 7px;
	}
}

.quote_box {
	border: 1px solid #a7a7a7;
	padding: 15px;
	font-style: italic !important;
	.qmark {
		font: 55px "Georgia", "Times New Roman", serif;
		background-color: #fff;
		height: 33px;
		margin-top: 30px;
	}
	.q_l {
		float: left;
		margin-left: -28px;
	}
	.q_r {
		float: right;
		margin-right: -28px;
		padding-left: 28px;
	}
}

.ecla_wdgt#twitter_wdgt {
	#tweets {
		height: 350px;
		overflow: scroll;
		list-style-type: none;
		margin: 0;
		a {
			display: block;
			&:hover {
				text-decoration: none;
				background-color: #eee;
				color: #000;
			}
		}
		li {
			margin: 0;
			margin-bottom: 5px;
			.twt_prof {
				float: left;
				margin-right: 5px;
				margin-top: 4px;
			}
			.twt_cont {
				margin-left: 55px;
			}
			padding-bottom: 5px;
			border-bottom: 1px solid #eaeaea;
		}
	}
}

#dash_promo {
	display: block;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(235, 238, 238)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(235, 238, 238));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(235, 238, 238));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(235, 238, 238));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(235, 238, 238));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(235, 238, 238));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ebeeee');

	// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	color: #444;
	padding: 10px 5px;
	text-align: center;
	font-size: 15px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	#line1, #line2, #line3 {
		font-family: "Arvo", Rockwell;
		font-weight: bold;
		text-transform: uppercase;
	}
	#line1 {
		font-size: 14px;
		border-bottom: 1px solid #bbb;
		padding-bottom: 6px;
		margin-bottom: 7px;
		// margin-top: 5px;
	}
	#line2 {
		font-size: 19px;
	}
	#line3 {
		margin-top: 2px;
		font-weight: normal;
		font-size: 13px;
	}
	&:hover {
		text-decoration: none;
		cursor: pointer;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(244, 249, 249)));
		background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(244, 249, 249));
		background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(244, 249, 249));
		background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(244, 249, 249));
		background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(244, 249, 249));
		background-image: linear-gradient(top, rgb(255, 255, 255), rgb(244, 249, 249));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f4f9f9');
	}
	&:active {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(224, 231, 231)));
		background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(224, 231, 231));
		background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(224, 231, 231));
		background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(224, 231, 231));
		background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(224, 231, 231));
		background-image: linear-gradient(top, rgb(255, 255, 255), rgb(224, 231, 231));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e0e7e7');
	}
}

.live_tweet_box {
	margin-bottom: 20px;
}

#livestream {
	width: 800px;
	margin: 0 auto 20px;
}

.live_tweets {
	height: 300px;
	overflow: scroll;
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	a {
		display: block;
		&:hover {
			text-decoration: none;
			background-color: #eee;
			color: #000;
		}
	}
	li {
		margin: 0;
		margin-bottom: 5px;
		.twt_prof {
			float: left;
			margin-right: 5px;
			margin-top: 4px;
		}
		.twt_cont {
			margin-left: 55px;
		}
		padding-bottom: 5px;
		border-bottom: 1px solid #eaeaea;
	}
}

#full_photo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#full_photo, #full_photo * {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#ourvoice_text {
	width: 28%;
	margin-left: 10%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	padding: 4em 2% 0;
	p {
		font-size: 2em;
		line-height: 1.3em;
		margin-bottom: 1em;
	}
}

#ourvoice_text.right {
	margin-left: 62%;
}

#search_btn {
}

#search_box_wrap {
	float: right;
	// visibility: hidden;
	display: none;
	margin-bottom: -2px;
	input {
		margin: 0;
	}
}

#tip_btn {
	background-color: #fdfdfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(203, 203, 203)));
	background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(203, 203, 203));
	background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(203, 203, 203));
	background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(203, 203, 203));
	background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(203, 203, 203));
	background-image: linear-gradient(top, rgb(253, 253, 253), rgb(203, 203, 203));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fdfdfd', EndColorStr='#cbcbcb');
	border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 8px;
	border: 1px #c0c0c0 solid;
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

#tip_btn:hover {
	background-color: #cbcbcb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(203, 203, 203)), to(rgb(232, 232, 232)));
	background-image: -webkit-linear-gradient(top, rgb(203, 203, 203), rgb(232, 232, 232));
	background-image: -moz-linear-gradient(top, rgb(203, 203, 203), rgb(232, 232, 232));
	background-image: -o-linear-gradient(top, rgb(203, 203, 203), rgb(232, 232, 232));
	background-image: -ms-linear-gradient(top, rgb(203, 203, 203), rgb(232, 232, 232));
	background-image: linear-gradient(top, rgb(203, 203, 203), rgb(232, 232, 232));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cbcbcb', EndColorStr='#e8e8e8');
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #d0d0d0;
	-webkit-box-shadow: 0 0 5px #d0d0d0;
	box-shadow: 0 0 5px #d0d0d0;
}

#ourvoice_text .apply_small {
	font-size: 1.3em;
	margin-bottom: 1em;
	a {
		color: #fff;
		text-decoration: underline;
	}
}

.latest_video_thumb {
	width: 32%;
	float: left;
	position: relative;
	height: auto;
	padding: 0;
	&:first-child {
		margin-right: 2%;
	}
	&:last-child {
		margin-left: 2%;
	}
	img {
		width: 100%;
	}
}

.video_thumb_label {
	position: absolute;
	bottom: 0;
	margin-bottom: 4px;
	background: rgba(0,0,0,0.8);
	width: 100%;
	color: #fff;
	font-size: 0.7em;
	text-transform: uppercase;
	padding: 1px 4px;
}

.latest_video {
	float: left;
}

#latest_videos_container {
	overflow: hidden;
}

#latest_videos_separator {
	width: 100%;
	height: 10px;
	border-top: 1px solid #ccc;
	margin-bottom: 5px;
}

#latest_video_position {
	@include bottom-white-triangle;
}

.sm_btn {
	width: 48%;
	float: left;
	margin: 1%;
	color: #fff;
	display: block;
	padding: 10px 1%;
	font-size: 0.85em;
	text-align: center;
	background: #999;
	// border: 1px solid #aaa;
	img {
		max-height: 20px;
	}
	&:hover {
		text-decoration: none;
	}
}

#fb_btn:hover {
	background: #3c589e;
}

#twitter_btn {
	&:hover {
		background: #34b6f3;
	}
}

#tumblr_btn:hover {
	background: #375773;
}

#storify_btn:hover {
	background: #0184c8;
}

.teaser {
	position: relative;
	&:hover {
		.teaser_overlay {
			background: rgba(255,255,255,0.9);
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.teaser_overlay {
		position: absolute;
		background: rgba(255,255,255,0.8);
		width: 100%;
		bottom: 0;
		padding: 9px 9px 12px 9px;
	}
}

.l_quo_border {
	border-left: 1px dotted #ddd;
	margin: 5px 0 5px 10px;
	padding-left: 10px;
	display: block;
}

.video_page_video {
	width: 31%;
	margin: 0 1% 30px;
	float: left;
	video {
		width: 100%;
		height: 181px;
		background: #000;
		margin-bottom: 10px;
	}
	@media screen and (max-width: 959px) {
		width: 46%;
		margin: 0 2% 30px;
	}
	@media screen and (max-width: 640px) {
		width: 90%;
		margin: 0 auto 30px;
		float: none;
		video {
			height: auto;
		}
	}
}

#video_page {
	background: #121212;
	color: #fff;
	a {
		color: #ddd;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #ddd;
	}
}

.new_video {
	background: #df9d00;
	display: block;
	float: left;
	margin-top: 1px;
	margin-right: 7px;
	width: auto;
	padding: 0 3px;
	font-size: 0.5em;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	text-transform: uppercase;
	line-height: 1.8em;
	text-shadow: 0 1px rgba(0,0,0,0.8);
}

.upcase {
	@include upcase;
}

.cartoon_box {
	float: none;
	clear: both;
	width: 80%;
	margin: 0 10% 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	font-size: 1.1em;
	line-height: 1.4em;
	&:last-child {
		border-bottom: none;
	}
	.cartoon_image {
		width: 40%;
		float: left;
		img {
			width: 100%;
		}
	}
	.cartoon_caption {
		width: 55%;
		float: left;
		margin-left: 5%;
		padding-top: 30px;
	}
	.cartoon_date {
		@include upcase;
		margin-bottom: 10px;
	}
	@media screen and (max-width: 959px) {
		.cartoon_image {
			width: 60%;
		}
		.cartoon_caption {
			width: 35%;
			padding-top: 0;
		}
	}
	@media screen and (max-width: 640px) {
		.cartoon_image, .cartoon_caption {
			float: none;
			width: 100%;
		}
	}
}

#elect_featured {
	@include col(66%);
	position: relative;
	img {
		width: 100%;
	}
	.text_wrap {
		position: absolute;
		bottom: 5px;
		background: rgba(0,0,0,0.7);
		padding: 15px;
		color: #fff;
		h2 {
			margin-bottom: 10px;
		}
		a {
			color: #fff;
		}
	}
}

#elect_contents {
	@include col(33%);

	h1 {
		color: #01428b;
		font-size: 33px;
		line-height: 35px;
		margin-top: -4px;
	}
	#elect_stars {
		float: left;
		width: 18px;
		margin-right: 10px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

#elect_obama, #elect_romney {
	@include col_tight(50%);
	display: block;
	img {
		width: 100%;
	}
}

#elect_obamaromney {
	margin: 30px 0;
	position: relative;
}

#elect_obamaromney_text {
	position: absolute;
	background: #fff;
	width: 30%;
	left: 35%;
	margin-top: 40px;
	text-align: center;
	padding: 25px;
}

.elect_box {
	@include col(25%);
	position: relative;
	img {
		width: 100%;
	}
	.elect_box_img_text {
		position: absolute;
		bottom: 5px;
		background: rgba(0,0,0,0.7);
		padding: 10px;
		color: #fff;
		width: 100%;
		a {
			color: #fff;
		}
	}
}

.single_50_centered_col {
	width: 50%;
	margin: 0 auto;
	@include normal_text_styles;
}

.col_50 {
	@include normal_text_styles;
	@include col(50%);
}

.col_25 {
	@include normal_text_styles;
	@include col(25%);	
}

.col_75 {
	@include normal_text_styles;
	@include col(75%);
}

.col_33 {
	@include normal_text_styles;
	@include col(33.33%);
}

.col_66 {
	@include normal_text_styles;
	@include col(66.67%);
}

#elect_poll_img {
	width: 50%;
	float: left;
	margin-right: 10%;
	img {
		width: 100%;
	}
}

#elect_poll_text {
	@include normal_text_styles;
	width: 40%;
	float: left;
	h2 {
		margin-bottom: 7px;
	}
	h3 {
		color: #666;
	}
}



ul.home_events {
	li {
		padding-bottom: 0.5em;
		border-bottom: 1px solid #ddd;
		margin-bottom: 0.5em;
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		img {
			float: right;
			margin-left: 7px;
			margin-bottom: 7px;
		}
		.home_event_article_title {
			font-weight: bold;
		}
		.home_event_title {
			color: #666;
		}
	}
}

body#emersonla {
	.wrap {
		@media(max-width: 1000px) {
			width: 92%;
			margin: 0 auto;
		}
	}
	header {
		height: 320px;
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-sideview-opt.jpg);
		background-position: center 90%;
		background-size: cover;
		background-color: #666;
		margin-bottom: 30px;
		.header_title {
			background: rgba(255, 255, 255, 0.8);
			display: inline-block;
			padding: 18px;
			margin-top: 30px;
			h1 {
				font-size: 43px;
				line-height: 1em;
				font-weight: bold;
				margin-bottom: 0;
				margin-top: 5px;
			}
		}
	}
	.main {
		@media(min-width: 1000px) {
			width: 63%;
			float: left;
		}
		h2 {
			font-weight: bold;
			margin-bottom: 0.75em;
			color: #333
		}
		article {
			padding-bottom: 1em;
			border-bottom: 1px solid #ccc;
			margin-bottom: 1em;
			&.lead {
				font-size: 1.2em;
				line-height: 1.4em;
				h3 {
					font-size: 1.5em;
					line-height: 1.25em;
					margin-bottom: 0.5em;
				}
				.meta {
					line-height: 1.3em;
					margin-bottom: 0.5em;
				}
				img {
					width: 300px;
					height: 300px;
					margin-left: 20px;
				}
			}
			&:last-child {
				border-bottom: none;
			}
			&:after {
			  content: ".";
			  display: block;
			  height: 0;
			  clear: both;
			  visibility: hidden;
			}
			img {
				width: 75px;
				height: 75px;
				float: right;
				margin-left: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 0.8em;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		#video_feature {
			background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela_videos_cover.jpg);
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 300px;
			position: relative;
			display: block;
			&:hover {
				opacity: 0.9;
			}
			h3 {
				color: #fff;
				position: absolute;
				bottom: 20px;
				left: 20px;
			}
		}
		ul.rslides {
			.slide_cont {
				width: 100%;
				height: 403px;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.metadata {
				clear: both;
				padding: 5px 0;
				.credit {
					float: right;
					font-style: italic;
				}
			}
		}
	}
	.sidebar {
		border: 4px solid #eee;
		padding: 3%;
		margin-bottom: 20px;
		@media(min-width: 1000px) {
			width: 32%;
			float: right;
			margin-left: 5%;
		}
		h2 {
			margin-bottom: 1em;
			text-transform: uppercase;
			font-size: 1.4em;
			font-weight: bold;
			color: #444;
		}
		ul.updates {
			li {
				padding-bottom: 1em;
				border-bottom: 1px solid #ccc;
				margin-bottom: 1em;
				&:last-child {
					border-bottom: none;
				}
				.ts {
					text-transform: uppercase;
					font-size: 0.8em;
					float: right;
				}
				.title {
					font-weight: bold;
				}
				img {
					width: 100%;
				}
			}
		}
	}
}

body#emersonla_videos {
	font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #fff;
	.wrap {
		height: 100%;
	}
	h1 {
		font-weight: 100;
		font-size: 50px;
		line-height: 1em;
		padding-top: 100px;
	}
	h2 {
		font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
	.video_cont {
		height: 100%;
		width: 100%;
		padding: 7%;
		background-color: #ccc;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		position: relative;
		background-repeat: no-repeat;
		@media (max-width: 768px) {
			background-attachment: scroll;
			height: auto;
		}
	}
	.video_box {
		width: 40%;
		background: rgba(0,0,0,0.8);
		padding: 30px;
		@media (max-width: 1000px) {
			width: 66%;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
		video {
			width: 100%;
			height: auto;
			// padding: 20px 0;
		}
		h2 {
			margin-bottom: 20px;
		}
		p {
			margin-top: 20px;
		}

	}
	#video_box_food {
		float: right;
	}
	.brand {
		font-family: "PT Serif", Times, serif;
		float: right;
		text-align: right;
		padding-top: 15px;
		a {
			color: rgba(255,255,255,0.7);
		}
	}
	#cover {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela_videos_cover.jpg);
		padding: 0;
	}
	#ela {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela_videos_ela.jpg);
	}
	#cristina {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela_videos_cristina.jpg);
	}
	#food {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela_videos_food.jpg);
	}
	#ela_thumb {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-campus-thumb.jpg);
	}
	#cristina_thumb {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-cristina-thumb.jpg);
	}
	#food_thumb {
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/ela-food-thumb.jpg);
	}

	#thumbs {
		position: absolute;
		bottom: 10%;
		width: 100%;
		@media (max-width: 768px) {
			position: relative;
			margin-top: 30px;
		}
	}
	a.thumb {
		color: #fff;
		width: 25%;
		height: 140px;
		background-color: #aaa;
		float: left;
		margin: 0 4.166666%;
		position: relative;
		display: block;
		background-size: cover;
		background-position: center;
		@media (max-width: 768px) {
			margin: 0 auto 20px;
			width: 50%;
			float: none;
		}
		.title {
			position: absolute;
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 100%;
			padding-top: 25.5%;
			text-align: center;
			&:hover {
				opacity: 0.5;
			}
		}
	}

}

body#commencement2014 {
	.wrap {
		@media(max-width: 1000px) {
			width: 92%;
			margin: 0 auto;
		}
	}
	header {
		height: 320px;
		background-image: url(http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/20140511--4.jpg);
		background-position: center 40%;
		background-size: cover;
		background-color: #666;
		margin-bottom: 30px;
		.header_title {
			background: rgba(255, 255, 255, 0.8);
			display: inline-block;
			padding: 18px;
			margin-top: 30px;
			h1 {
				font-size: 43px;
				line-height: 1em;
				font-weight: bold;
				margin-bottom: 0;
				margin-top: 5px;
			}
		}
	}
	.main {
		@media(min-width: 1000px) {
			width: 63%;
			float: left;
		}
		h2 {
			font-weight: bold;
			margin-bottom: 0.75em;
			color: #333
		}
	}
	.sidebar {
		border: 4px solid #eee;
		padding: 3%;
		margin-bottom: 20px;
		@media(min-width: 1000px) {
			width: 32%;
			float: right;
			margin-left: 5%;
		}
		h2 {
			margin-bottom: 1em;
			text-transform: uppercase;
			font-size: 1.4em;
			font-weight: bold;
			color: #444;
		}
	}
	ul.updates {
		li {
			padding-bottom: 1em;
			border-bottom: 1px solid #ccc;
			margin-bottom: 1em;
			&:last-child {
				border-bottom: none;
			}
			.ts {
				text-transform: uppercase;
				font-size: 0.8em;
				float: right;
			}
			.title {
				font-weight: bold;
			}
			img {
				width: 100%;
			}
		}
	}

}

body#review2014 {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	nav {
		background: #000;
		padding: 4px 0;
		a {
			&:link, &:visited {
				color: #fff;
				font-family: $sans_font_stack;
				text-transform: uppercase;
			}
		}
	}
	header {
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		height: 500px;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.wrap {
		// width: 700px;
		width: 95%;
		margin: 0 auto;
		@media(min-width: 700px) {
			width: 700px;
		}
	}
	.row {
		margin-bottom: 20px;
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	}

	h1, h2 {
		color: #fff;
		font-family: $serif_hed_font_stack;
		line-height: 1em;
		margin: 0;
		background: rgba(0, 0, 0, 0.5);
		display: inline-block;
		padding: 3px 15px;
		margin-left: -15px;
	}
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font: 30px/1em $serif_hed_font_stack;
		a {
			&:link, &:visited {
				color: #000;
				border: none;
			}
			&:active, &:hover {
				border-bottom: 1px solid #000;
				text-decoration: none;
			}
		}
	}
	p {
		font: 15px/1.3em $serif_font_stack;
		&.intro {
			font: 24px/1.4em $serif_font_stack;
			margin-bottom: 0.5em;
		}
	}
	a.read_all {
		&:link, &:visited {
			font-family: $sans_font_stack;
			color: #666;
		}
		&:hover, &:active {
			color: #999;
		}
	}
	.photo_thumb {
		height: 100px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}

body#raceseries {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	nav {
		background: #000;
		padding: 4px 0;
		a {
			&:link, &:visited {
				color: #fff;
				font-family: $sans_font_stack;
				text-transform: uppercase;
			}
		}
	}
	header {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		height: 300px;
		margin-bottom: 30px;
		@media(min-width: 1025px) {
			height: 600px;
			background-attachment: fixed;
		}
	}
	.header_text {
		// color: #fff;
		// background: rgba(0,0,0,0.7);
		margin: 20px 0;
	}
	.wrap {
		// width: 700px;
		width: 95%;
		margin: 0 auto;
		@media(min-width: 700px) {
			width: 700px;
		}
	}
	.row {
		margin-bottom: 20px;
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	}

	h1, h2 {
		font-family: $serif_hed_font_stack;
		line-height: 1em;
		margin: 0;
		text-align: center;
	}
	h1 {
		font-size: 60px;
		font-weight: 100;
	}
	h2 {
		font-size: 20px;
		font-style: italic;
	}
	h3 {
		font: 30px/1em $serif_hed_font_stack;
		a {
			&:link, &:visited {
				color: #000;
				border: none;
			}
			&:active, &:hover {
				border-bottom: 1px solid #000;
				text-decoration: none;
			}
		}
	}
	p {
		font: 15px/1.3em $serif_font_stack;
		&.intro {
			font: 24px/1.4em $serif_font_stack;
			margin-bottom: 0.5em;
		}
	}
	a.read_all {
		&:link, &:visited {
			font-family: $sans_font_stack;
			color: #666;
		}
		&:hover, &:active {
			color: #999;
		}
	}
	.photo_thumb {
		height: 100px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}

body#snow_calculator {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

	background: #999 url(http://theberkeleybeacon.s3.amazonaws.com/snow_calculator_bkgd.jpg) no-repeat center center;
	background-size: cover;
	@media(min-width: 1024px) {
		background-attachment: fixed;
	}

	h1, h2, h3 {
		color: #fff;
	}

	.header {
		// background: rgba(0,0,0,0.5);
		margin-top: 0;
		border-bottom: none;
		padding: 15px;
		color: #fff;
		a {
			color: #fff;
		}
	}

	#footer {
		color: #fff;
		a {
			color: #fff;
		}
	}

	#calculator {
		max-width: 650px;
		padding: 20px;
		margin: 0 auto 50px;
		background: rgba(0,0,0,0.6);
		color: #fff;
		font-family: $sans_font_stack;

		h1 {
			font: 40px/1em $serif_hed_font_stack;
			padding-bottom: 3px;
			border-bottom: 2px solid #fff;
			margin-bottom: 15px;
		}

		h3 {
			font: 1em/1em $sans_font_stack;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		p {
			font-family: $sans_font_stack;
		}

		.focus {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 8px;
		}

		.conditions {
			font: 20px/1.4em $serif_font_stack;
			margin-bottom: 25px;
		}

		.input {
			padding-left: 20px;
			input {
				background: none;
				border: none;
				border-bottom: 1px solid #fff;
				color: #fff;
				font: 20px/1em $sans_font_stack;
				width: 50px;
				text-align: center;
			}
		}

		.row {
			// margin-bottom: 20px;
			margin-left: auto;
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}

		.col_50_snow {
			@media(min-width: 650px) {
				@include col(50%);
			}	
		}

		.snow_small_display {
			display: block;
			@media(min-width: 650px) {
				display: none;
			}
		}

		.snow_large_display {
			display: none;
			@media(min-width: 650px) {
				display: block;
			}
		}


		.results {
			// font-weight: 500;
			strong {
				font-weight: 700;
			}
		}

		.results_large {
			font-size: 55px;
			line-height: 1em;
			font-weight: 300;
			margin-bottom: 0;
		}

		.explanation {
			font-style: italic;
			margin-top: 50px;
		}

		a {
			&:link, &:visited {
				color: #C4DDFF;
			}
		}
	}
}

body#oscars2015 {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

	p {
		font: 14px/1.2em $serif_font_stack;	
		margin-bottom: 10px;
	}

	.award {
		font: 14px/1em $sans_font_stack;
		padding-bottom: 5px;
		border-bottom: 1px solid #000;
		margin-bottom: 5px;
	}

	.primary_name {
		font: 20px/1em $sans_font_stack;
		font-weight: 500;
	}

	.secondary_name {
		font: 20px/1em $sans_font_stack;
		margin-bottom: 10px;
		font-weight: 100;
	}

	.row {
		// padding-bottom: 40px;
		margin-bottom: 40px;
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		@media(max-width: 768px) {
			margin-left: 0;
		}
	}

	.credit {
		font-style: italic;
	}

	.col_25, .col_50, .col_75, .col_33, .col_66 {
		@media(max-width: 768px) {
			width: 100%;
			margin: 0;
			padding: 2%;
		}
	}


	.intro_row {
		.title_col {
			float: left;
			width: 24%;
			text-align: right;
			p {
				color: #999;
				width: 85%;
				float: right;
				@media(max-width: 768px) {
					float: left;
				}
			}
			@media(max-width: 768px) {
				width: 78%;
				float: right;
				text-align: left;
			}
		}
		h1 {
			font: 50px/45px $serif_hed_font_stack;
			color: #E8B163;
			margin-bottom: 20px;
		}
		img {
			// height: 300px;
			float: left;
			width: 15%;
			margin: 0 1%;
			@media(max-width: 768px) {
				float: right;
				width: 20%;
			}
		}
		.text {
			float: left;
			width: 59%;
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			@media(max-width: 768px) {
				float: none;
				clear: both;
				width: 100%;
				padding: 2%;
				column-count: 1;
				-moz-column-count: 1;
				-webkit-column-count: 1;
			}
		}
	}

	.boyhood, .whiplash {
		background: #000;
		color: #fff;
		padding: 15px 15px;

		.boyhood_photo {
			width: 45%;
			height: 260px;
			margin: 10px 2.5%;
			background-size: cover;
			background-position: center center;
			float: left;
		}

		.whiplash_lead {
			background-image: url(http://theberkeleybeacon.s3.amazonaws.com/oscars2015/whiplash.jpg);
			background-size: cover;
			background-position: center center;
			height: 400px;
		}

		.award {
			border-bottom: 1px solid #fff;
		}
	}

	img.main_acting {
		width: 100%;
		height: auto;
	}

	.small_divisble {
		@media(max-width: 768px) {
			.col_50, .col_66 {
				width: 75%;
			}
			.stat_cont {
				width: 25%;
			}
		}
	}

}

body#website1997 {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

	background: #C5C5C5;

	.text {
		@include normal_text_styles;
		font: 1em/1.4em $sans_font_stack;
		margin-bottom: 30px;
		h1 {
			font: 50px/1em $serif_hed_font_stack;
			font-weight: bold;
			border-bottom: 2px solid #000;
			margin-bottom: 20px;
		}
		h3 {
			font: 1em/1em $sans_font_stack;
			text-transform: uppercase;
			// margin-bottom: 10px;
		}
	}
}

body#title_ix {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	.title_ix_wrap {
		font: 15px/1.3em $sans_font_stack;

		.text {
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			p {
				margin-bottom: 0.7em;
			}		
		}

		a {
			&:link, &:visited {
				border-bottom: 1px solid rgba(0,0,0,0.4);
			}
			&:hover, &:active {
				color: #666;
				text-decoration: none;
			}
		}

		h2 {
			font: 40px/1em $serif_hed_font_stack;
			margin-bottom: 1em;
		}

		h3 {
			font: 22px/1em $sans_font_stack;
			margin-top: 1em;
			padding-bottom: 5px;
			border-bottom: 2px solid #000;
			margin-bottom: 0.5em;
		}

		.row {
			margin-bottom: 20px;
			&:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}

		.people {
			img {
				width: 40%;
				height: auto;
				float: right;
			}
		}

		table.timeline {
			border-collapse: collapse;
			width: 100%;
			#timeline_header {
				width: 100%;
				th {
					width: 22.5%;
					&:first-child {
						width: 100px;
					}
				}
			}
			td, th {
				width: 22.5%;
				&:first-child {
					width: 10%;
				}
			}
			th {
				padding: 0.5em 8px;
				font-weight: 500;
				&:nth-child(1) {
					text-align: right;
					color: #7E7E7E;
				}
				&:nth-child(2) {
					background-color: #9EADC1;
					color: #fff;
				}
				&:nth-child(3) {
					background-color: #A1C29B;
					color: #fff;
				}
				&:nth-child(4) {
					background-color: #C0984C;
					color: #fff;
				}
				&:nth-child(5) {
					background-color: #AE9BC1;
					color: #fff;
				}
			}
			td {
				padding: 0.5em 8px 1em;
				&:nth-child(1) {
					text-align: right;
					color: #7E7E7E;
				}
				&:nth-child(2) {
					background-color: #F0F7FF;
				}
				&:nth-child(3) {
					background-color: #F2FFF0;
				}
				&:nth-child(4) {
					background-color: #FFFAF0;
				}
				&:nth-child(5) {
					background-color: #F6EFFF;
				}
				img {
					width: 33%;
					height: auto;
					float: right;
				}
			}
			tr {
				border-bottom: 1px solid #D5D5D5;
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}


}

body#neighborhoods2015 {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	.content {
		h1 {
			font: 40px/1em $serif_hed_font_stack;
			padding-bottom: 3px;
			border-bottom: 2px solid #000;
			margin-bottom: 15px;
		}

		h2 {
			font: 30px/1em $serif_hed_font_stack;
			font-weight: 500;
			margin-bottom: 10px;
		}

		h3 {
			font: 1em/1em $sans_font_stack;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		p {
			font-family: $sans_font_stack;
			margin-bottom: 0.7em;
			&.desc {
				font-size: 1.2em;
				line-height: 1.3em;
			}
		}

	}

}

.search_page {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;
	$img_width: 220px;

	font: 14px/1.2em $sans_font_stack;

	#section-wrap {
		width: 100%;
	}

	#search_articles {
		@media(min-width: 768px) {
			width: 72%;
			float: left;
			padding-right: 1.5%;
			border-right: 1px solid #ccc;
			margin-right: 1.5%;
		}
		@media(min-width: 960px) {
			width: 960px - 40px - $img_width;
			padding-right: 20px;
			border-right: 1px solid #ccc;
			margin-right: 20px;	
		}
	}

	#search_mediafiles_wrap {
		@media(min-width: 768px) {
			width: 25%;
			float: left;
		}
		@media(min-width: 960px) {
			width: $img_width;
		}
	}

	h2 {
		font: 20px/1.2em $sans_font_stack;
		font-weight: 500;
		margin-bottom: 0.5em;
	}

	h3 {
		font: 16px/1.2em $serif_font_stack;
		margin-bottom: 0;
	}

	.meta {
		font-size: 0.8em;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.article {
		padding-bottom: 1em;
		border-bottom: 1px solid #ddd;
		margin-bottom: 1em;

		.media {
			float: right;
			margin-right: 0;
			margin-left: 15px;
		}
	}

	.people_results {
		margin-bottom: 2.5em;
		li {
			margin-bottom: 1em;
			&:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
	}

	.profile_img {
		height: 40px;
		width: 40px;
		float: left;
		background-size: cover;
		background-repeat: no-repeat;
		margin-right: 10px;
	}

	.search_mediafile {
		width: 100%;
		float: left;
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 1em;
		img {
			width: 100%;
		}
		.search_mediafile_caption {
			position: absolute;
			bottom: 4px;
			color: #fff;
			padding: 5px;
			background: rgba(0,0,0,0.8);
		}
		@media (max-width: 768px) {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}

	#search_page_search {
		input[type=text], input[type=submit] {
			height: 25px;
			padding: 3px 10px;
			margin: 0;
			font-size: 13px;
		}
		input#q {
			font: 24px $serif_hed_font_stack;
			border: none;
			border-bottom: 1px solid #ccc;
			width: 50%;
			padding: 3px 0;
		}
		input#search_page_commit {
			font-family: $sans_font_stack;
			background: $link_blue;
			border: none;
			color: #fff;
			cursor: pointer;
			border: 1px solid darken($link_blue, 10%);
			&:hover {
				background: $link_hover_blue;
				border: 1px solid darken($link_hover_blue, 10%);
			}
		}
		.order {
			margin-top: 5px;
			label {
				margin-right: 10px;
			}
		}
	}

	#search_separator {
		border-top: 1px solid #ccc;
		background-color: #f4f3f5;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(244, 243, 245)), to(rgb(254, 253, 255)));
		background-image: -webkit-linear-gradient(top, rgb(244, 243, 245), rgb(254, 253, 255));
		background-image: -moz-linear-gradient(top, rgb(244, 243, 245), rgb(254, 253, 255));
		background-image: -o-linear-gradient(top, rgb(244, 243, 245), rgb(254, 253, 255));
		background-image: -ms-linear-gradient(top, rgb(244, 243, 245), rgb(254, 253, 255));
		background-image: linear-gradient(top, rgb(244, 243, 245), rgb(254, 253, 255));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f4f3f5', EndColorStr='#fefdff');
		height: 8px;
		margin: 20px 0 40px;
	}

	.no_results {
		font-size: 1.3em;
	}

}
.jqstooltip {
	width: auto !important;
	height: auto !important;
}

#weekly_newsletter {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;

	background: #111 url(http://theberkeleybeacon.s3.amazonaws.com/newsletter_bkgd.jpg) no-repeat center center;
	background-size: cover;
	@media(min-width: 1024px) {
		background-attachment: fixed;
	}

	.header {
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		a {
			color: #fff;
		}
	}

	#footer {
		color: #fff;
		border-top: 1px solid rgba(255,255,255,0.3);
		a {
			color: #fff;
		}
	}

	.content {
		color: #fff;
		font: 15px/1.3em $sans_font_stack;
		@media (min-width: 1024px) {
			width: 70%;
			margin: 0 auto;
		}

		h1 {
			font: 40px/1em $serif_hed_font_stack;
		}
		h2 {
			font: 25px/1em $sans_font_stack;
			font-weight: 300;
		}

		h1, h2 {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
			@media (min-width: 768px) {
				text-align: right;
			}
		}
	}

	#newsletter_preview {
		background: url(http://theberkeleybeacon.s3.amazonaws.com/beacon_newsletter_preview.png) no-repeat top center;
		background-size: cover;
		height: 400px;
		width: 100%;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			height: auto;
			width: 33%;
			background: none;
			float: right;
			margin-left: 20px;
			margin-bottom: 0;
		}
		img {
			display: none;
			@media (min-width: 768px) {
				display: block;
				width: 100%;
			}
		}
	}

	#mc_embed_signup {
		background: rgba(0,0,0,0.7);
		padding: 1em;
		margin-top: 1em;
		display: inline-block;
		width: 100%;

		@media (min-width: 768px) {
			float: right;
			width: 60%;
		}

		.indicates-required {
			display: none;
		}
		.mc-field-group {
			margin-bottom: 0.5em;
			label {
				width: 35%;
				display: inline-block;
			}
			input {
				color: #fff;
				font: 15px $sans_font_stack;
				width: 60%;
				padding: 0.3em;
				background: rgba(255,255,255,0.2);
				border: 1px solid rgba(255,255,255,0.3);
			}
		}
		input[type=submit] {
			color: #fff;
			font: 15px $sans_font_stack;
			padding: 0.5em;
			background: rgba(255,255,255,0.3);
			border: 1px solid rgba(255,255,255,0.4);
			font-weight: 500;
			width: 70%;
			margin: 1em auto 0;
			display: block;
			&:hover {
				cursor: pointer;
				background: rgba(255,255,255,0.4);
				border: 1px solid rgba(255,255,255,0.5);
			}
		}

	}

}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

#adjunct_calculator {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;	

	.content {
		* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

		font: 16px/1.2em $sans_font_stack;

		h1 {
			font: 40px/1em $serif_hed_font_stack;
			padding-bottom: 3px;
			border-bottom: 2px solid #000;
			margin-bottom: 30px;
		}

		h3 {
			font: 1em/1em $sans_font_stack;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		p {
			font-family: $sans_font_stack;
		}

		.label {
			display: block;
			font-weight: 500;
		}

		.col_33, .col_66 {
			@media(max-width: 700px) {
				width: 100%;
				float: none;
			}
		}

		#course_num {
			font: 16px/1.2em $sans_font_stack;
			padding: 0.5em;
			width: 100%;
		}

		select {
			width: 100%;
		}

		.row {
			margin-bottom: 20px;
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}

		.results {
			font-size: 18px;
			line-height: 1.4em;

			.num_result {
				background: #FFE618;
			}
		}

		.explanation {
			font-style: italic;
			font-size: 0.75em;
			line-height: 1.2em;
			a {
				&:link, &:visited {
					border-bottom: 1px solid #5383A6;
					font-weight: 500;
					color: #5383A6;
				}
				&:hover, &:active {
					border-bottom: 1px solid #70AAD5;	
					color: #70AAD5;
					text-decoration: none;
				}
			}
		}

		.share {
			font-size: 0.8em;
			background: #F2F2F2;
			padding: 0.7em 1em;
		}

		p > a {
			&:link, &:visited {
				border-bottom: 2px solid #5383A6;
				font-weight: 500;
				color: #5383A6;
			}
			&:hover, &:active {
				border-bottom: 2px solid #70AAD5;	
				color: #70AAD5;
				text-decoration: none;
			}
		}

		.text { 
			line-height: 1.4em;
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			@media(max-width: 700px) {
				column-count: 1;
				-moz-column-count: 1;
				-webkit-column-count: 1;
			}
			p {
				margin-bottom: 0.8em;
			}
		}
	}	
}

body#climate_survey {
	$serif_font_stack: "kepler-std", "Times New Roman", Georgia, Times, serif;
	$serif_hed_font_stack: "kepler-std-semicondensed-dis", "Times New Roman", Georgia, Times, serif;
	$sans_font_stack: "franklin-gothic-urw", "Helvetica Neue", Arial, Helvetica, sans-serif;	

	nav {
		background: #000;
		padding: 0.5em 1em;
		a {
			&:link, &:visited {
				color: #fff;
				font-family: $sans_font_stack;
				text-transform: uppercase;
			}
		}
	}
	

	.climate_survey_content {
		font: 15px/1.3em $sans_font_stack;

		h2 {
			font: 22px/1em $sans_font_stack;
			font-weight: 500;
			margin-top: 25px;
			padding-bottom: 3px;
			border-bottom: 2px solid #000;
			margin-bottom: 10px;
			&:first-child {
				margin-top: 0;
			}
		}


		header {
			background-image: url(http://theberkeleybeacon.s3.amazonaws.com/climate-survey/climatesurveyhead_web.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
			min-height: 500px;
			padding: 2em;
			margin-bottom: 40px;
			@media(max-width: 768px) {
				min-height: 250px;
			}
			h4 {
				color: #fff;
				font-weight: 300;
				text-transform: uppercase;
				a {
					color: #fff;
				}
			}
			h1 {
				color: #fff;
				font-size: 60px;
				line-height: 1em;
				font-weight: 300;
				@media(max-width: 768px) {
					font-size: 40px;
				}
			}
		}
		
		.col_25, .col_50, .col_75, .col_33, .col_66 {
			@media(max-width: 768px) {
				width: 100%;
				margin: 0;
				padding: 2%;
			}
		}
		
		.survey_articles {
			font: 14px/1.3em $serif_font_stack;
			h3 {
				font: 22px/1.1em $serif_hed_font_stack;
				a {
					&:link, &:visited {
						color: #000;
						border-bottom: none;
					}
					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}
			p {
				margin-bottom: 1em;
			}
		}

		.survey_results {
			img {
				width: 100%;
			}
		}
	}
	
}