<%= form_for @mediafile do |f| %>
	
	<%= render 'mediafiles_form', :f => f %>
	<div class="actions">
		<%= f.submit "Save", :id => "mediauploadbtn", :class => "btn btn-primary" %>
		<div id="loading">
			<%= image_tag "loading.gif" %>
			Uploading...
		</div>
	</div>
	
<% end %>