// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_wrap {
	width: 820px;
}

.content_wrap {
	margin: 0 auto;
	
	h1 {
		font: 25px/28px "Arvo", Rockwell, serif;	
		margin-bottom: 5px;
	}
	h2 {
		font: 16px/18px "Arvo", Rockwell, serif;	
		margin-top: 0px;
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 10px;
		font: 14px "Arvo", Rockwell, serif;	
		color: #898989;
		margin-bottom: 20px;
	}
	#gallery_back_btn, #gallery_forward_btn {
		position: absolute;
		background: rgba(255,255,255,0.33);
		height: 100%;
		max-height: 546px;
		cursor: pointer;
		width: 30px;
		display: none;
	}
	#gallery_forward_btn {
		right: 0;
		background-image: url('next.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	#gallery_back_btn {
		background-image: url('prev.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#big_photo_wrap {
		margin-bottom: 20px;
	}

	#big_photo {
		height: 600px;
		width: 820px;
	}
		
	.metadata {
		position: absolute;
		z-index: 1;
		bottom: 0;
		background: rgba(0,0,0,0.8);
		color: #fff;
		width: 100%;
		font-size: 12px;
		padding: 5px 10px;
		text-align: right;
		.credit {
			display: inline;
			text-transform: uppercase;
			font-size: 10px;
		}
		a {
			color: #ccc;
		}
	}
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.slide_cont {
	display: block;
	height: 546px;
	overflow: hidden;
}
	
#slide_controls {
	width: auto;
	position: relative;
	font-size: 11px;
	// margin-top: -5px;
	margin-bottom: 15px;
	a {
		color: #888;
	}
	a:hover {
		text-decoration: none;
	}
	.rslides_tabs {
		width: auto;
		margin-left: 15px;
	}
	ul {
		list-style: none;
	}
	li {
		float: left;
		height: 24px;
		width: 24px;
		margin: 0 2px;
		a {
			display: block;
			text-align: center;
			line-height: 22px;
		}
		&.rslides_here a {
			border: 1px solid #999;			
		}
	}
	a.prev {
		float: left;
		position: absolute;
		left: 0;
		font-size: 10px;
		line-height: 24px;
	}
	a.next {
		float: left;
		font-size: 10px;
		line-height: 24px;
		margin-left: 5px;
	}
}

#body {
	width: 550px;
	float: left;
	margin-right: 50px;
	font: 14px/20px "PT Serif", Times, serif;
	
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	p {
		margin-bottom: 10px;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
	}
	
	a:link, a:visited {
		border-bottom: 1px dotted #323232;
	}
	
	a:hover {
		font-weight: bold;
		text-decoration: none;
	}

}

video {
	width: 100% !important;
	height: auto !important;
}

#sidebar {
	width: 220px;
	float: left;
	opacity: 0.5;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		font-weight: normal;
		text-transform: none;
		margin-bottom: 5px;
	}
	section {
		margin-bottom: 20px;
	}
	#fb, #twitter, #tumblr {
		float: left;
	}
	#tumblr {
		margin-left: 3px;
	}
	#series_info {
		img {
			width: 220px;
		}
		strong {
			font-weight: bold;
		}
	}
	
	#popular {
		float: none;
		width: 220px;
		padding: 0;
		margin: 0;
		border: none;
	}
}


#from_archive {
	border: 1px solid #ccc;
	padding: 20px;
	#funny_business {
		display: block;
		text-align: center;
		background: #eee;
		border: 1px solid #ddd;
		border-radius: 8px;
		-moz-border-radius: 8px;
		font-style: italic;
		padding: 5px;
		margin: 10px 0;
		cursor: pointer;
		&:hover {
			font-weight: normal;
			background: #ddd;
			border-color: #ccc;
		}
	}
}

#new_article_wrap {
	width: 940px;
	margin: 0 auto;
		
	.field {
		margin-top: 10px;
		
		#articletype_1, #articletype_2, #articletype_3, #sourcetype_in, #sourcetype_out, #mediatype_0, #mediatype_1, #mediatype_2, #mediatype_3, #mediatype_4 {
			display: inline;
			width: auto;
		}
		
		input, select, textarea {
			display: block;
			width: 400px;
		}
				
	}
}

#show_slideshow {
	background: rgba(0,0,0,0.75);
	width: 100%;
	display: block;
	padding: 4px;
	color: #fff;
	margin-top: -3px;
}

@media screen and (max-width: 959px) {
	.content_wrap {
		width: 90%;
		padding: 0 5%;
		
		#big_photo {
			width: 100%;
			height: 20em;
		}
		#metadata {
			width: 100%;
		}

		#body {
			width: 100%;
		}

		#sidebar {
			width: 100%;
			opacity: 1;
			#popular {
				width: 100%;
			}
		}
		.metadata {
			position: relative;
			background: rgba(0,0,0,0.9);
		}

	}
	#show_slideshow_sidebar {
		display: none;
	}
	.slide_cont {
		height: auto;
	}
}

@media screen and (max-width: 640px) {
	.content_wrap {
		width: 90%;
		padding: 0 5%;
		
		#big_photo {
			width: 100%;
			height: 20em;
		}
		#metadata {
			width: 100%;
		}

		#body {
			width: 100%;
		}

		#sidebar {
			width: 100%;
			opacity: 1;
			#popular {
				width: 100%;
			}
		}
	}
	
}