// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article_wrap {
	width: 820px;
	margin: 0 auto;
	
	h1 {
		font: 25px/28px "Arvo", Rockwell, serif;	
		margin-bottom: 5px;
	}
	h2 {
		font: 16px/18px "Arvo", Rockwell, serif;	
		margin-top: 0px;
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 10px;
		font: 14px "Arvo", Rockwell, serif;	
		color: #898989;
		margin-bottom: 20px;
	}
	#gallery_back_btn, #gallery_forward_btn {
		position: absolute;
		background: rgba(255,255,255,0.33);
		height: 100%;
		max-height: 546px;
		cursor: pointer;
		width: 30px;
		display: none;
	}
	#gallery_forward_btn {
		right: 0;
		background-image: url('next.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	#gallery_back_btn {
		background-image: url('prev.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#media {
		position: relative;
		margin-bottom: 20px;
		width: 820px;
		overflow: hidden;
		
		#gallery_wrap {
			width: 1640px;
		}
		
		.media_container {
			float: left;
		}
		
		.media_wrap {
			max-height: 546px;
			overflow: hidden;
		}
		
		img {
			margin-top: 0;
			width: 820px;
		}
		
		#metadata {
			font-size: 12px;
			color: #323232;
			#caption {
				float: left;
			}
			#credit {
				float: right;
//				text-transform: uppercase;
			}
		}
	}
	
	#body {
		width: 550px;
		float: left;
		margin-right: 50px;
		font: 14px/20px "PT Serif", Times, serif;
		
		strong {
			font-weight: bold;
		}
		em {
			font-style: italic;
		}
		p {
			margin-bottom: 10px;
		}
		ul {
			list-style-type: disc;
			list-style-position: inside;
		}
		ol {
			list-style-type: decimal;
			list-style-position: inside;
		}
		
		a:link, a:visited {
			border-bottom: 1px dotted #323232;
		}
		
		a:hover {
			font-weight: bold;
			text-decoration: none;
		}
		
	}
	#sidebar {
		float: left;
		opacity: 0.5;
		h4 {
			font: 14px/14px "Arvo", Rockwell, serif;
			font-weight: normal;
			text-transform: none;
			margin-bottom: 5px;
		}
		section {
			margin-bottom: 20px;
		}
		#fb, #twitter, #tumblr {
			float: left;
		}
		#tumblr {
			margin-left: 3px;
		}
		
		#popular {
			float: none;
			width: 220px;
			padding: 0;
			margin: 0;
			border: none;
		}
	}
}

#new_article_wrap {
	width: 940px;
	margin: 0 auto;
		
	.field {
		margin-top: 10px;
		
		#articletype_1, #articletype_2, #articletype_3, #sourcetype_in, #sourcetype_out, #mediatype_0, #mediatype_1, #mediatype_2, #mediatype_3, #mediatype_4 {
			display: inline;
			width: auto;
		}
		
		input, select, textarea {
			display: block;
			width: 400px;
		}
				
	}
}