#wrap {
	font: 14px/18px "PT Serif", Times, serif;
	margin: 0 auto 30px;
	width: 960px;
}

#acpsea {
	.inside {
		width: 960px;
		margin: 0 auto;
	}
	background: #ddd;
	padding-top: 8px;
	padding-bottom: 10px;
	a {
		font-style: italic;
	}
}

p {
	font: 14px/18px "PT Serif", Times, serif;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#inner_wrap {
	width: 940px;
	margin: 0 auto;
}

.header {
	width: 940px;
	margin: 35px auto;
	border-bottom: 1px solid #cbcbcb;
	padding-bottom: 10px;

	#masthead {
		float: left;
	}
	h1 {
		font-size: 22px;
		font-weight: bold;
		text-transform: lowercase;
		margin-bottom: 5px;
	}
	h2 {
		font: 14px/14px "PT Serif", Times, serif;
		font-style: italic;
	}
	
	#nav {
		float: right;
		padding-top: 12px;
		
		li {
			display: inline;
			margin-left: 10px;
		}
		
		a {
			&:hover {
				text-decoration: none;
				padding-bottom: 12px;
				border-bottom: 5px solid #cbcbcb;	
			}
		}
	}
	
}

.new_header {
	width: 100%;
	background: #fff;
	margin-top: 0;
	padding-top: 12px;
	margin-bottom: 0;
	#header-inner {
		width: 940px;
		margin: 0 auto;
	}
	#nav_date {
		padding-left: 20px;
		font-style: italic;
	}
	#nav {
		padding-top: 3px;
		a:hover {
			padding-bottom: 6px;
		}
	}

}

#home_header {
	border: none;
	margin-bottom: 5px;
	#masthead {
		float: none;
		width: 940px;
	}
	h1 {
		font-size: 50px;
		line-height: 60px;
		text-align: center;
	}
	#nav {
		margin-top: 20px;
		float: none;
		border-top: 1px solid #cbcbcb;
		border-bottom: 1px solid #cbcbcb;
		padding-top: 7px;
		padding-bottom: 8px;
		
		ol {
			float: left;
		}
		li {
			margin-left: 0px;
			margin-right: 10px;
		}
		a {
			&:hover {
				text-decoration: none;
				padding-bottom: 5px;
				border-bottom: 3px solid #cbcbcb;	
			}
		}
		h2 {
			float: right;
		}
	}
}

#footer {
	width: 940px;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid #cbcbcb;	
	font-size: 12px;
	padding-bottom: 30px;
}

@media screen and (max-width: 959px) {
	#wrap {
		width: 100%;
	}
	.header {
		width: 100%;		
	}
	#home_header {
		#masthead {
			width: 100%;
		}
		h1 {
			font-size: 45px;
			line-height: 55px;
		}
	}
	#nav {
		width: 98%;
		padding: 0 1%;
	}
}

@media screen and (max-width: 479px) {
	#home_header {
		h1 {
			font-size: 35px;
			line-height: 35px;
		}
		#nav {
			h2 {
				float: none;
			}
		}
	}
	.header {
		#nav {
			li {
				float: none;
				display: block;
				padding-left: 5%;
				width: 100%;
			}
		}
	}
}