// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Now my stuff

body {
	font: 14px/18px "PT Serif", Times, serif;
}

#main {
//	width: 960px;
}

#left { 
	float: left;
}

#right {
	float: left;
}

#featured-stories {
	width: 700px;
	margin: 10px 10px 0;
}

.featured-story-img-wrap {
	height: 146px;
	width: 220px;
	overflow: hidden;
	margin-bottom: 10px;
	img {
		margin-top: -74px;
		width: 220px;
	}
}

.byline {
	font-style: italic;
}

#top-sidebar {
	width: 210px;
	min-height: 640px;
	padding-left: 10px;
	border-left: 1px solid #cbcbcb;
	float: right;
}

#main-story {
	width: 700px;
	
	.story-text {
		width: 220px;
		margin-right: 10px;
		float: left;
	}
	
	.main-story-img-wrap {
		height: 344px;
		width: 460px;
		overflow: hidden;
		img {
			margin-top: -58px;
		}
		margin-left: 10px;
		float: left;

	}
	
	margin-bottom: 20px;
	
}

.featured-story {
	width: 220px;
	margin: 0 10px;
	float: left;
	
}

.featured-story.num-1 {
	margin-left: 0;
}

.featured-story.num-3 {
	margin-right: 0;
}

#middle {
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	margin: 20px 0;
	padding: 10px 0;
}

.middle-strip-story {
	width: 300px;
	margin: 0 10px;
	float: left;
	font: 14px/18px "PT Serif", Times, serif;
	
	.mediawrap {
		height: 94px;
		margin-right: 10px;
		float: left;
	}
	
	img {
		margin-top: -23px;
		width: 140px;

	}
	
	.story-text {
		width: 150px;
		float: left;
	}
	
	strong {
		display: block;
		font-weight: bold;
	}
	
}


.section-box, #popular {
	width: 220px;
	min-height: 220px;
	margin: 0 10px;
	float: left;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	img {
		margin-top: 10px;
	}
}

.mediawrap {
	height: 146px;
	overflow: hidden;
}



.section-box img {
	width: 220px;
	margin-top: -37px;
}

.group-a, .group-b {
	width: 480px;
	float: left;
}

.group-a {
	border-right: 1px solid #cbcbcb;
	width: 479px;
}

#news-section-box {
	width: 460px;
	border-bottom: 1px solid #cbcbcb;
	.mediawrap {
		height: 160px;
		float: left;
	}
	img {
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

#ae-section-box {
	width: 218px;
	border-right: 1px solid #cbcbcb;
	padding-top: 20px;
	margin-right: 0;
	padding-right: 10px;
}

#lifestyle-section-box {
	padding-top: 20px;
}

#popular {
	float: right;
	min-height: 425px;
	width: 209px;
	padding-left: 10px;
	border-left: 1px solid #cbcbcb;
	ol {
		list-style: decimal;
		list-style-position: inside;
		
		li {
			margin-bottom: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
			border-bottom: 1px solid #cbcbcb;
			height: 60px;
		}
	}
	img {
		float: left;
		margin-top: 5px;
		margin-right: 10px;
	}
}

#sports-section-box {
	padding-top: 20px;
	border-top: 1px solid #cbcbcb;
}

.clear {
	float: none;
	clear: both;
}

h2 {
	font: 25px/28px "Arvo", Rockwell, serif;	
}

h3 {
	font: 18px/20px "Arvo", Rockwell, serif;	
}

h5 {
	font-weight: bold;
}


a {
	color: #323232;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#intercept {
	width: 400px;
	margin: 30px auto;
	h1 {
		font: 30px/40px "Arvo", Rockwell, serif;	
	}
	h2 {
		margin-top: 10px;
		font: 20px/30px "Arvo", Rockwell, serif;	
	}
	a:link, a:visited {
		text-decoration: underline;
	}
}

@media screen and (max-width: 959px) { 
	#featured-stories {
		width: 47%;
		margin: 0 1%;
	}
	#top-sidebar {
		width: 47%;
		margin: 0 1%;
		min-height: 640px;
	}
	.featured-story {
		width: 100%;
		float: none;
		margin: 0;
	}
	#main-story {
		width: 98%;
		margin: 0 1%;
		.story-text {
			width: 49%;
			margin-right: 0;
			float: left;
		}
		.main-story-img-wrap {
			max-height: 345px;
			width: 49%;
			overflow: hidden;
			img {
				width: 100%;
			}
			margin-left: 0;
			float: left;

		}
		margin-bottom: 20px;
	}
	
	.middle-strip-story {
		width: 31%;
		margin: 0 1%;
		float: left;
		font: 14px/18px "PT Serif", Times, serif;
		img {
			width: 46%;
			margin-right: 4%;
			float: left;
		}
		.story-text {
			width: 50%;
			float: left;
		}

	}
	.group-b {
		width: 47%;
		padding: 0 1%;
		border-left: 1px solid #cbcbcb;
	}
	.group-a {
		width: 48%;
		padding: 0 1%;
		border: none;
	}
	.section-box {
		border: none;
		height: auto;
	}
	#news-section-box, #ae-section-box, #sports-section-box, #lifestyle-section-box, #opinion-section-box {
		width: 100%;
		border: none;
		margin: 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #cbcbcb;
	}
	#popular {
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
	}
}

@media screen and (max-width: 479px) { 
	#featured-stories, #top-sidebar {
		width: 98%;
		float: none;
		margin: 5% 1%;
		padding: 0;
		border: none;
	}
	#featured-stories {
		border-bottom: 1px solid #cbcbcb;
		padding-bottom: 5%;
	}
	.group-a, .group-b {
		width: 98%;
		margin: 0 1%;
		border: none;
		float: none;
	}
	.middle-strip-story {
		width: 31%;
		margin: 0 1%;
		float: left;
		font: 14px/18px "PT Serif", Times, serif;
		img {
			width: 100%;
			margin: 0;
			float: none;
		}
		.story-text {
			width: 100%;
			float: none;
		}

	}
	
}