// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Now my stuff

body {
	font: 14px/18px "PT Serif", Times, serif;
}

#main {
	width: 960px;
	margin: 0 auto;
}

#featured-stories {
	width: 700px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.byline {
	font-style: italic;
}

#top-sidebar {
	width: 210px;
	padding-left: 10px;
	border-left: 1px solid #cbcbcb;
	float: left;
}

#main-story {
	
	.story-text {
		width: 220px;
		margin-right: 10px;
		float: left;
	}
	
	img {
		width: 460px;
		height: 250px;
		margin-left: 10px;
		float: left;
	}
	
	margin-bottom: 20px;
	
}

.featured-story {
	width: 220px;
	margin: 0 10px;
	float: left;
	
}

.featured-story.num-1 {
	margin-left: 0;
}

.featured-story.num-3 {
	margin-right: 0;
}

#middle {
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	margin: 20px 0;
	padding: 10px 0;
}

.middle-strip-story {
	width: 300px;
	margin: 0 10px;
	float: left;
	font: 14px/18px "PT Serif", Times, serif;
	
	img {
		width: 140px;
		margin-right: 10px;
		float: left;
	}
	
	.story-text {
		width: 150px;
		float: left;
	}
	
	strong {
		display: block;
		font-weight: bold;
	}
	
}


.section-box, #popular {
	width: 220px;
	height: 220px;
	margin: 0 10px;
	float: left;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	img {
		margin-top: 10px;
	}
}

.group-a, .group-b {
	width: 480px;
	float: left;
}

.group-a {
	border-right: 1px solid #cbcbcb;
	width: 479px;
}

#news-section-box {
	width: 460px;
	border-bottom: 1px solid #cbcbcb;
	img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

#ae-section-box {
	width: 218px;
	border-right: 1px solid #cbcbcb;
	padding-top: 20px;
}

#lifestyle-section-box {
	padding-top: 20px;
}

#popular {
	float: right;
	min-height: 425px;
	width: 209px;
	padding-left: 10px;
	border-left: 1px solid #cbcbcb;
	ol {
		list-style: decimal;
		list-style-position: inside;
		
		li {
			margin-bottom: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
			border-bottom: 1px solid #cbcbcb;
			height: 60px;
		}
	}
	img {
		float: left;
		margin-top: 5px;
		margin-right: 10px;
	}
}

#sports-section-box {
	padding-top: 20px;
	border-top: 1px solid #cbcbcb;
}

.clear {
	float: none;
	clear: both;
}

h2 {
	font: 25px/28px "Arvo", Rockwell, serif;	
}

h3 {
	font: 18px/20px "Arvo", Rockwell, serif;	
}

h5 {
	font-weight: bold;
}


a {
	color: #323232;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}