// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show_if_editor {
	display: none;
}

hr {
	border: none;
	height: 1px;
	background: #cbcbcb;
	margin-top: 30px;
	margin-bottom: 30px;
}

#person_sidebar {
	float: left;
	opacity: 1;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		font-weight: normal;
		text-transform: none;
		margin-bottom: 5px;
	}
	section {
		margin-bottom: 20px;
	}
	#fb, #twitter, #tumblr {
		float: left;
	}
	#tumblr {
		margin-left: 3px;
	}
	
	#popular {
		float: none;
		width: 220px;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		border: none;
	}
}

#people_wrap {
	width: 940px;
	h2 {
		color: #898989;
	}
	#profile_img {
		width: 220px;
		height: 300px;
		overflow: hidden;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		img {
			height: 300px;
		}
	}
	#body {
		width: 640px;
		padding-right: 34px;
		border-right: 1px solid #cbcbcb;
		margin-right: 35px;
	}
}