// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show_if_editor {
	display: none;
}

hr {
	border: none;
	height: 1px;
	background: #cbcbcb;
	margin-top: 30px;
	margin-bottom: 30px;
}

#person_sidebar {
	float: left;
	opacity: 1;
	h4 {
		font: 14px/14px "Arvo", Rockwell, serif;
		font-weight: normal;
		text-transform: none;
		margin-bottom: 5px;
	}
	section {
		margin-bottom: 20px;
	}
	#fb, #twitter, #tumblr {
		float: left;
	}
	#tumblr {
		margin-left: 3px;
	}

	#popular {
		float: none;
		width: 220px;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		border: none;
	}
}

#people_wrap {
	z-index: 2;
	width: 940px;
	h2 {
		color: #898989;
	}
	#profile_img {
		width: 220px;
		height: 300px;
		overflow: hidden;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		img {
			height: 300px;
		}
	}
	#body {
		width: 640px;
		padding-right: 34px;
		border-right: 1px solid #cbcbcb;
		margin-right: 35px;
	}
}

h3 em {
	font-style: italic;
}

a.person_media {
	width: 31%;
	margin: 0 1% 1em;
	float: left;
	border: none;
	position: relative;
	&:link, &:visited {
		border-bottom: none !important;
	}
	img {
		width: 100%;
	}
	.person_media_caption {
		position: absolute;
		bottom: 0;
		color: #fff;
		background: rgba(0,0,0,0.8);
	}
}

#person_big_bkgd {
	height: 600px;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.bio_with_big_bkgd {
	@media screen and (min-width: 640px) {
		margin-top: -40px;
		background: #fff;
		padding: 20px;
	}
}

@media screen and (max-width: 640px) {
	#people_wrap {
		width: 98%;
		margin: 0;
		padding: 0 1%;
		#profile_img {
			width: 100%;
			float: none;
			margin: 0;
			padding: 0;
		}
		#body {
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	#person_sidebar {
		float: none;
		display: none;
	}
}

@media screen and (max-width: 959px) {
	#people_wrap {
		width: 98%;
		margin: 0;
		padding: 0 1%;
		#profile_img {
			width: 100%;
			float: none;
			margin: 0;
			padding: 0;
		}
		#body {
			width: 63%;
			margin: 0;
			padding: 0;
			margin-right: 3%;
			padding-right: 3%;
			border: none;
		}
	}
	#person_sidebar {
		float: left;
		width: 33%;
		padding-left: 3%;
	}
}