// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section-wrap {
	width: 940px;
	margin: 0 auto;
}

#section-articles {
	width: 640px;
	float: left;
	padding-right: 39px;
	border-right: 1px solid #cbcbcb;
	margin-right: 40px;
}

#main-section-story {
	margin-bottom: 20px;
	.media {
		width: 640px;
		height: 300px;
		overflow: hidden;
		img {
			width: 640px;
		}
	}
}

.article {
	margin-bottom: 20px;
	.media {
		width: 100px;
		height: 100px;
		margin-right: 20px;
		overflow: hidden;
		img {
			width: 100px;
		}
		float: left;
	}
}

#section-sidebar {
	width: 220px;
	float: left;
	
	#popular {
		border: none;
	}
}

.pagination {
	* {
		display: block;
		float: left;
		margin: 0 5px;
	}
	a, .current {
		border: 1px solid #cbcbcb;
		height: 18px;
		width: 18px;
		text-align: center;
		padding-bottom: 2px;
	}
	a:hover {
		background: #999;
		color: #fff;
		border: 1px solid #888;
		text-decoration: none;		
	}
	.current {
		background: #999;
		color: #fff;
		border: 1px solid #888;
	}
	.next_page, .previous_page {
		height: auto;
		width: auto;
		border: none;
		&:hover {
			background: none;
			border: none;
			text-decoration: underline;
			color: #000;
		}
	}
	.disabled {
		color: #aaa;
	}
}

@media screen and (max-width: 640px) { 
	#section-wrap {
		width: 98%;
		padding: 1% 0;
	}
	#section-articles, #section-sidebar {
		float: none;
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
	}
	#main-section-story {
		.media {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

}

@media screen and (max-width: 959px) { 
	#section-wrap {
		width: 98%;
		padding: 1% 0;
	}
	#section-articles, #section-sidebar {
		margin: 0;
		padding: 0;
		float: left;
	}
	#section-articles {
		width: 63%;
		margin-right: 3%;
		padding-right: 3%;
	}
	#section-sidebar {
		width: 33%;
		padding-left: 3%;
	}
	#main-section-story {
		.media {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

}